<div class="page-content">
  <div class="page-header">
    <h1>
      Criar
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Backup Simples
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-info" type="button" (click)="Solicitar()">
        <i class="ace-icon fa fa-check bigger-110"></i>
        Salvar
      </button>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->


