<div class="ui-g">
  <div class="ui-g-12 clearfix">
    <h3 class="header smaller lighter blue">Licenças</h3>
    <p-confirmDialog></p-confirmDialog>
    <div class="clearfix">
      <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header row">
      Tabela de Licenças
    </div>
    <div>
    <div class="row">
      <p-table id="tabela" [value]="licenciados" [responsive]="true" [paginator]="true" *ngIf="visible"
        [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" class="tabela table table-striped table-bordered table-hover">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 8%;">Código</th>
            <th style="width: 15%;">Razao Social</th>
            <th style="width: 40%;">Licenciado Para</th>
            <th style="width: 15%;">CNPJ</th>
            <th style="width: 15%;">Telefone</th>
            <th style="width: 15%;">Tipo de Licenca</th>
            <th style="width: 7%; text-align: center;">Opções</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-licenciado>
          <tr>
            <td style="text-align: center;">{{licenciado.codigo}}</td>
            <td><a [routerLink]="['/ferramentas/listalicenciado', licenciado.codigo]">{{licenciado.razaosocial}}</a></td>
            <td>{{licenciado.licenciadopara}}</td>
            <td>{{licenciado.cnpj}}</td>
            <td>{{licenciado.telefone1}}</td>
            <td>{{licenciado.tipodelicenca}}</td>
            <td>
              <a class="tooltip-success" data-rel="tooltip" title="Editar" [routerLink]="['/ferramentas/listalicenciado', licenciado.codigo]">
                <span class="blue">
                  <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                </span>
              </a>

              <a class="tooltip-error" data-rel="tooltip" title="Excluir" (click)="ConfirmarExclusao(licenciado)">
                <span class="red">
                  <i class="ace-icon fa fa-trash-o bigger-120"></i>
                </span>
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" style="text-align: right;">
      <button pButton type="button" label="Adicionar" routerLink="/ferramentas/listalicenciado/novo"></button>
    </div>
  </div>
</div>
