.principal {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
}

.telaimagem {
  margin-top: 0.1%;
  width: 100%;
  height: 90.5%;
}

.image-canvas {
  width: 100%;
  height: 100%;
}

:host /deep/ p-toolbar .ui-toolbar {
  background-color: #20272a;
  border: 1px solid #000;
  border-radius: 0;
}

:host /deep/ p-splitbutton .ui-splitbutton {
  margin-left: 3px;
  margin-right: 3px;
}

:host /deep/ p-button .ui-button {
  margin-left: 3px;
  margin-right: 3px;
}
