<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>

<p-dialog header="Exames e Procedimentos Médicos" [(visible)]="display" [style]="{width: '788px', height: '365px'}">
  <div class="corpo">
    <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()" class="formulario">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div class="linhas">
            <div class="blocodalinha" style="width: 10%;">
              <label>Código</label>
              <input [readonly]= "true" type="text" pInputText ng-model="text" name="codigo"
                formControlName="codigo">
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;">
              <label>Nome</label>
              <input id="nome" style="width: 100%; text-transform: uppercase;" pInputTextarea
                ng-model="text" name="nome" formControlName="nome"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" formGroupName="grupo" style="width: 50%">
              <label>Grupo</label>
              <p-dropdown id="grupo" [style]="{'width': '97%', 'line-height':'60%', 'border-radius':'2px',
                'border': '1px solid rgb(110, 110, 110)'}"
                required formControlName="codigo" [options]="grupos" placeholder="Selecione o grupo"
                name="grupo"></p-dropdown>
            </div>

            <div class="blocodalinha">
              <label style="opacity: 1%;">_</label>
              <button type="button" class="minibotao" routerLink="/listagrupoexame/novo">
                <img src="assets/img/FKEY_WINDOW.png">
              </button>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado" style="margin-right: 10px;">
          <img src="assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" routerLink="/listaexameprocmedico/novo">
          <img src="assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar()">
          <img src="assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/listaexameprocmedico">
          <img src="assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>




