.icone {
  font-size: 22px;
  vertical-align: unset;
  margin: 0 auto;
	color: #007ad9;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

:host /deep/ p-paginator .ui-paginator-bottom {
  box-sizing: border-box;
  border-top: 1px solid rgb(192, 184, 184);
}
