<div style="width: 100%; background-color: #ffffff;">
  <p-accordion>
    <p-accordionTab header="Dados do paciente">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 25%;">
            <label>Altura (cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo1">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Peso (kg)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo2">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Superfície corporal (m²)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo3">
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 25%;">
            <label>Frequência cardíaca (btm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo4">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Parâmetros estruturais">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocoalternativo" style="width: 80%;">
            <div style="width: 57%;"></div>

            <div style="width: 23%;">
              <span>Referência</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Aorta (diâmetro da raiz)</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo5">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo6">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Átrio esquerdo</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo7">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo8">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Diâmetro ventricular direito</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo9">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo10">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Diâmetro diastólico  final do VE</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo11">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo12">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Diâmetro sistólico final do VE</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo13">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo14">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Espessura diastólica de septo</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo15">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo16">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Espessura  diastólica da PPVE</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo17">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo18">
            </div>

            <div class="alinharmm">
              <span>mm</span>
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Volume AE</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo19">
            </div>

            <div class="alinharmm">
              <span>cm³</span>
            </div>

            <div class="alinharcampo">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo20">
            </div>

            <div class="alinharmm">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 80%;">
            <div class="alinhartexto">
              <span>Fórmula da massa</span>
            </div>

            <div class="alinharcampo" style="width: 22.4%;">
              <p-dropdown [style]="{'min-width': '98%'}" [options]="formula" [filter]="true"
                [(ngModel)]="camposdolaudo.campo21" #codigoprofexecutante="ngModel"
                placeholder="Selecione..."></p-dropdown>
            </div>

            <div class="alinharmm"></div>

            <div class="alinharcampo"></div>

            <div class="alinharmm"></div>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Relações e funções ventriculares">
      <div style="display: inline-flex;">
        <div style="width: 49%;">
          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Rel. Át. Est/Aor.</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo22">
            </div>

            <div style="width: 10%;"></div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo23">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Fração de Ej. (Teicholz)</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo26">
            </div>

            <div style="width: 10%;">
              <span>%</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo27">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Massa Vent. esq.</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo30">
            </div>

            <div style="width: 10%;">
              <span>g</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo31">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Índice de Massa</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo34">
            </div>

            <div style="width: 10%;">
              <span>g/m²</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo35">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>% de Enc. da Cav.</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo38">
            </div>

            <div style="width: 10%;">
              <span>%</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo39">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Rel. Septo/PPVE</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo41">
            </div>

            <div style="width: 10%;"></div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo42">
            </div>
          </div>
        </div>

        <div style="width: 49%;">
          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Vol. Dias. Final</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo24">
            </div>

            <div style="width: 10%;">
              <span>ml</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo25">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Vol. Sist.</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo28">
            </div>

            <div style="width: 10%;">
              <span>ml</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo29">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Rel. Vol. Massa</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo32">
            </div>

            <div style="width: 10%;">
              <span>ml/g</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo33">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Vol. Dias. Final</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo36">
            </div>

            <div style="width: 10%;">
              <span>ml</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo37">
            </div>
          </div>

          <div class="blocoalternativo" style="width: 100%;">
            <div style="width: 40%; text-align: right; margin-right: 3px;">
              <span>Enter Ir p/ Imp. diag.</span>
            </div>

            <div style="width: 20%;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo40">
            </div>

            <div style="width: 10%;"></div>

            <div style="width: 20%;"></div>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Comentários ecocardiográficos">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textoaux" [filter]="true"
        [(ngModel)]="camposdolaudo.campo43" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo44" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textoaux" [filter]="true"
        [(ngModel)]="camposdolaudo.campo45" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo46" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div style="width: 100%;">
        <div class="linhas">
          <label>Profissional Executante</label>
          <p-dropdown [options]="executantes" [filter]="true" [(ngModel)]="codigoexecutante" #codigoprofexecutante="ngModel" name="codigoprofexecutante"
            placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

