<p-dialog header="Atendimentos" [(visible)]="display" [style]="{width: '788px', height: '435px'}">
  <div class="menubuscar">
    <div class="linhas">
      <div style="width: 8%; text-align: right; padding-right: 2px;">
        <label>Buscar</label>
      </div>

      <div style="width: 40%;">
        <input style="width: 100%; height: 28px;" id="buscando" pInputText ng-model="text"
        [(ngModel)]="campotextobuscar" name="campotextobuscar" (keypress)="BuscaDinamica()"/>
      </div>

      <div style="width: 8%; text-align: right; padding-right: 3px;">
        <label>Campo</label>
      </div>

      <div style="width: 18%;">
        <p-dropdown [style]="{'line-height': '68%', 'width': '100%',
          'border': '1px solid #428bca', 'border-radius': '2px'}" id="codigodrop" [options]="dropbusca"
          (onChange)="BuscaDinamica()" [(ngModel)]="camposelecionado" name="camposelecionado"></p-dropdown>
      </div>

      <div style="width: 8%; text-align: center;">
        <label>Laudo</label>
        </div>

      <div style="width: 18%;">
        <p-dropdown [style]="{'line-height': '68%', 'width': '125px',
          'border': '1px solid #428bca', 'border-radius': '2px'}" id="codigostatus"
          [options]="laudoperiodo"></p-dropdown>
      </div>
    </div>

    <div class="linhas">
      <div class="blocodalinha" style="width: 8%; text-align: right; padding-right: 2px;">
        <label>Período</label>
      </div>

      <div class="blocodalinha" style="width: 40%;">
        <p-dropdown [style]="{'line-height': '68%', 'width':'100%',
          'border': '1px solid #428bca', 'border-radius': '2px'}"
          id="codigoperiodo" [options]="dropperiodo" (onChange)="BuscaDinamica()"
          [(ngModel)]="periodoselecionado" name="periodoselecionado"></p-dropdown>
      </div>

      <div class="blocodalinha" style="width: 8%; text-align: right; padding-right: 3px;">
        <label>Data</label>
      </div>

      <div class="blocodalinha" style="width: 18%; height: 28px;">
        <p-calendar dateFormat="dd/mm/yy" [style]="{'width': '131px', 'height': '28px',
        'border': '1px solid #428bca', 'position':'fixed', 'z-index':'1008','border-radius':'2px'}"
        name="datainicio" [(ngModel)]="filtro.datainicial"></p-calendar>
      </div>

      <div class="blocodalinha" style="width: 8%; text-align: center;">
        <label>até</label>
      </div>

      <div class="blocodalinha" style="width: 18%; height: 28px;">
        <p-calendar dateFormat="dd/mm/yy" name="datafim" [(ngModel)]="filtro.datafinal"
          [style]="{'width': '125px', 'height': '28px', 'border': '1px solid #428bca',
          'position':'fixed', 'z-index':'1008','border-radius':'2px'}"></p-calendar>
      </div>
    </div>
  </div>

  <div class="table-responsive corpo">
    <p-table [value]="atendimentos" [scrollable]="true"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      selectionMode="single" [(selection)]="atendimento" dataKey="codigo">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Código</th>
          <th style="width: 50%;">Paciente</th>
          <th style="width: 20%;">Convênio</th>
          <th style="width: 20%;" class="col-valor-header">Data do Cadastro</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-atendimento>
        <tr [pSelectableRow]="atendimento">
          <td style="text-align: right; width: 10%;">{{atendimento?.codigo}}</td>
          <td style="text-transform: uppercase; width: 50%;">{{atendimento?.paciente?.nome}}</td>
          <td style="width: 20%; text-transform: uppercase;">{{atendimento?.convenio?.nome}}</td>
          <td style="width: 20%;" class="col-data">{{ atendimento?.dataatendimento | date:'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhuma Imagem Dicom encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="botoes">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal" (click)="PrimeiraSelecao()">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="AnteriorSelecao()">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="ProximaSelecao()">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="UltimaSelecao()" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/operacoes/atendimento/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="AtivarExcluir()">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/home">
          <img src="/assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/VISUALIZAR.png">
          <span>Visualizar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog class="excluir" header="Excluir {{atendimento?.paciente?.nome}}" [(visible)]="exclusao"
  [baseZIndex]="10001" [style]="{width: '30vw'}">
  <span>DESEJA EXCLUIR O REGISTRO => {{atendimento?.paciente?.nome}}?</span>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" *ngIf="atendimento?.paciente?.codigo != null"
      (click)="Excluir()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="exclusao=false" label="No"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
