<p-dialog header="Atendimentos" [(visible)]="display" [baseZIndex]="10000">
  <div class="menubuscar">
    <form #f="ngForm" autocomplete="off" class="formu" style="margin-top: 5px;">
      <div class="lines">
        <label style="margin-top: 1px;">Buscar</label>
        <input id="buscando" pInputText ng-model="text" (keypress)="BuscaDinamica()"/>

        <label>no campo</label>
        <p-dropdown id="codigodrop" [options]="camposbusca"></p-dropdown>

        <label>laudo</label>
        <p-dropdown id="codigostatus" [options]="status"></p-dropdown>

        <button class="botaoatualizar" (click)="Atualizar()">
          <span>Atualizar</span>
        </button>
      </div>

      <div class="lines">
        <label>no período de: </label>
        <p-dropdown id="codigoperiodo" [options]="periodo"></p-dropdown>

        <label style="margin-top: 1px;">Data Inicial</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '113px' }" name="datainicio" [(ngModel)]="filtro.datainicial"></p-calendar>

        <label style="margin-top: 1px;">Data final</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '113px' }" name="datafim" [(ngModel)]="filtro.datafinal"></p-calendar>

        <label>ver</label>
        <p-dropdown id="resultados" [options]="quantidades"></p-dropdown>
      </div>
    </form>
  </div>

  <div class="table-responsive corpo">
    <p-table [value]="atendimentos" [responsive]="true" (onRowSelect)="onRowSelect($event)"
      class="table table-striped table-bordered table-hover" [scrollable]="true" [virtualScroll]="true"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      selectionMode="single" [(selection)]="atendimento" dataKey="codigo">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Código</th>
          <th style="width: 50%;">Paciente</th>
          <th style="width: 20%;">Convênio</th>
          <th style="width: 20%;" class="col-valor-header">Data do Cadastro</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-atendimento>
        <tr [pSelectableRow]="atendimento">
          <td style="text-align: right; width: 10%;">{{atendimento?.codigo}}</td>
          <td style="text-transform: uppercase; width: 50%;">{{atendimento?.patient?.patientname}}</td>
          <td style="width: 20%; text-transform: uppercase;">{{atendimento?.convenio?.nome}}</td>
          <td style="width: 20%;" class="col-data">{{ atendimento?.dataatendimento | date:'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/operacoes/atendimento/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="AtivarExcluir()">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/CANCELAR.png">
          <span>Cancelar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/VISUALIZAR.png">
          <span>Visualizar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog header="Excluir {{atendimento?.patient?.patientname}}" [(visible)]="exclusao" [baseZIndex]="10001" [style]="{width: '20vw'}">
  <span>DESEJA EXCLUIR O REGISTRO => {{atendimento?.patient?.patientname}}?</span>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" *ngIf="atendimento?.patient?.idpatient != null" (click)="Excluir()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="exclusao=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
