<p-dialog header="Atendimentos" [(visible)]="display">
  <div class="menubuscar">
    <form #f="ngForm" autocomplete="off" class="formu" style="margin-top: 5px;">
      <div class="linhas">
        <div class="blocodalinha" style="width: 50%;">
          <label style="margin-right: 8px;">Buscar</label>
          <input style="width: 83%; height: 27px;" id="buscando" pInputText ng-model="text"
          [(ngModel)]="campotextobuscar" name="campotextobuscar" (keypress)="BuscaDinamica()"/>
        </div>

        <div class="blocodalinha" style="width: 25%;">
          <label style="margin-right: 2px;">Campo</label>
          <p-dropdown [style]="{'line-height': '12px', 'min-width': '70%'}" id="codigodrop" [options]="dropbusca"
            (onChange)="BuscaDinamica()" [(ngModel)]="camposelecionado" name="camposelecionado"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 25%;">
          <label style="margin-right: 2px;">Laudo</label>
          <p-dropdown [style]="{'line-height': '12px', 'min-width': '76%'}" id="codigostatus"
            [options]="laudoperiodo"></p-dropdown>
        </div>
      </div>

      <div class="linhas" style="margin-top: 2px;">
        <div class="blocodalinha" style="width: 50%;">
          <label style="margin-right: 2px;">Período</label>
          <p-dropdown [style]="{'line-height': '12px', 'min-width':'82.8%', 'margin-top': '2px'}"
            id="codigoperiodo" [options]="dropperiodo" (onChange)="BuscaDinamica()"
            [(ngModel)]="periodoselecionado" name="periodoselecionado"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 25%;">
          <label style="margin-left: 15.8px; margin-right: 2px;">Data</label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{  'width': '131px', 'height': '24px',
            'border': '1px solid #428bca', 'border-radius': '2px' }" name="datainicio"
            [(ngModel)]="filtro.datainicial"></p-calendar>
        </div>

        <div class="blocodalinha" style="width: 25%;">
          <label style="margin-left: 20px; margin-right: 2px;">até</label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ 'width': '143px', 'height': '24px',
            'border': '1px solid #428bca', 'border-radius': '2px' }"
             name="datafim" [(ngModel)]="filtro.datafinal"></p-calendar>
        </div>
      </div>
    </form>
  </div>

  <div class="table-responsive corpo">
    <p-table [value]="atendimentos" [scrollable]="true"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      selectionMode="single" [(selection)]="atendimento" dataKey="codigo">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Código</th>
          <th style="width: 50%;">Paciente</th>
          <th style="width: 20%;">Convênio</th>
          <th style="width: 20%;" class="col-valor-header">Data do Cadastro</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-atendimento>
        <tr [pSelectableRow]="atendimento">
          <td style="text-align: right; width: 10%;">{{atendimento?.codigo}}</td>
          <td style="text-transform: uppercase; width: 50%;">{{atendimento?.paciente?.nome}}</td>
          <td style="width: 20%; text-transform: uppercase;">{{atendimento?.convenio?.nome}}</td>
          <td style="width: 20%;" class="col-data">{{ atendimento?.dataatendimento | date:'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhuma Imagem Dicom encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal" (click)="PrimeiraSelecao()">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="AnteriorSelecao()">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="ProximaSelecao()">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="UltimaSelecao()" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/operacoes/atendimento/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="AtivarExcluir()">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/home">
          <img src="/assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/VISUALIZAR.png">
          <span>Visualizar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog class="excluir" header="Excluir {{atendimento?.paciente?.nome}}" [(visible)]="exclusao"
  [baseZIndex]="10001" [style]="{width: '30vw'}">
  <span>DESEJA EXCLUIR O REGISTRO => {{atendimento?.paciente?.nome}}?</span>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" *ngIf="atendimento?.paciente?.codigo != null"
      (click)="Excluir()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="exclusao=false" label="No"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
