<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="header smaller lighter blue">CBHPM</h3>
    <div class="clearfix">
      <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header row">
      Tabela de CBHPM
    </div>
    <div>
    <div class="row">
      <p-table id="tabela" [value]="lista" [responsive]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" class="table table-striped table-bordered table-hover"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="center" style="width: 8%;">Código</th>
            <th class="center" style="width: 8%;">SKU</th>
            <th class="center" style="width: 15%;">Procedimento</th>
            <th class="center" style="width: 40%;">Valor Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cbhpm>
          <tr>
            <td class="center" style="text-align: center;">{{cbhpm.codigo}}</td>
            <td class="center">{{cbhpm.sku}}</td>
            <td class="center">{{cbhpm.procedimento}}</td>
            <td class="center">{{cbhpm.valortotal}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


