<div class="card">
  <div class="card-body">
    <div class="row">
      <p-table id="tabela" [value]="listacrm" [responsive]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" class="table table-responsive-sm table-hover table-outline mb-0"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 8%;">Código</th>
            <th style="width: 15%;">CRM</th>
            <th style="width: 40%;">Nome</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lista>
          <tr>
            <td style="text-align: center;">{{lista.codigo}}</td>
            <td>{{lista.crm}}</td>
            <td>{{lista.nome}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
