<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="header smaller lighter blue">CRM</h3>
    <div class="clearfix">
      <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header row">
      Tabela de CRM
    </div>
    <div>
    <div class="row">
      <p-table id="tabela" [value]="listacrm" [responsive]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" class="table table-striped table-bordered table-hover"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="center" style="width: 8%;">Código</th>
            <th class="center" style="width: 15%;">CRM</th>
            <th class="center" style="width: 40%;">Nome</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lista>
          <tr>
            <td class="center" style="text-align: center;">{{lista.codigo}}</td>
            <td class="center">{{lista.crm}}</td>
            <td class="center">{{lista.nome}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
