<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">Especialidade Médica</h3>
    <div class="clearfix">
      <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header row">
      Tabela de Especialidade Médicas
    </div>
    <div>
    <div class="row">
      <p-table id="tabela" [value]="especialidades" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina" class="table table-striped table-bordered table-hover"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="center" style="width: 8%;">Código</th>
            <th class="center" style="width: 15%;">Descrição</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-especialidade>
          <tr>
            <td class="center" style="text-align: center;">{{especialidade.codigo}}</td>
            <td class="center">{{especialidade.nome}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

