<div class="grupo">
  <div class="classe">
      <div class="ui-g">
        <h3>Epecialidade Médica</h3>
        <div>
          <p-table id="tabela" [value]="especialidades" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
            [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 8%;">Código</th>
                    <th style="width: 15%;">Descrição</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-especialidade>
                <tr>
                    <td style="text-align: center;">{{especialidade.codigo}}</td>
                    <td>{{especialidade.nome}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
      </div>

    </div>
</div>
