<p-dialog header="Pacientes" [(visible)]="display">
  <div class="corpo">
    <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div style="width: 75%; float: left;">
            <div class="linhas">
              <div class="blocodalinha" style="width: 25%;">
                <label>Código</label>
                <input style="width: 95%;" [readonly]= "true" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
              </div>

              <div class="blocodalinha" style="width: 25%;">
                <label>Data Cad.</label>
                <p-calendar id="datadecadastro" [showOnFocus]="false" [readonlyInput]="true" placeholder="00/00/0000" dateFormat="dd/mm/yy"
                  name="datacriacao" formControlName="datacriacao" [inputStyle]="{ 'width': '95%', 'height': '20px', 'border-radius': '2px' }"></p-calendar>
              </div>
            </div>

            <div class="linhas">
              <div class="blocodalinha" style="width: 98.7%;">
                <label>Nome</label>
                <input style="text-transform: uppercase;" type="text" pInputText ng-model="text" name="nome" formControlName="nome">
              </div>
            </div>

            <div class="linhas">
              <div class="blocodalinha" style="width: 25%;">
                <label>Sexo</label>
                <input style="text-transform: uppercase; width: 95%;" type="text" pInputText ng-model="text" name="sexo" formControlName="sexo">
              </div>

              <div class="blocodalinha" style="width: 25%;">
                <label>Data Nasc.</label>
                <p-calendar placeholder="00/00/0000" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" [style]="{'position': 'fixed', 'z-index': '100'}"
                yearRange="1930:2020"  name="datanasc" formControlName="datanasc" [inputStyle]="{ 'width': '75%', 'height': '20px', 'border-radius': '2px' }"></p-calendar>
              </div>

              <div class="blocodalinha" formGroupName="contato" style="width: 25%;">
                <label>Telefone</label>
                <p-inputMask placeholder="telefone" mask="(99) 9 9999-9999" name="telefone" formControlName="telefone"></p-inputMask>
              </div>

              <div class="blocodalinha" formGroupName="contato" style="width: 24%;">
                <label>Telefone 2</label>
                <p-inputMask placeholder="telefone" mask="(99) 9999-9999" name="telefone2" formControlName="telefone2"></p-inputMask>
              </div>
            </div>

            <div class="linhas" formGroupName="contato">
              <div class="blocodalinha" style="width: 98.7%;">
                <label>E-mail</label>
                <input pInputText ng-model="text" name="email" formControlName="email"/>
              </div>
            </div>
          </div>

          <div style="border: 1px solid; width: 25%; float: right; height: 200px;">

          </div>
        </p-tabPanel>

        <p-tabPanel header="Endereço e observações">
          <div class="linhas" formGroupName="endereco">
            <div class="blocodalinha" style="width: 12%;">
              <label>CEP</label>
                <p-inputMask mask="99.999-999" name="cep" formControlName="cep"></p-inputMask>
            </div>

            <div class="blocodalinha" style="width: 6%;">
              <label style="opacity: 1%;">.</label>
              <button type="button" class="minibotao">
                <img src="assets/img/FKEY_WINDOW.png">
              </button>
            </div>


            <div class="blocodalinha" style="width: 12%;">
              <label>Estado</label>
              <input pInputText ng-model="text" name="estado" formControlName="estado" style="width: 90%;"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Cidade</label>
              <input style="width: 95%; text-transform: uppercase;" pInputText ng-model="text" name="cidade" formControlName="cidade"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Bairro</label>
              <input style="text-transform: uppercase;" pInputText ng-model="text" name="bairro" formControlName="bairro"/>
            </div>
          </div>

          <div class="linhas" formGroupName="endereco">
            <div class="blocodalinha" style="width: 18%">
              <label>tipo</label>
              <input pInputText ng-model="text" name="logradouro" style="width: 95%;"/>
            </div>

            <div class="blocodalinha" style="width: 47%;">
              <label>Logradouro</label>
              <input style="width: 96%; text-transform: uppercase;" pInputText ng-model="text" name="logradouro" formControlName="logradouro"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Complemento</label>
              <input style="text-transform: uppercase;" pInputText ng-model="text" name="complemento" formControlName="complemento"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;">
              <label>Observações</label>
              <textarea style="width: 100% ; height: 110px; text-transform: uppercase;" pInputTextarea ng-model="text" name="observacoes" formControlName="observacoes"></textarea>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado" style="margin-right: 10px;">
          <img src="assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/listapaciente/novo">
          <img src="assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar()">
          <img src="assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/listapaciente">
          <img src="assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>
