<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>

<p-dialog header="Profissional Solicitante" [(visible)]="display">
  <div class="corpo">
    <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div class="linhas">
            <div class="blocodalinha" style="width: 20%;">
              <label>Código</label>
              <input style="width: 95%;" [readonly]= "true" type="text" pInputText ng-model="text"
                name="codigo" formControlName="codigo">
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" formGroupName="conselho" style="width: 25%;">
              <label>Sigla</label>
              <div formGroupName="sigla">
                <p-dropdown id="sigla" [style]="{'line-height':'11.5px','position': 'fixed','z-index': '999',
                 'border': '1px solid rgb(110, 110, 110)'}" name="sigla" [options]="siglas" class="ng-dirty ng-invalid"
                  required formControlName="codigo" placeholder="Selecione a sigla" id="sigla"></p-dropdown>
              </div>
            </div>

            <div class="blocodalinha" formGroupName="conselho" style="width: 25%;">
              <label>UF</label>
              <div formGroupName="estado">
                <p-dropdown id="uf" [style]="{'line-height': '11.5px', 'position': 'fixed',
                  'z-index': '999', 'border': '1px solid rgb(110, 110, 110)'}" required
                  formControlName="codigo" [options]="estados" placeholder="Selecione o estado"
                  name="estado" id="estado"></p-dropdown>
              </div>
            </div>

            <div class="blocodalinha" formGroupName="conselho" style="width: 25%;">
              <label>N. Cons.</label>
              <input id="conselho" type="text" placeholder="num. do conselho" pInputText
                ng-model="text" name="descricao" formControlName="descricao" id="conselho">
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;">
              <label>Nome</label>
              <input id="nome" style="width: 100%; text-transform: uppercase;" pInputTextarea
                ng-model="text" name="nome" formControlName="nome" id="nome"/>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado" style="margin-right: 10px;">
          <img src="assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/listaprofsolicitante/novo">
          <img src="assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar()">
          <img src="assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/listaprofsolicitante">
          <img src="assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>
