.geral {
  color: #fff;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  position: fixed;
}

.topoprocedimento {
  width: 100%;
  background-color: #607D8B;
  height: 4.8%;
  box-sizing: border-box;
  z-index: 100;
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26), 0 2px 5px 0 rgba(0, 0, 0, 0.46);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.70), 0 2px 5px 0 rgba(0, 0, 0, 0.40);
}

.linhas {
  width: 100%;
  display: table;
}

.blocodalinha {
  display: inline-table;
}

.blocodalinha label {
  color: #fff;
  font-family: Source Sans Pro Semibold;
  font-size: 110%;
}

.painelgerallaudo {
  width: 100%;
  height: 95%;
  padding-top: 4px;
  display: flex;
}

.painelesquerda {
  width: 68%;
  height: 100%;
}

.paineldireita {
  width: 32%;
  height: 100%;
  color: rgb(75, 71, 71);
  border-left: solid 1px;
}

#divisoria {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #283134;
}

.carrosselimg {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #585454;
}

.painelcarrossel {
  height: 10%;
  width: 100%; border: 1px solid;
}

.painelbotoesgrav {
  border: 1px solid;
  width: 100%;
  height: 7%;
  display: inline-table;
}

.tabelavideo {
  width: 100%;
  height: 53%;
  display: inline-flex;
}

.quantidadevideo {
  width: 30%;
  height: 30px;
  float: right;
  border: 1px solid #4b4848;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}


.thumbnail-wrapper {
  display:inline-block;
  position:relative;
}

.thumbnail-wrapper button {
  position:absolute;
  top:90%;
  left:90%;
  -webkit-transform:translate3d(-50%, -50%, 0);
  -moz-transform:translate3d(-50%, -50%, 0);
  transform:translate3d(-50%, -50%, 0);
}

.thumbnail-wrapper button i{
  font-size: 140%;
}

.botaosair {
  width: 65px;
  font-size: 78%;
  font-weight: bold;
  color: rgb(73, 71, 71);
  background-color: rgb(233, 233, 233);
  text-align: center;
  text-shadow: 0 -1px -1px rgba(0,0,0,.2)!important;
  border: 1px solid #949393;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  line-height: 1.7;
  position: relative;
  margin: 0 auto;
}

.botaosair:hover {
  background-color: rgb(255, 249, 249);
  border: 1px solid rgb(80, 78, 78);
}

.botaosair > img {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.botaosair > a {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.botaoprincipal {
  width: 65px;
  display: inline-grid;
  font-size: 78%;
  font-weight: bold;
  color: rgb(73, 71, 71);
  background-color: rgb(233, 233, 233);
  text-align: center;
  text-shadow: 0 -1px -1px rgba(0,0,0,.2)!important;
  border: 1px solid #949393;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  padding: 2px 0 2px;
  line-height: 1.7;
  position: relative;
  margin: 0 auto;
}

.botaoprincipal:hover {
  background-color: rgb(255, 249, 249);
  border: 1px solid rgb(80, 78, 78);
}

.botaoprincipal > img {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.botaoprincipal > a {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.quantidadedoarray {
  width: 30%;
  float: right;
  height: 65px;
  border: 1px solid #4b4848;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#quantidade {
  color: #428bca;
  font-weight: bold;
}

.imagem {
  width: 40%;
  height: 70px;
}

.conta {
	overflow-x: auto;
  white-space: nowrap;
  display: inline;
}


.minibotao {
  color: rgb(73, 71, 71);
  background-color: rgb(233, 233, 233);
  text-shadow: 0 -1px -1px rgba(0,0,0,.2)!important;
  border: 1px solid #949393;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  line-height: 1.7;
  margin: 0 auto;
  margin-right: 5px;
}

.minibotao:hover {
  background-color: rgb(255, 249, 249);
  border: 1px solid rgb(80, 78, 78);
}

.quantidadevideo {
  width: 30%;
  height: 30px;
  float: right;
  border: 1px solid #4b4848;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#quantidadevideo {
  color: #696c6e;
  font-weight: bold;
}
