<p-confirmDialog></p-confirmDialog>
<div class="geral">
  <div class="topoprocedimento">
    <form #f="ngForm" autocomplete="off" class="formu">
      <div class="linhas">
        <div class="blocodalinha" style="width: 40%;">
          <label>Atendimento </label>
          <p-dropdown [options]="atendimentos" [filter]="true" [(ngModel)]="atendimento.codigo"
            #atendimentocodigo="ngModel" name="atendimentocodigo" placeholder="Selecione..."
            (onChange)="CarregarProcedimentos()" [style]="{'line-height': '12px', 'width': '78%'}"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 55%;">
          <label>Procedimento selecionado </label>
          <p-dropdown [options]="procedimentosAtd" [filter]="true" [(ngModel)]="procedimento.codigo"
            #procedimentoselecionado="ngModel" name="procedimentoselecionado" placeholder="Selecione..."
            (onChange)="ConfigurarVariavel()" [style]="{'line-height': '12px', 'width': '70%'}"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 5%;" *ngIf="!abrirpaginaimg">
          <button class="botaosair" routerLink="/home">
            <img src="/assets/img/SAIR.png">
            <span>Sair</span>
          </button>
        </div>

        <div class="blocodalinha" style="width: 5%;" *ngIf="abrirpaginaimg">
          <button class="botaosair" (click)="EscolherLaudo()">
            <img src="/assets/img/VOLTAR.png">
            <span>Voltar</span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="painelgerallaudo" id="painelgerallaudo">
    <div class="painelesquerda">
      <div id="divisoria">
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [height]="PegaLargura()" [width]="PegaLargura()" [videoOptions]="videoOptions"
        [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>
      </div>
    </div>

    <div class="paineldireita">
      <div class="carrosselimg">
        <p-carousel [value]="procedimento?.listaimagem" [numVisible]="1" [numScroll]="1" (onPage)="PegarPagina($event)">
          <ng-template let-web pTemplate="item">
            <div class="thumbnail-wrapper">
              <img style="width: 100%; height: 165px;" [src]="web?.imagem?.imageAsDataUrl"/>
              <button class="btn btn-outline-warning" title="Excluir" (click)="ConfirmarExclusao(web)"><i class="fa fa-fw fa-trash-o"></i></button>
            </div>
          </ng-template>
        </p-carousel>
      </div>

      <div style="border: 1px solid; width: 100%;">
        <p-toolbar>
          <div style="display: inline-flex; float: left;">
            <button class="botaoprincipal" style="padding-top: 15px; padding-bottom: 15px;"
               routerLink="/operacoes/editarimagem" type="button">

              <img src="/assets/img/IMG_EDIT.png">
              <span>Editar</span>
            </button>

            <button disabled="true" type="button" class="botaoprincipal">
              <span>Importar</span>
              <span>ou</span>
              <span>Mover</span>
            </button>
          </div>

          <div class="quantidadedoarray">
            <div id="quantidade">
              <span>{{item}} de {{procedimento?.listaimagem?.length}}</span>
            </div>

          </div>
        </p-toolbar>
      </div>

      <div style="border: 1px solid; width: 100%; display: inline-table;">
        <button type="button" class="minibotao">
          <img src="/assets/img/RECORD_RED.png">
        </button>

        <button type="button" class="minibotao">
          <img src="/assets/img/PAUSE.png">
        </button>

        <button type="button" class="minibotao">
          <img src="/assets/img/SOUND_OFF.png">
        </button>

        <button type="button" class="minibotao">
          <img src="/assets/img/TV_CAPTURA.png">
        </button>

        <div class="quantidadevideo">
          <div id="quantidadevideo">
            <span>00:00:00</span>
          </div>
        </div>
      </div>

      <div style="border: 1px solid; width: 100%;">
        <p-toolbar>
          <button class="botoes" type="button" (click)="TiraFoto();" *ngIf="verifica">Capturar</button>

          <button class="botoes" (click)="toggleWebcam();">Alternar</button>
          <button class="botoes" type="button" (click)="GravandoImagens();" *ngIf="verifica">Salvar</button>
          <button class="botoes" (click)="MostrarLaudo();">Mostrar Laudo</button>
        </p-toolbar>
      </div>

      <div class="tabelavideo">
        <div style="width: 100%; height: 100%; border: 1px solid rgb(48, 46, 46);">
          <p-table [value]="videos" class="table table-striped table-bordered table-hover"
          [scrollable]="true" scrollHeight="154px">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 50%;">Vídeo</th>
                <th style="width: 25%;">Duração</th>
                <th style="width: 25%;">Tamanho</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-video>
              <tr>
                <td style="width: 50%;">{{video?.codigo}}</td>
                <td style="width: 25%;">{{video?.nome}}</td>
                <td style="width: 25%;">{{video?.telefone}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">
                  Nenhum Vídeo Encontrado
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>


