<p-confirmDialog></p-confirmDialog>
<div class="geral">
  <div class="topoprocedimento">
    <div class="linhas">
      <form #f="ngForm" autocomplete="off" class="formularios">
        <div style="width: 40%;">
          <span style="font-weight: bold; margin-right: 5px; margin-left: 5px;">Atendimento:</span>
          <p-dropdown [options]="atendimentos" [filter]="true" [(ngModel)]="atendimento"
            #atendimentocodigo="ngModel" name="atendimentocodigo" placeholder="Selecione..."
            (onChange)="CarregarProcedimentos()" [style]="{'line-height': '50%', 'width': '78%'}"></p-dropdown>
        </div>

        <div style="width: 55%;">
          <p-dropdown [options]="procedimentosAtd" [filter]="true" [(ngModel)]="procedimento"
            #procedimentoselecionado="ngModel" name="procedimentoselecionado" placeholder="Selecione..."
            (onChange)="BuscarImagens()" [style]="{'line-height': '50%', 'width': '95%'}"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 5%;">
          <button class="botaosair" routerLink="/home" (click)="GravandoImagens()">
            <img src="assets/img/SAIR.png">
            <span>Sair</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="painelgerallaudo" id="painelgerallaudo">
    <div class="painelesquerda">
      <div id="divisoria">
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [height]="PegaLargura()" [width]="PegaLargura()" [videoOptions]="videoOptions"
        [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>
      </div>
    </div>

    <div class="paineldireita">
      <div class="paineldedentro">
        <div class="carrosseldeimagens">
          <p-carousel [value]="procedimento?.listaimagem" [page]="paginafoto - 1">
            <ng-template let-web pTemplate="item">
              <img style="width: 100%; height: 100%;" [src]="web?.imagem?.imageAsDataUrl"/>
            </ng-template>
          </p-carousel>
        </div>

        <div class="botoesdeeditar">
          <div class="botaoeditar">
            <button type="button" class="botaoprincipal desabilitado">
              <img src="assets/img/IMG_EDIT.png">
              <span>Editar</span>
            </button>
          </div>

          <div class="botaoeditar">
            <button type="button" class="botaoprincipal desabilitado" style="background-color: #FFFF14;">
              <span>Importar</span>
              <span>ou</span>
              <span>Mover</span>
            </button>
          </div>

          <div class="botaoeditar especial">
            <div class="esquerda">
              <button type="button" class="minibotao"  (click)="FotoAnterior()">
                <img src="assets/img/ANTERIOR.png">
              </button>

              <button type="button" class="minibotao desabilitado">
                <img src="assets/img/FULLSCREEN.png">
              </button>
            </div>

            <div class="direita">
              <button type="button" class="minibotao" (click)="FotoPosterior()">
                <img src="assets/img/PROXIMO.png">
              </button>

              <button type="button" class="minibotao desabilitado">
                <img src="assets/img/APAGAR.png">
              </button>
            </div>
          </div>

          <div class="botaoeditar">
            <div class="contadordalista">
              <span *ngIf="procedimento?.listaimagem?.length == 0">0 de 0</span>
              <span *ngIf="procedimento?.listaimagem?.length != 0">{{paginafoto}} de {{procedimento?.listaimagem?.length}}</span>
            </div>
          </div>
        </div>

        <div class="imagenslistadas">
          <div class="imagems" *ngFor="let web of procedimento?.listaimagem; let i=index" (focus)="Testes(i)">
            <img [src]="web?.imagem?.imageAsDataUrl" (click)="PegarPagina(i)">
          </div>
        </div>

        <div class="botoesgravacao">
          <div class="gravar">
            <button type="button" class="minibotao desabilitado" style="height: 85%;">
              <img src="assets/img/RECORD_RED.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/PAUSE.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/SOUND_OFF.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/TV_CAPTURA.png">
            </button>
          </div>

          <div class="temporizar">
            <span style="font-weight: bold;">00:00:00</span>
          </div>

          <div class="telacheia">
            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/FULLSCREEN.png">
            </button>
          </div>
        </div>

        <div class="botoeslaudo">
          <button type="button" class="minibotao" (click)="TiraFoto()">
            <img src="assets/img/CAMERA_FOTO.png">
            <span>Capturar Imagem</span>
          </button>

          <button type="button" class="minibotao" (click)="MostrarLaudo()" style="background-color: #FFFF14;">
            <img src="assets/img/CAPTURA.png">
            <span>Mostrar Laudo</span>
          </button>
        </div>

        <div class="tabelavideo">
          <div class="esquerda">
            <p-table [value]="videos" [scrollable]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 50%; padding: 0;">Vídeo</th>
                  <th style="width: 25%;">Duração</th>
                  <th style="width: 25%;">Tamanho</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-video>
                <tr>
                  <td style="width: 50%;">{{video?.codigo}}</td>
                  <td style="width: 25%;">{{video?.nome}}</td>
                  <td style="width: 25%;">{{video?.telefone}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="5">
                    Nenhum Vídeo Encontrado
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="direita">
            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/PLAY.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/APAGAR.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/PAUSE.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/DOWNLOAD.png">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
