<div style="width: 100%;">
  <p-accordion>
    <p-accordionTab header="Dados do Equipamento">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="equip" [filter]="true"
        [(ngModel)]="camposdolaudo.campo1" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo2" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fígado">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo3" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfFigado()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo4" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Vias biliares">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo5" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfViasBiliares()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo6" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Vesícula biliar">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo7" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVesicula()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo8" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pâncreas">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo9" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo10  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Rim direito">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 25%;">
            <label>Diam. longitudinal(cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo11">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Diam. ant. post.(cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo12">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Diam. transversal(cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo13">
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 98%;">
            <label>Volume(cm³)</label>
            <div style="display: inline-flex;">
              <input style="width: 25%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo14">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">idade 24a: 135cm a 300cm</span>
            </div>
          </div>
        </div>

        <div class="linhas">
          <div style="width: 100%;">
            <div class="linhas">
              <div class="blocodalinha" style="width: 98%;">
                <label>Descrição</label>
                <p-dropdown [style]="{'min-width': '25%'}" [options]="textonormal" [filter]="true"
                  [(ngModel)]="camposdolaudo.campo15" #codigoprofexecutante="ngModel"
                  placeholder="Selecione..." (onChange)="ConfRimDireito()"></p-dropdown>
              </div>
            </div>

            <div class="linhas" style="margin-top: 5px;">
              <p-editor [(ngModel)]="camposdolaudo.campo16" [style]="{'height':'100px'}"></p-editor>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Rim esquerdo">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 25%;">
            <label>Diam. longitudinal(cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo17">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Diam. ant. post.(cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo18">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Diam. transversal(cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo19">
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 98%;">
            <label>Volume(cm³)</label>
            <div style="display: inline-flex;">
              <input style="width: 25%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo20">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">idade 24a: 135cm a 300cm</span>
            </div>
          </div>
        </div>

        <div class="linhas">
          <div style="width: 100%;">
            <div class="linhas">
              <div class="blocodalinha" style="width: 98%;">
                <label>Descrição</label>
                <p-dropdown [style]="{'min-width': '25%'}" [options]="textonormal" [filter]="true"
                  [(ngModel)]="camposdolaudo.campo21" #codigoprofexecutante="ngModel"
                  placeholder="Selecione..." (onChange)="ConfRimEsquerdo()"></p-dropdown>
              </div>
            </div>

            <div class="linhas" style="margin-top: 5px;">
              <p-editor [(ngModel)]="camposdolaudo.campo22" [style]="{'height':'100px'}"></p-editor>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Bexiga">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo23" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBexiga()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo24  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Baço">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo25" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBaco()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo26  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Vasos">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo27" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVasos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo28  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Retroperitônio">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo29" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfRetroperitonio()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo30  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Seios costofrênicos">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo31" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfCostofrenicos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo32" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Demais orgãos pélvicos">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo33" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo34" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Observações gerais">
      <p-editor [(ngModel)]="camposdolaudo.campo36" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="textonormal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo37" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo38" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div class="linhas">
        <div class="blocodalinha" style="width: 100%;">
          <label>Profissional Executante</label>
          <p-dropdown [style]="{'min-width': '100%'}" [options]="executantes"
          [filter]="true" [(ngModel)]="codigoexecutante" #codigoprofexecutante="ngModel"
          name="codigoprofexecutante" placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

