<div class="conteudogeral">
  <section class="ui-g ui-fluid">

    <section class="ui-g-12" style="position: relative;">
      <div class="ui-g-1">
        <span></span>
      </div>
      <div class="ui-g-9">
        {{patient?.patientname}}, possui um total de {{patient?.studyes.length}} Estudo(s)
      </div>

      <div class="ui-g-2">
        <a routerLink="/servidor/listagem">
          <i class="fa fa-fw fa-undo" aria-hidden="true">Voltar</i>
        </a>
      </div>
    </section>

    <section class="ui-g-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
          </div>
          <div class="table-header row">
            Visualizar Instances
          </div>
          <div>
          <div class="row">
            <p-treeTable [value]="lista" selectionMode="single" [paginator]="true" [rows]="10"
              dataKey="codigo" class="tabela table table-striped table-bordered table-hover">
              <ng-template pTemplate="caption">
                Total de {{patient?.studyes.length}} Estudo(s)
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th class="center" style="width: 10%;">Id. Study</th>
                  <th class="center" style="width: 40%;">Description</th>
                  <th class="center" style="width: 35%;">Accession Number</th>
                  <th class="center" style="width: 10%;">Date Create</th>
                  <th class="center" style="width: 5%;">View</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                  <td class="center">
                      <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                      {{rowData?.codigo}}
                  </td>
                  <td class="center">{{rowData?.descricao}}</td>
                  <td class="center">{{rowData?.chave}}</td>
                  <td class="center">{{rowData?.date}}</td>
                  <td class="center">
                    <a *ngIf="rowData.viewer != null" pTooltip="Pré-Visualização" [routerLink]="['/viewer', rowData.codigo]">
                      <i class="fa fa-fw fa-eye icone" aria-hidden="true">{{rowData?.viewer}}</i>
                    </a>
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
        </div>
      </div>
    </div>
    </section>

  </section>
</div>
