.conteudogeral {
  width: 100%;
  height: auto;
}

.icone {
  font-size: 22px;
  vertical-align: unset;
  margin: 0 auto;
	color: #007ad9;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

:host /deep/ p-paginator .ui-paginator-bottom {
  box-sizing: border-box;
  border-top: 1px solid #b9b8b8;
}

:host /deep/ p-table {
  background-color:#ffffff;
  border: 1px solid #b9b8b8;
  margin-top: -1px;
}

:host /deep/ p-paginator .ui-paginator-bottom {
  box-sizing: border-box;
  border-top: 1px solid #b9b8b8;
}

:host /deep/ p-treetable {
  background-color:#ffffff;
  border: 1px solid #b9b8b8;
  margin-top: -1px;
}

:host /deep/ p-treetable .ui-treetable-table .pi-chevron-down{
  color: #007ad9;
  font-weight: bold;
  font-size: 115%;
}

.page-content {
  background-color: #FFF;
  position: relative;
  margin: 0;
  padding: 8px 20px 24px;
}

.page-header {
  margin: 0 0 12px;
  border-bottom: 1px dotted #E2E2E2;
  padding-bottom: 16px;
  padding-top: 7px;
}

.page-header h1 {
  padding: 0;
  margin: 0 8px;
  font-size: 24px;
  font-weight: lighter;
  color: #2679B5;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

