<div class="geral">
  <div class="titulotabela">
    <i class="pi pi-list"></i>
    <span>{{patient?.patientname}}, possui um total de {{patient?.studyes.length}} Estudo(s)</span>
  </div>

  <div class="tabeladicom">
    <p-treeTable [value]="lista" selectionMode="single" [paginator]="true" [rows]="10" dataKey="codigo">
      <ng-template pTemplate="caption">
        Total de {{patient?.studyes.length}} Estudo(s)
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Id. Study</th>
          <th style="width: 40%;">Description</th>
          <th style="width: 35%;">Accession Number</th>
          <th style="width: 10%;">Date Create</th>
          <th style="width: 5%;">View</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
          <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData?.codigo}}
          </td>
          <td>{{rowData?.descricao}}</td>
          <td>{{rowData?.chave}}</td>
          <td>{{rowData?.date}}</td>
          <td>
            <a *ngIf="rowData.viewer != null" pTooltip="Pré-Visualização" [routerLink]="['/viewer', rowData.codigo]">
              <i class="fa fa-fw fa-eye icone" aria-hidden="true">{{rowData?.viewer}}</i>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
