<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="conteudos">
        <p-fieldset legend="{{ editando ? 'Editar' : 'Novo'}} Atendimento">
          <div class="classecad">
            <form #f="ngForm" autocomplete="off" (ngSubmit)="Salvar(f)" class="formu">
              <div class="p-grid">
                <div class="ui-g-3 ui-fluid">
                  <label>Código Atend.</label>
                  <input [readonly]= "true" type="text" pInputText [(ngModel)]="atendimento.codigo" #codigo="ngModel" name="codigo">
                </div>

                <div class="ui-g-3 ui-fluid">
                  <label>Data Atend.</label>
                  <p-calendar placeholder="00/00/0000" [readonlyInput]="true" showOn="false" dateFormat="dd/mm/yy" name="dataatendimento"
                    [(ngModel)]="atendimento.dataatendimento" #dataatendimento="ngModel"></p-calendar>
                </div>

                <div class="ui-g-10 ui-fluid">
                  <label>Paciente</label>
                  <p-dropdown [options]="pacientes" [autoWidth]="false" [filter]="true" [(ngModel)]="atendimento.patient.idpatient" #idpatient="ngModel" name="idpatient"
                    placeholder="Selecione..." (onChange)="CarregarPacientes()"></p-dropdown>
                </div>

                <div class="ui-g-5 ui-fluid">
                  <label>Convênio</label>
                  <p-dropdown [options]="convenios" [autoWidth]="false" [filter]="true" [(ngModel)]="atendimento.convenio.codigo" #codigo="ngModel" name="codigo"
                    placeholder="Selecione..." (onChange)="CarregarConvenios()"></p-dropdown>
                </div>

                <div class="ui-g-5 ui-fluid">
                  <label>Prof. Solicitante</label>
                  <p-dropdown [options]="solicitantes" [autoWidth]="false" [filter]="true" [(ngModel)]="atendimento.solicitante.codigo" #codigo="ngModel" name="codigo"
                    placeholder="Selecione..." (onChange)="CarregarSolicitantes()"></p-dropdown>
                </div>

                <div class="ui-g-10 ui-fluid">
                  <label>Observações</label>
                  <input type="text" pInputText [(ngModel)]="atendimento.observacoes" #observacoes="ngModel" name="observacoes">
                </div>

                <div class="ui-g-10">
                  <p-panel header="Procedimentos">
                    <app-procedimento-cad-apend [procedimentos]="atendimento.procedimentos"></app-procedimento-cad-apend>
                  </p-panel>
                </div>

                <div class="ui-g-10 ui-fluid">
                  <div style="text-align: left;">
                    <button class="btn btn-primary" type="submit" style="margin-right: 8px;">Salvar</button>
                    <button class="btn btn-outline-secondary" routerLink="/operacoes/atendimento">Cancelar</button>
                  </div>

                  <div style="text-align: right;">
                    <a routerLink="/operacoes/atendimento">Voltar para a pesquisa</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </p-fieldset>
      </div>

    </div>
  </div>
</div>
