<p-dialog header="Atendimentos" [(visible)]="display">
  <div class="corpo">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="Salvar(f)" class="formu">
      <div class="linhas">
        <div class="blocodalinha" style="width: 25%;">
          <label>Código Atend.</label>
          <input style="width: 98%;" [readonly]= "true" type="text" pInputText [(ngModel)]="atendimento.codigo" #codigo="ngModel" name="codigo">
        </div>

        <div class="blocodalinha" style="width: 25%;">
          <label>Data Atend.</label>
          <p-calendar placeholder="00/00/0000" [showOnFocus]="false" [readonlyInput]="true"
            dateFormat="dd/mm/yy" name="datacadastro" [(ngModel)]="atendimento.datacadastro"
            #datacadastro="ngModel" [inputStyle]="{ 'width': '105%', 'height': '24px', 'border-radius': '2px' }"></p-calendar>
        </div>

        <div class="blocodalinha" style="width: 45%;">
          <label>Convênio</label>
            <p-dropdown [style]="{'line-height': '10px', 'min-width':'98%'}" [options]="convenios" [filter]="true" [(ngModel)]="atendimento.convenio.codigo" #codigo="ngModel" name="codigo"
              placeholder="Selecione..." (onChange)="CarregarConvenios()"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 5%;">
          <label style="opacity: 1%; ">-</label>
          <button style="width: 96%;" type="button" class="minibotao" routerLink="/listaconvenio">
            <img src="/assets/img/FKEY_WINDOW.png">
          </button>
        </div>
      </div>

      <div class="linhas">
        <div class="blocodalinha" style="width: 50%;">
          <label>Paciente</label>
          <p-dropdown [style]="{'line-height': '10px', 'min-width':'98%'}" [options]="pacientes"
            [filter]="true" [filter]="true" [(ngModel)]="atendimento.patient.idpatient" #idpatient="ngModel"
            name="idpatient" placeholder="Selecione..." (onChange)="InserirPacientes()"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 4%; margin-right: 2px;">
          <label style="opacity: 1%;">-</label>
          <button type="button" class="minibotao" routerLink="/listapaciente">
            <img src="/assets/img/FKEY_WINDOW.png">
          </button>
        </div>

        <div class="blocodalinha" style="width: 15%;">
          <label>Data Nasc.</label>
          <p-calendar placeholder="00/00/0000" [showOnFocus]="false" [readonlyInput]="true"
            dateFormat="dd/mm/yy" name="birthday" [(ngModel)]="atendimento.patient.birthday"
            #birthday="ngModel" [inputStyle]="{ 'width': '95%', 'height': '24px', 'border-radius': '2px' }"></p-calendar>
        </div>

        <div class="blocodalinha" style="width: 15.40%;">
          <label>Sexo</label>
          <input readonly="true" style="width: 96%;" type="text" pInputText [(ngModel)]="atendimento.patient.patientsex" #patientsex="ngModel" name="patientsex">
        </div>

        <div class="blocodalinha" style="width: 15.33%;">
          <label>Telefone</label>
          <input readonly="true" style="width: 99%;" type="text" pInputText [(ngModel)]="atendimento.patient.contato.telefone" #telefone="ngModel" name="telefone">
        </div>
      </div>

      <div class="linhas">
        <div class="blocodalinha" style="width: 50%;">
          <label>Prof. Solicitante</label>
          <p-dropdown [style]="{'line-height': '10px', 'min-width':'98%'}" [options]="solicitantes"
            [filter]="true" [(ngModel)]="atendimento.solicitante.codigo" #codigo="ngModel" name="codigo"
            placeholder="Selecione..." (onChange)="InserirProfSolicitante()"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 19.3%;">
          <label>Conselho</label>
          <p-dropdown [style]="{'line-height': '10px', 'min-width':'96%'}" [options]="conselhos"
            [filter]="true" [(ngModel)]="atendimento.solicitante.conselho.sigla.codigo"
            #descricao="ngModel" name="descricao" placeholder="Selecione"
            (onChange)="CarregarConselhos()"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 15.40%;">
          <label>UF</label>
          <p-dropdown [style]="{'line-height': '10px', 'min-width':'95%'}" [options]="estados"
            [filter]="true" [(ngModel)]="atendimento.solicitante.conselho.estado.uf" #uf="ngModel"
            name="uf" placeholder="UF" (onChange)="CarregarEstados()"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 15%;">
          <label>N. Conselho</label>
          <input style="width: 100%;" type="text" pInputText [(ngModel)]="atendimento.solicitante.conselho.descricao" #descricao="ngModel" name="descricao">
        </div>
      </div>

      <div style="height: 165px; margin-top: 2px;">
        <div style=" height: 140px;">
          <app-procedimento-cad-apend [procedimentos]="atendimento.procedimentos"></app-procedimento-cad-apend>
        </div>

        <div class="linhas">
          <div style="text-align: right; margin-top: 1px;">
            <button pButton label="Imp. Atestado" icon="fa fa-plus" type="button"
              class="ui-button-primary botaotab"></button>

            <button pButton label="Laudo/ Foto" icon="fa fa-plus" type="button"
              class="ui-button-primary botaotab" (click)="VaiParaLaudos()"></button>

            <button pButton label="Captura" icon="fa fa-plus" type="button"
              class="ui-button-primary botaotab" (click)="VaiCaptura()"></button>
          </div>
        </div>
      </div>



      <div class="linhas">
        <div class="blocodalinha" style="width: 70%;">
          <label>Observações</label>
          <input style="width: 98%;" type="text" pInputText [(ngModel)]="atendimento.observacoes" #observacoes="ngModel" name="observacoes">
        </div>

        <div class="blocodalinha" style="width: 30%;">
          <label>Valor Total paciente</label>
          <input type="text" pInputText>
        </div>
      </div>
    </form>
  </div>

  <div class="botoes ui-g-12" style="margin-top: 80px;">
    <div class="botao">
      <div>
        <button  disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/operacoes/atendimento/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar(f)">
          <img src="/assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Voltar();">
          <img src="/assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/operacoes/atendimento">
          <img src="/assets/img/PRINT_VIEW.png">
          <span>Voltar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog [header]="'Imprimir Atestado'" [style]="{width: '30vw'}" [(visible)]="exibiratestado"  [baseZIndex]="10001">
  <div class="ui-g-12 ui-fluid" style="border: 1px solid;">
    <form>
      <div style="width: 30%; display: inline-grid;">
        <label>Data Atestado</label>
        <p-calendar placeholder="00/00/0000" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"></p-calendar>
      </div>

      <div style="width: 100%; display: inline-grid;">
        <label>Profissional Executante</label>
        <p-dropdown [options]="executantes" [filter]="true" [(ngModel)]="atendimento.codigoprofexecutante" #codigoprofexecutante="ngModel" name="codigoprofexecutante"
          placeholder="Selecione..."></p-dropdown>
      </div>

      <div style="width: 100%; display: inline-grid;">
        <label>Cid</label>
        <p-dropdown [options]="subcategoriacids" [filter]="true" [(ngModel)]="atendimento.codigodecid" #codigodecid="ngModel" name="codigodecid"
          placeholder="Selecione..."></p-dropdown>
      </div>

      <div style="width: 100%; display: inline-grid;">
        <label>Paciente</label>
        <input readonly="true" type="text" pInputText value="{{atendimento.patient.patientname}}">
      </div>

    <div class="ui-g-4">
      <button pButton type="button" label="Confirmar" (click)="GerarAtendimento(f)"></button>
    </div>
    </form>
  </div>
</p-dialog>
