<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [acceptVisible]="false" [rejectLabel]="'OK'"></p-confirmDialog>

<p-dialog header="Atendimentos" [(visible)]="display" [style]="{width: '788px', height: '435px'}">
  <div class="corpo">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="Salvar()" class="formulario">
      <div class="linhas">
        <div class="blocodalinha" style="width: 25%;">
          <label>Código Atend.</label>
          <input style="width: 98%; height: 24px; border: 1px solid #555555;
            border-radius: 2px;" [readonly]= "true" type="text" pInputText
            [(ngModel)]="atendimento.codigo" #codigo="ngModel" name="codigo">
        </div>

        <div class="blocodalinha" style="width: 25%;">
          <label>Data Atend.</label>
          <p-calendar placeholder="00/00/0000" [showOnFocus]="false" [readonlyInput]="true"
            dateFormat="dd/mm/yy" name="datacadastro" [(ngModel)]="atendimento.datacadastro"
            #datacadastro="ngModel" [style]="{ width: '95%', height: '24px',
            'border-radius': '2px', border:'1px solid #555555' }"></p-calendar>
        </div>

        <div class="blocodalinha" style="width: 46%;">
          <label>Convênio</label>
            <p-dropdown [style]="{'line-height': '40%', 'width':'99%',
              'border': '1px solid #555555', 'border-radius': '2px'}" [options]="convenios"
              [filter]="true" [(ngModel)]="atendimento.convenio.codigo" #codigo="ngModel" name="codigo"
              placeholder="Selecione..." (onChange)="CarregarConvenios()" id="convenio"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 4%;">
          <label style="opacity: 1%; ">-</label>
          <button style="width: 96%;" type="button" class="minibotao" routerLink="/listaconvenio">
            <img src="/assets/img/FKEY_WINDOW.png">
          </button>
        </div>
      </div>

      <div class="linhas">
        <div class="blocodalinha" style="width: 50%;">
          <label>Paciente</label>
          <p-dropdown [style]="{'line-height': '40%', 'width':'97.5%',
            'border': '1px solid #555555', 'border-radius': '2px'}" [options]="pacientes"
            [filter]="true" [filter]="true" [(ngModel)]="atendimento.paciente.codigo"
            #codigo="ngModel" name="codigo" placeholder="Selecione..." id="paciente"
            (onChange)="InserirPacientes();"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 4%; margin-right: 2px;">
          <label style="opacity: 1%;">-</label>
          <button type="button" class="minibotao" routerLink="/listapaciente">
            <img src="/assets/img/FKEY_WINDOW.png">
          </button>
        </div>

        <div class="blocodalinha" style="width: 15%;">
          <label>Data Nasc.</label>
          <p-calendar placeholder="00/00/0000" [showOnFocus]="false" id="datanasc" name="datanasc"
            #datanasc="ngModel" dateFormat="dd/mm/yy" [(ngModel)]="atendimento.paciente.datanasc"
            [style]="{ 'width': '95%', 'height': '24px', 'border-radius': '2px',
            'border': '1px solid #555555' }"></p-calendar>
        </div>

        <div class="blocodalinha" style="width: 15.40%;">
          <label>Sexo</label>
          <input id="sexo" style="width: 96%; height: 24px; border: 1px solid #555555;
            border-radius: 2px;" type="text" pInputText
            [(ngModel)]="atendimento.paciente.sexo" #sexo="ngModel" name="sexo">
        </div>

        <div class="blocodalinha" style="width: 15.33%;">
          <label>Telefone</label>
          <input style="width: 99%; height: 24px; border: 1px solid #555555;
            border-radius: 2px;" type="text" pInputText
            [(ngModel)]="atendimento.paciente.contato.telefone" #telefone="ngModel" name="telefone">
        </div>
      </div>

      <div class="linhas">
        <div class="blocodalinha" style="width: 50%;">
          <label>Prof. Solicitante</label>
          <p-dropdown  [style]="{'line-height': '40%', 'width':'97.5%',
            'border': '1px solid #555555', 'border-radius': '2px'}" [options]="solicitantes"
            [filter]="true" [(ngModel)]="atendimento.solicitante" #solicitante="ngModel" name="solicitante"
            placeholder="Selecione..." (onChange)="InserirProfSolicitante()"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 19.3%;">
          <label>Conselho</label>
          <input readonly="true" style="width: 96%; height: 24px;
            border: 1px solid #555555; border-radius: 2px;" type="text" pInputText name="descricaocrm"
            [(ngModel)]="atendimento.solicitante?.conselho?.sigla.descricao" #descricaocrm="ngModel">
        </div>

        <div class="blocodalinha" style="width: 15.40%;">
          <label>UF</label>
          <input readonly="true" style="width: 96%; height: 24px; border-radius: 2px;
            border: 1px solid #555555;" type="text" pInputText name="descricaouf"
            [(ngModel)]="atendimento.solicitante?.conselho?.estado.uf" #descricaouf="ngModel">
        </div>

        <div class="blocodalinha" style="width: 15.40%;">
          <label>N. Conselho</label>
          <input pInputText name="descricao" readonly="true" style="width: 100%; height: 24px;
            border: 1px solid #555555; border-radius: 2px;" type="text"
            [(ngModel)]="atendimento.solicitante?.conselho.descricao" #descricao="ngModel">
        </div>
      </div>

      <div style="height: 145px; margin-top: 2px; border: ridge;">
        <div style=" height: 77%; ">
          <app-procedimento-cad-apend [procedimentos]="atendimento.procedimentos" id="tabelaproc"></app-procedimento-cad-apend>
        </div>

        <div style="float: right;">
          <div style="text-align: right; margin-top: 1px; width: 100%;">
            <button type="button" class="botoesdatabela">
              <img src="/assets/img/ATESTADO.png">
              <span>Atestado</span>
            </button>

            <button type="button" class="botoesdatabela" (click)="VaiParaLaudos()">
              <img src="/assets/img/LAUDO_SMALL.png">
              <span>Laudos</span>
            </button>

            <button type="button" class="botoesdatabela" (click)="VaiCaptura()">
              <img src="/assets/img/CAPTURA_SMALL.png">
              <span>Captura</span>
            </button>
          </div>
        </div>
      </div>



      <div class="linhas">
        <div class="blocodalinha" style="width: 70%;">
          <label>Observações</label>
          <input style="width: 98%;" type="text" pInputText [(ngModel)]="atendimento.observacoes" #observacoes="ngModel" name="observacoes">
        </div>

        <div class="blocodalinha" style="width: 30%;">
          <label>Valor Total paciente</label>
          <input type="text" pInputText>
        </div>
      </div>
    </form>
  </div>

  <div class="botoes">
    <div class="botao">
      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/operacoes/atendimento/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar(f)">
          <img src="/assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Voltar()">
          <img src="/assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

    </div>
  </div>
</p-dialog>


<p-dialog [header]="'Imprimir Atestado'" [style]="{width: '30vw'}" [(visible)]="exibiratestado"  [baseZIndex]="10001">
  <div class="ui-g-12 ui-fluid" style="border: 1px solid;">
    <form>
      <div style="width: 30%; display: inline-grid;">
        <label>Data Atestado</label>
        <p-calendar placeholder="00/00/0000" dateFormat="dd/mm/yy" [monthNavigator]="true"
          [yearNavigator]="true"></p-calendar>
      </div>

      <div style="width: 100%; display: inline-grid;">
        <label>Profissional Executante</label>
        <p-dropdown [options]="executantes" [filter]="true" [(ngModel)]="atendimento.codigoprofexecutante" #codigoprofexecutante="ngModel" name="codigoprofexecutante"
          placeholder="Selecione..."></p-dropdown>
      </div>

      <div style="width: 100%; display: inline-grid;">
        <label>Cid</label>
        <p-dropdown [options]="subcategoriacids" [filter]="true" [(ngModel)]="atendimento.codigodecid" #codigodecid="ngModel" name="codigodecid"
          placeholder="Selecione..."></p-dropdown>
      </div>

      <div style="width: 100%; display: inline-grid;">
        <label>Paciente</label>
        <input readonly="true" type="text" pInputText value="{{atendimento.paciente.nome}}">
      </div>

    <div class="ui-g-4">
      <button pButton type="button" label="Confirmar" (click)="GerarAtendimento(f)"></button>
    </div>
    </form>
  </div>
</p-dialog>
