<div style="width: 100%; background-color: #ffffff;">
  <p-accordion>
    <p-accordionTab header="Dados do Equipamento">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 40%;">
            <label>Tipo</label>
            <p-dropdown [style]="{'min-width': '40%'}" [options]="equip" [filter]="true"
              [(ngModel)]="camposdolaudo.campo1" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>
          </div>
        </div>
        <div class="linhas">
          <div class="blocodalinha" style="width: 100%;">
            <p-editor [(ngModel)]="camposdolaudo.campo2" [style]="{'height':'200px'}"></p-editor>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Dados da gestação">
      <div style="width: 100%;">
        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">IGH pela amenorréia</span>
        </div>

        <div class="linhas" style="border-bottom: 1px solid #cecccc;">
          <div class="blocodalinha" style="width: 15%;">
            <label>DUM</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo3">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>IGH</label>
            <div style="display: inline-flex;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo4">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Sem.</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo5">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 45%;"></div>

          <div class="blocodalinha" style="width: 15%;">
            <label>DPP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo6">
          </div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">IGH pelo ultimo exame</span>
        </div>

        <div class="linhas" style="border-bottom: 1px solid #cecccc;">
          <div class="blocodalinha" style="width: 15%;">
            <label>Data</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo7">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label style="opacity: 0;">_</label>
            <div style="display: inline-flex;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo8">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Sem.</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo9">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 20%;"></div>

          <div class="blocodalinha" style="width: 25%;">
            <label>IGH</label>
            <div style="display: inline-flex;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo10">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Sem.</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo11">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 15%;">
            <label>DPP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo12">
          </div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">Definida pelo examinador</span>
        </div>

        <div class="linhas" style="border-bottom: 1px solid #cecccc;">
          <div class="blocodalinha" style="width: 15%;">
            <label>Idade</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo13">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label style="opacity: 0;">_</label>
            <div style="display: inline-flex;">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Semanas</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo14">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 30%;"></div>

          <div class="blocodalinha" style="width: 15%;">
            <label>Data do exame</label>
            <input style="width: 98%;" pInputText [(ngModel)]="camposdolaudo.campo15">
          </div>

          <div class="blocodalinha" style="width: 15%;">
            <label>DPP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo16">
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 15%;">
            <label>Número de fetos</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo17">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Artérias uterinas">
      <div style="width: 100%;">
        <div class="linhas" style="margin-top: 5px;">
          <div class="blocodalinha" style="width: 49%;">
            <span style="font-weight: bold;">Artéria uterina direita</span>
          </div>

          <div class="blocodalinha" style="width: 2%;"></div>

          <div class="blocodalinha" style="width: 49%;">
            <span style="font-weight: bold;">Artéria uterina esquerda</span>
          </div>
        </div>

        <div class="linhas" style="display: inline-flex;">
          <div style="border: 1px solid #cecccc; width: 49%;">
            <div class="blocodalinha" style="width: 30%; margin-left: 3px;">
              <label>Relação S/D</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo18">
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>IR</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo19">
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>IP</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo20">
            </div>

            <div class="blocodalinha" style="width: 60%; margin-left: 3px;">
              <label>Incisura</label>
              <p-dropdown [style]="{'min-width': '100%'}" [options]="incisuras" [filter]="true"
                [(ngModel)]="camposdolaudo.campo21" #codigoprofexecutante="ngModel"
                placeholder="Selecione..."></p-dropdown>
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>Relaçao A/C</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo22">
            </div>
          </div>

          <div style="width: 2%;"></div>

          <div style="border: 1px solid #cecccc; width: 49%;">
            <div class="blocodalinha" style="width: 30%; margin-left: 3px;">
              <label>Relação S/D</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo23">
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>IR</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo24">
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>IP</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo25">
            </div>

            <div class="blocodalinha" style="width: 60%; margin-left: 3px;">
              <label>Incisura</label>
              <p-dropdown [style]="{'min-width': '100%'}" [options]="incisuras" [filter]="true"
                [(ngModel)]="camposdolaudo.campo26" #codigoprofexecutante="ngModel"
                placeholder="Selecione..."></p-dropdown>
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>Relaçao A/C</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo27">
            </div>
          </div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">Média das relações das artérias uterinas</span>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 20%;">
            <label>Média rel. S/D</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo28">
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Média de IR</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo29">
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Média de IP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo30">
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Média de A/C</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo31">
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Incisura bilateral</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo32">
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 20%;">
            <span style="color: #3862d4;">(=2,6)</span>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <span style="color: #3862d4;">(=1,0)</span>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <span style="color: #3862d4;">(=1,5)</span>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <span style="color: #3862d4;">(=2,30)</span>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <span style="color: #3862d4;">Ausência</span>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Artérias umbilical e cerebral média">
      <div style="width: 100%;">
        <div class="linhas" style="margin-top: 5px;">
          <div class="blocodalinha" style="width: 49%;">
            <span style="font-weight: bold;">Artéria umbilical</span>
          </div>

          <div class="blocodalinha" style="width: 2%;"></div>

          <div class="blocodalinha" style="width: 49%;">
            <span style="font-weight: bold;">Artéria cerebral média</span>
          </div>
        </div>

        <div class="linhas" style="display: inline-flex;">
          <div style="border: 1px solid #cecccc; width: 49%;">
            <div class="blocodalinha" style="width: 60%; margin-left: 3px;">
              <label>Diástole</label>
              <p-dropdown [style]="{'min-width': '100%'}" [options]="ductodiastoles" [filter]="true"
                [(ngModel)]="camposdolaudo.campo33" #codigoprofexecutante="ngModel"
                placeholder="Selecione..."></p-dropdown>
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>Relação S/D</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo34">
            </div>

            <div class="blocodalinha" style="width: 30%; margin-left: 3px;">
              <label>IR</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo35">
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>IP</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo36">
            </div>
          </div>

          <div style="width: 2%;"></div>

          <div style="border: 1px solid #cecccc; width: 49%;">
            <div class="blocodalinha" style="width: 60%; margin-left: 3px;">
              <label>Diástole</label>
              <p-dropdown [style]="{'min-width': '100%'}" [options]="ductodiastoles" [filter]="true"
                [(ngModel)]="camposdolaudo.campo37" #codigoprofexecutante="ngModel"
                placeholder="Selecione..."></p-dropdown>
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>Relação S/D</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo38">
            </div>

            <div class="blocodalinha" style="width: 30%; margin-left: 3px;">
              <label>IR</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo39">
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>IP</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo40">
            </div>

            <div class="blocodalinha" style="width: 30%;">
              <label>Pico Sistólico</label>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo41">
            </div></div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">Média das relações das artérias uterinas</span>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 33%;">
            <label>Média S/D (Umbilical/Cerebral)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo42">
          </div>

          <div class="blocodalinha" style="width: 33%;">
            <label>IR (Umbilical/Cerebral)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo43">
          </div>

          <div class="blocodalinha" style="width: 33%;">
            <label>IP (Umbilical/Cerebral)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo44">
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 33%;">
            <span style="color: #3862d4;">(=1,0)</span>
          </div>

          <div class="blocodalinha" style="width: 33%;">
            <span style="color: #3862d4;">(=1,0)</span>
          </div>

          <div class="blocodalinha" style="width: 33%;">
            <span style="color: #3862d4;">(=1,0)</span>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Ducto venoso">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 30%;">
            <label>Diástole</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="ductodiastoles" [filter]="true"
              [(ngModel)]="camposdolaudo.campo45" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>IP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo46">
          </div>

          <div class="blocodalinha" style="width: 50%;">
            <label style="opacity: 0;">_</label>
            <span style="color: #3862d4; margin-top: 12px;">Normal: IP 2,3(Fluxo Ant. em fase de Contração art.)</span>
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 30%;">
            <label>Veia umbilical</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="ductoveias" [filter]="true"
              [(ngModel)]="camposdolaudo.campo47" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 40%;">
            <label style="opacity: 0;">_</label>
            <span style="color: #3862d4; margin-top: 12px;">Normal: Fluxo Contínuo</span>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Observações gerais">
      <p-editor [(ngModel)]="camposdolaudo.campo2" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-editor [(ngModel)]="camposdolaudo.campo3" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div style="width: 100%;">
        <div class="linhas">
          <label>Profissional Executante</label>
          <p-dropdown [options]="executantes" [(ngModel)]="codigoexecutante" name="codigoprofexecutante"
            #codigoprofexecutante="ngModel" [filter]="true" placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

