.menuinicial {
	width: 100%;
	height: 60px;
	top: 0px;
	margin: 0 auto;
	position: fixed;
	z-index: 1000;
}

.menuinicial .topbar {
	width: 100%;
	height: auto;
	display: inline-flex;
	outline: 0 none;
	box-sizing: border-box;
	background: #ffffff;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.45);
	z-index: 1000;
}

.menuinicial .logotipo {
	width: 15%;
}

.menuinicial .barramenu {
	width: 85%;
}

:host /deep/ p-menubar .p-menubar{
	border: none;
	background-color: #ffffff;
}

#imagem {
	width: 50px;
	height: 35px;
}

.logotipo {
	align-items: center;
	display: inline-flex;
	justify-content: center;
}
