<div style="width: 100%;">
  <p-accordion>
    <p-accordionTab header="Dados do equipamento e da gestação">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 100%;">
            <label>Tipo</label>
            <p-dropdown [style]="{'min-width': '40%'}" [options]="equip" [filter]="true"
              [(ngModel)]="camposdolaudo.campo1" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>
          </div>
        </div>

        <div class="linhas">
          <label>Descrição</label>
          <div class="blocodalinha" style="width: 100%;">
            <p-editor [(ngModel)]="camposdolaudo.campo2" [style]="{'height':'100px'}"></p-editor>
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 100%;">
            <label>Núm de fetos</label>
            <input style="width: 40%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo3">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="IGH e biometria">
      <div style="width: 100%;">
        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">IGH pela amenorréia</span>
        </div>

        <div class="linhas" style="border: 1px solid #cecece;">
          <div class="blocodalinha" style="width: 15%;">
            <label>DUM</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo4">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>IGH</label>
            <div style="display: inline-flex;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo5">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">sem.</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo6">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 45%;"></div>

          <div class="blocodalinha" style="width: 15%;">
            <label>DPP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo7">
          </div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">IGH pelo último exame</span>
        </div>

        <div class="linhas" style="border: 1px solid #cecece;">
          <div class="blocodalinha" style="width: 15%;">
            <label>Data</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo8">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label style="opacity: 0;">_</label>
            <div style="display: inline-flex;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo9">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">sem.</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo10">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 20%;"></div>

          <div class="blocodalinha" style="width: 25%;">
            <label>IGH</label>
            <div style="display: inline-flex;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo11">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">sem.</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo12">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 15%;">
            <label>DPP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo13">
          </div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">IGH pela biometria (baseada no percentil 50)</span>
        </div>

        <div style="width: 100%; display: inline-flex; border: 1px solid #cecece;">
          <div style="width: 40%;">
            <div class="blocoalternativo" style="width: 100%;">
              <div style="width: 25%;"></div>

              <div style="width: 30%;">
                <span style="font-weight: bold;">em mm</span>
              </div>

              <div style="width: 45%;">
                <span style="font-weight: bold;">I.G.</span>
              </div>
            </div>

            <div class="blocoalternativo">
              <div class="alinhartexto">
                <label>Relação S/D</label>
              </div>

              <div class="alinharcampo">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo14">
              </div>

              <div class="alinharcampobeta">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo15">
              </div>
            </div>

            <div class="blocoalternativo">
              <div class="alinhartexto">
                <label>C.A.</label>
              </div>

              <div class="alinharcampo">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo16">
              </div>

              <div class="alinharcampobeta">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo17">
              </div>
            </div>

            <div class="blocoalternativo">
              <div class="alinhartexto">
                <label>C.F.</label>
              </div>

              <div class="alinharcampo">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo18">
              </div>

              <div class="alinharcampobeta">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo19">
              </div>
            </div>

            <div class="blocoalternativo">
              <div class="alinhartexto">
                <label>Úmero</label>
              </div>

              <div class="alinharcampo">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo20">
              </div>

              <div class="alinharcampobeta">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo21">
              </div>
            </div>

            <div class="blocoalternativo">
              <div class="alinhartexto">
                <label>Ulna</label>
              </div>

              <div class="alinharcampo">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo22">
              </div>

              <div class="alinharcampobeta">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo23">
              </div>
            </div>

            <div class="blocoalternativo">
              <div class="alinhartexto">
                <label>Tíbia</label>
              </div>

              <div class="alinharcampo">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo24">
              </div>

              <div class="alinharcampobeta">
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo25">
              </div>
            </div>
          </div>

          <div style="width: 3%;"></div>

          <div style="width: 57%;">
            <div class="linhas">
              <div class="blocodalinha" style="width: 30%;">
                <label>D.O.F.(mm)</label>
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo26">
              </div>

              <div class="blocodalinha" style="width: 35%;">
                <label>Valor do C.A.</label>
                <p-dropdown [style]="{'min-width': '98%'}" [options]="valordoca" [filter]="true"
                  [(ngModel)]="camposdolaudo.campo27" #codigoprofexecutante="ngModel"
                  placeholder="Selecione..."></p-dropdown>
              </div>
            </div>

            <div class="linhas" style="margin-top: 5px;">
              <span style="font-weight: bold;">IGH pela biometria (baseada no percentil 50)</span>
            </div>

            <div class="linhas">
              <div class="blocodalinha" style="width: 30%;">
                <label>I.C. (74 a 86)</label>
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo28">
              </div>

              <div class="blocodalinha" style="width: 35%;">
                <label>C.C. (mm)</label>
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo29">
              </div>

              <div class="blocodalinha" style="width: 30%;">
                <label style="opacity: 0;">_</label>
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo30">
              </div>
            </div>

            <div class="linhas">
              <div class="blocodalinha" style="width: 30%;">
                <label>C.C./C.A.</label>
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo31">
              </div>

              <div class="blocodalinha" style="width: 70%;">
                <label>C.C./F.A.(Hadlock)</label>
                <div style="display: inline-flex;">
                  <input style="width: 50%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo32">
                  <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">(20 a 24)</span>
                </div>
              </div>
            </div>

            <div class="linhas">
              <div class="blocodalinha" style="width: 30%;">
                <label>Estatura (cm)</label>
                <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo33">
              </div>

              <div class="blocodalinha" style="width: 70%;">
                <label>Peso fetal provável (g)</label>
                <div style="display: inline-flex;">
                  <input style="width: 50%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo34">
                  <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">(peso D.B.P.) e (C.A.)</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">IGH definida pelo examinador</span>
        </div>

        <div class="linhas" style="border: 1px solid #cecece;">
          <div class="blocodalinha" style="width: 30%;">
            <label>IGH</label>
            <div style="display: inline-flex;">
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo35">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Sem.</span>
              <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo36">
              <span style="padding-top: 12px; margin-left: 3px; margin-right: 3px;">Dias</span>
            </div>
          </div>

          <div class="blocodalinha" style="width: 15%;">
            <label>Data do exame</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo37">
          </div>

          <div class="blocodalinha" style="width: 23%;">
            <label>Desvio para padrão do I.G.</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="padraoig" [filter]="true"
              [(ngModel)]="camposdolaudo.campo38" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 15%;">
            <label>+ semanas</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo39">
          </div>

          <div class="blocodalinha" style="width: 7%;"></div>

          <div class="blocodalinha" style="width: 10%;">
            <label>DPP</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo40">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Feto">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 50%;">
            <label>Situação</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="fetosituacao" [filter]="true"
              [(ngModel)]="camposdolaudo.campo41" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Apresentação</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="fetoapresentacao" [filter]="true"
              [(ngModel)]="camposdolaudo.campo42" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Dorso</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="fetodorso" [filter]="true"
              [(ngModel)]="camposdolaudo.campo43" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 50%;">
            <label>Movimentos fetais</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="fetomov" [filter]="true"
              [(ngModel)]="camposdolaudo.campo44" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Movimentos respiratórios</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="fetoresp" [filter]="true"
              [(ngModel)]="camposdolaudo.campo45" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 50%;">
            <label>Batimentos cardíacos</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="fetocard" [filter]="true"
              [(ngModel)]="camposdolaudo.campo46" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Ritmo</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="fetoritmo" [filter]="true"
              [(ngModel)]="camposdolaudo.campo47" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>N. (bat/min)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo48">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Órgãos internos">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 40%;">
            <label>Situação</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="orgaosituacao" [filter]="true"
              [(ngModel)]="camposdolaudo.campo49" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 100%;">
            <label>Descrição</label>
            <p-editor [(ngModel)]="camposdolaudo.campo50" [style]="{'height':'100px'}"></p-editor>
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 40%;">
            <label>Estadiamento intestinal</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="orgaosintes" [filter]="true"
              [(ngModel)]="camposdolaudo.campo51" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 30%;">
            <label>Gordura pré-peritonial</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="orgaospreperito" [filter]="true"
              [(ngModel)]="camposdolaudo.campo52" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 30%;">
            <label>Sexo fetal</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="orgaossexofetal" [filter]="true"
              [(ngModel)]="camposdolaudo.campo53" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Placenta">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 30%;">
            <label>Inserção 1</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="placentainsercao" [filter]="true"
              [(ngModel)]="camposdolaudo.campo54" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 30%;">
            <label>Inserção 2</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="placentainsercao2" [filter]="true"
              [(ngModel)]="camposdolaudo.campo55" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Espessura (mm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo56">
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Maturidade</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="placentamaturidade" [filter]="true"
              [(ngModel)]="camposdolaudo.campo57" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>
        </div>

        <div class="linhas">
          <div class="blocodalinha" style="width: 100%;">
            <label>Descrição</label>
            <p-editor [(ngModel)]="camposdolaudo.campo58" [style]="{'height':'100px'}"></p-editor>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Outras informações">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 30%;">
            <label>Cordão umbilical</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="outraumbilical" [filter]="true"
              [(ngModel)]="camposdolaudo.campo59" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 30%;">
            <label>Líquido amniótico 2</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="outraamniotico" [filter]="true"
              [(ngModel)]="camposdolaudo.campo60" #codigoprofexecutante="ngModel"
              placeholder="Selecione..."></p-dropdown>
          </div>
        </div>

        <div class="linhas" style="margin-top: 5px;">
          <span style="font-weight: bold;">ILA (Índice do líquido aminiótico)</span>
        </div>

        <div class="linhas" style="border: 1px solid #cecece;">
          <div style="margin-top: 5px;">
            <span>Medidas dos quadrantes (cm)</span>
          </div>

          <div class="blocodalinha" style="width: 10%;">
            <label>I</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo61">
          </div>

          <div class="blocodalinha" style="width: 10%;">
            <label>II</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo62">
          </div>

          <div class="blocodalinha" style="width: 10%;">
            <label>III</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo63">
          </div>

          <div class="blocodalinha" style="width: 10%;">
            <label>IV</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo64">
          </div>

          <div class="blocodalinha" style="width: 10%;">
            <label>ILA(cm)</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo65">
          </div>

          <div class="blocodalinha" style="width: 50%;">
            <label style="opacity: 0;">_</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo66">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Observações gerais">
      <p-editor [(ngModel)]="camposdolaudo.campo67" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="impressoes" [filter]="true"
        [(ngModel)]="camposdolaudo.campo68" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo69" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div class="linhas">
        <div class="blocodalinha" style="width: 100%;">
          <label>Profissional Executante</label>
          <p-dropdown [style]="{'min-width': '100%'}" [options]="executantes"
          [filter]="true" [(ngModel)]="codigoexecutante" #codigoprofexecutante="ngModel"
          name="codigoprofexecutante" placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

