<div class="corpo">
  <p-table [value]="procedimentos" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50%;">Procedimento</th>
        <th style="width: 15%;">Data Exec.</th>
        <th style="width: 20%;">Prev. Ent. Laudo</th>
        <th style="width: 15%;">Opções</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-procedimento>
      <tr>
        <td style="width: 50%;">{{ procedimento?.procedimentomedico?.nome}}</td>
        <td style="width: 15%;">{{ procedimento?.dataexecucao | date:'dd/MM/yyyy' }}</td>
        <td style="width: 20%;">{{ procedimento?.preventregalaudo | date:'dd/MM/yyyy' }}</td>
        <td style="width: 15%; text-align: center;">
          <button class="botaoedicao" (click)="PrepararEdicaoProcedimento(procedimento)">
            <i class="fa fa-pencil-square-o" style="color: #428bca;"></i>
          </button>

          <button class="botaoedicao" (click)="RemoverProcedimento(rowIndex)">
            <i class="fa fa-trash" style="color: #ee3e3e;"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">
          Nenhum Procedimento adicionado
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div>
    <button style="margin-top: 1px;" pButton label="Adicionar" icon="fa fa-plus" type="button"
      class="ui-button-primary botaotab" (click)="PrepararNovoProcedimento()"></button>
  </div>
</div>


<p-dialog [header]="'Novo Procedimento'" [style]="{height: '18.2vw'}" [(visible)]="exbindoFormularioProcedimento">
  <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="ConfirmarProcedimento()" class="formu">
    <div class="linhas">
      <div class="blocodalinha" formGroupName="procedimentomedico" style="width: 90%;">
        <label>Procedimento Médico</label>
        <p-dropdown [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999', 'width': '27%'}" [options]="procedimentomedicos" [filter]="true"  formControlName="codigo"
          placeholder="Selecione..." name="codigo" (onChange)="CarregarProcedimentosMedico()">
        </p-dropdown>
      </div>

      <div class="blocodalinha" style="width: 5%;">
        <label style="opacity: 1%;">.</label>
        <button type="button" class="minibotao">
          <img src="/assets/img/FKEY_WINDOW.png">
        </button>
      </div>
    </div>

    <div class="linhas">
      <div class="blocodalinha" formGroupName="profexecutante" style="width: 90%;">
        <label>Profissional Executante</label>
        <p-dropdown [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999', 'width': '27%'}" [options]="profissionalexecutantes" [filter]="true"  formControlName="codigo"
          placeholder="Selecione..." name="codigo" (onChange)="CarregaProfissionalExecutante()"></p-dropdown>
      </div>

      <div class="blocodalinha" style="width: 5%;">
        <label style="opacity: 1%;">.</label>
        <button type="button" class="minibotao">
          <img src="/assets/img/FKEY_WINDOW.png">
        </button>
      </div>
    </div>


    <div class="linhas">
      <div class="blocodalinha" style="width: 33%;">
        <label>Valor Paciente</label>
        <input style="width: 95%;" type="text" pInputText ng-model="text" name="valorpaciente" formControlName="valorpaciente" placeholder="0.00">
      </div>

      <div class="blocodalinha" style="width: 33%;">
        <label>Prev. Ent. Laudo</label>
        <p-calendar [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999', 'width': '10%'}"
          placeholder="00/00/0000" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" formControlName="preventregalaudo"
          yearRange="1930:2020" name="preventregalaudo" class="preventregalaudo"></p-calendar>
      </div>

      <div class="blocodalinha" style="width: 33%;">
        <label>Data Execução</label>
        <p-calendar [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999', 'width': '10%'}"
          placeholder="00/00/0000" dateFormat="dd/mm/yy" [monthNavigator]="true" formControlName="dataexecucao"
          yearRange="1930:2020" name="dataexecucao" [yearNavigator]="true"></p-calendar>
      </div>
    </div>

    <div class="linhas" style="margin-top: 5px; text-align: center;">
      <button pButton type="submit" label="Confirmar"></button>
      <button pButton type="button" label="Cancelar" (click)="BotaoCancelar()"></button>
    </div>
  </form>
</p-dialog>
