:host /deep/ p-table {
  border: 1px solid #838383;
  display: table;
  width: 99.8%;
}

:host /deep/ p-table .ui-table {
  font-size: 85%;
}

:host /deep/ p-table .ui-table .ui-table-scrollable-body{
  background-color: #fff;
  height: 120px;
}

:host /deep/ p-table .ui-table-tbody .ui-selectable-row:hover{
  background-color: rgba(84, 104, 138, 0.342);
}

:host /deep/ p-table .ui-table .ui-table-thead > tr > th{
  padding: 0;
  background-color: #b3aee0;
}

:host /deep/ p-table .ui-table .ui-table-tbody > tr > td{
  padding: 0 0.5em;
}

:host /deep/ p-dropdown .ui-dropdown .ui-dropdown-panel .ui-dropdown-items-wrapper .ui-dropdown-items {
  display: unset;
}

:host /deep/ p-dropdown .ui-dropdown .ui-dropdown-panel {
  top: 0 !important;
}

:host /deep/ p-dialog.novoproc .ui-dialog .ui-widget-content {
  width: 100%;
  height: auto;
  position: relative;
}

:host /deep/ p-calendar .ui-datepicker .ui-datepicker-group .ui-datepicker-calendar-container .ui-datepicker-calendar{
  font-size: 75%;
}

.botaotab {
  font-size: 70%;
}

.botaoedicao {
  cursor: pointer;
  margin-left: 5px;
}

.botaoedicao i {
  font-size: 140%;
  text-align: center;
  vertical-align: middle;
}

.linhas {
  width: 100%;
  display: table;
}

.blocodalinha {
  display: inline-grid;
}

:host /deep/ p-dropdown .ui-dropdown{

}

:host /deep/ p-dropdown .ui-dropdown.ui-dropdown-open {
  z-index: 150;
}
