<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>

<div class="corpo">
  <p-table [value]="procedimentos" [scrollable]="true" selectionMode="single"
    [(selection)]="procedimentoselecionado" dataKey="codigo" class="tabelas">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60%;">Procedimento</th>
        <th style="width: 15%;">Data Exec.</th>
        <th style="width: 15%;">Prev. Ent. Laudo</th>
        <th style="width: 10%;">Opções</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-procedimento>
      <tr [pSelectableRow]="procedimento">
        <td style="width: 60%;">{{ procedimento?.procedimentomedico?.nome}}</td>
        <td style="width: 15%; text-align: center;">{{ procedimento?.dataexecucao | date:'dd/MM/yyyy' }}</td>
        <td style="width: 15%; text-align: center;">{{ procedimento?.preventregalaudo | date:'dd/MM/yyyy' }}</td>
        <td style="width: 10%; text-align: center;">
          <a class="botaoedicao" (click)="PrepararEdicaoProcedimento(procedimento)">
            <i class="fa fa-pencil" style="color: #3e67ee;"></i> </a>

          <a class="botaoedicao" (click)="RemoverProcedimento(rowIndex)">
            <i class="fa fa-trash" style="color: #ee3e3e;"></i>
          </a>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">
          Nenhum Procedimento adicionado
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div>
    <button style="margin-top: 1px;" pButton label="Adicionar" icon="fa fa-plus" type="button"
      class="ui-button-primary botaotab" (click)="PrepararNovoProcedimento()"></button>
  </div>
</div>

<p-dialog class="novoproc" [header]="'Novo Procedimento'" [style]="{'width': '30vw'}"
  [(visible)]="exbindoFormularioProcedimento">

  <form #frmContato="ngForm" (ngSubmit)="ConfirmarProcedimento()" autocomplete="off">
    <div class="linhas">
      <div class="blocodalinha" style="width: 90%;">
        <label>Procedimento Médico</label>
        <p-dropdown id="procedimentomedico" [style]="{'line-height': '12px', 'width': '23%', 'position': 'fixed'}"
          [options]="procedimentomedicos" [filter]="true" [(ngModel)]="procedimento.procedimentomedico"
          #procedimentomedico="ngModel" placeholder="Selecione..." name="procedimentomedico"
          (onChange)="CarregarProcedimentosMedico(); AdicionandoDias()" [disabled]="editando">
        </p-dropdown>
      </div>

      <div class="blocodalinha" style="width: 5%;">
        <label style="opacity: 1%;">.</label>
        <button type="button" class="minibotao">
          <img src="/assets/img/FKEY_WINDOW.png">
        </button>
      </div>
    </div>

    <div class="linhas">
      <div class="blocodalinha" style="width: 90%;">
        <label>Profissional Executante</label>

        <p-dropdown [style]="{'line-height': '12px', 'width': '23%', 'position': 'fixed'}" [filter]="true"
          [options]="profissionalexecutantes" [(ngModel)]="procedimento.profexecutante"
          placeholder="Selecione..." name="profexecutante" #profexecutante="ngModel"
          (onChange)="CarregaProfissionalExecutante();"></p-dropdown>
      </div>

      <div class="blocodalinha" style="width: 5%;">
        <label style="opacity: 1%;">.</label>
        <button type="button" class="minibotao">
          <img src="/assets/img/FKEY_WINDOW.png">
        </button>
      </div>
    </div>

    <div class="linhas">
      <div class="blocodalinha" style="width: 33%;">
        <label>Valor Paciente</label>
        <input style="width: 95%; height: 24px;" type="text" pInputText name="valorpaciente"
          [(ngModel)]="procedimento.valorpaciente" placeholder="0.00" #valorpaciente="ngModel">
      </div>

      <div class="blocodalinha" style="width: 33%;">
        <label>Prev. Ent. Laudo</label>
        <p-calendar [inputStyle]="{ 'width': '8.5%', 'height': '24px', 'position': 'fixed',
          'border-radius': '2px' }" [style]="{'position': 'fixed', 'z-index': '100'}"
          placeholder="00/00/0000" dateFormat="dd/mm/yy" [monthNavigator]="true"
          [yearNavigator]="true" yearRange="1930:2020" name="preventregalaudo" #preventregalaudo="ngModel"
          [(ngModel)]="procedimento.preventregalaudo" id="preventregalaudo"></p-calendar>
      </div>

      <div class="blocodalinha" style="width: 33%;">
        <label>Data Execução</label>
        <p-calendar [inputStyle]="{ 'width': '9%', 'height': '24px', 'position': 'fixed',
          'border-radius': '2px' }" [style]="{'position': 'fixed', 'z-index': '100'}"
          placeholder="00/00/0000" dateFormat="dd/mm/yy" [monthNavigator]="true"
          [(ngModel)]="procedimento.dataexecucao" yearRange="1930:2020" name="dataexecucao"
          [yearNavigator]="true" #dataexecucao="ngModel"></p-calendar>
      </div>
    </div>

    <div class="linhas" style="margin-top: 5px; text-align: center;">
      <button pButton type="submit" label="Gravar" style="margin: 0 5px;"></button>
      <button pButton type="button" label="Voltar" (click)="BotaoCancelar()" style="margin: 0 5px;"></button>
    </div>
  </form>
</p-dialog>
