<div class="wrapper">

    <div class="menu" *ngIf="ExibindoNavbar()">
      <app-navbar></app-navbar>
    </div>


    <div id="conteudo">
      <div id="fundo">
        <img src="/assets/img/IMAGEM_DE_FUNDO.jpg" alt="" *ngIf="ExibindoFundo()"/>
        <div style="width: 100%; height: 100%; background-color: #283134;" *ngIf="!ExibindoFundo()"></div>
      </div>
      <router-outlet></router-outlet>
    </div>

    <div class="rodape" *ngIf="ExibirRodape()">
      <app-footer style="width: 100%;"></app-footer>
    </div>

</div>
