<div style="width: 100%;">
  <p-accordion>
    <p-accordionTab header="Dados do Equipamento">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="equip" [filter]="true"
        [(ngModel)]="camposdolaudo.campo1" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo2" [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Estruturas do eco médio">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="ecomedios" [filter]="true"
        [(ngModel)]="camposdolaudo.campo3" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfFigado()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo4" [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Parênquima cerebral">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="cerebrals" [filter]="true"
        [(ngModel)]="camposdolaudo.campo5" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfViasBiliares()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo6" [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Tálamo">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="talamos" [filter]="true"
        [(ngModel)]="camposdolaudo.campo7" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVesicula()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo8" [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Núcleos da base">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="nucleobases" [filter]="true"
        [(ngModel)]="camposdolaudo.campo9" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo10  " [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Ventrílucos">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="ventrilucos" [filter]="true"
        [(ngModel)]="camposdolaudo.campo11" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo12  " [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Plexos coroides">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="coroides" [filter]="true"
        [(ngModel)]="camposdolaudo.campo13" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBexiga()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo14  " [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa posterior">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="posteriors" [filter]="true"
        [(ngModel)]="camposdolaudo.campo15" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBaco()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo16  " [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Espaço subdural">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="subdurals" [filter]="true"
        [(ngModel)]="camposdolaudo.campo17" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVasos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo18  " [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Observações gerais">
      <p-editor [(ngModel)]="camposdolaudo.campo19" [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="impressoes" [filter]="true"
        [(ngModel)]="camposdolaudo.campo20" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo21" [style]="{'height':'200px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div class="linhas">
        <div class="blocodalinha" style="width: 100%;">
          <label>Profissional Executante</label>
          <p-dropdown [style]="{'min-width': '100%'}" [options]="executantes"
          [filter]="true" [(ngModel)]="codigoexecutante" #codigoprofexecutante="ngModel"
          name="codigoprofexecutante" placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

