<div style="width: 100%;">
  <p-accordion>
    <p-accordionTab header="Indicação clínica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="indicacaoclinica" [filter]="true"
        [(ngModel)]="camposdolaudo.campo1" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo2" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pré-medicação / Equipamento">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 20%;">
            <label>Óptica</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="opticas" [filter]="true"
              [(ngModel)]="camposdolaudo.campo3" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfRimEsquerdo()"></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Grau de ótica rígida</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo4">
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>% Lidocaína</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo5">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Tonsilas palatinas">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="tonsilas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo6" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfViasBiliares()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo7" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Base de língua">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="baseslingua" [filter]="true"
        [(ngModel)]="camposdolaudo.campo8" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVesicula()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo9" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Valéculas">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="valeculas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo10" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo11  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Seios piriformes">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="seiospiri" [filter]="true"
        [(ngModel)]="camposdolaudo.campo12" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo13  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Epiglote">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="epiglotes" [filter]="true"
        [(ngModel)]="camposdolaudo.campo14" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo15  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas ariepiglótica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="pregasariep" [filter]="true"
        [(ngModel)]="camposdolaudo.campo16" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBexiga()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo17  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Aritenoides">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="aritenoides" [filter]="true"
        [(ngModel)]="camposdolaudo.campo18" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBaco()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo19  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Bandas ventriculares">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="bandasventri" [filter]="true"
        [(ngModel)]="camposdolaudo.campo20" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVasos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo21  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - superfície mucosa">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaismucosas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo22" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfRetroperitonio()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo23  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - bordos">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaisbordos" [filter]="true"
        [(ngModel)]="camposdolaudo.campo24" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfCostofrenicos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo25" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - coaptação">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaiscoaptacao" [filter]="true"
        [(ngModel)]="camposdolaudo.campo26" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo27" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - mobilidade">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaismobilidades" [filter]="true"
        [(ngModel)]="camposdolaudo.campo28" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo29" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - fenda">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaisfendas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo30" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo31" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Observações gerais">
      <p-editor [(ngModel)]="camposdolaudo.campo32" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="impressoes" [filter]="true"
        [(ngModel)]="camposdolaudo.campo33" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo34" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div class="linhas">
        <div class="blocodalinha" style="width: 100%;">
          <label>Profissional Executante</label>
          <p-dropdown [style]="{'min-width': '100%'}" [options]="executantes"
          [filter]="true" [(ngModel)]="codigoexecutante" #codigoprofexecutante="ngModel"
          name="codigoprofexecutante" placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

