<p-dialog header="Exames e Procedimentos Médicos" [(visible)]="display" [baseZIndex]="10000" [style]="{width: '59vw'}">
  <div>
    <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 linhas">
              <div class="ui-g-2">
                <label>Código</label>
                <input [readonly]= "true" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
              </div>

            </div>

            <div class="ui-g-12 linhas">
              <div class="ui-g-12">
                <label>Nome</label>
                <input style="width: 100%;" pInputTextarea  ng-model="text" name="nome" formControlName="nome"/>
              </div>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-4" formGroupName="grupo">
                <label>Grupo</label>
                <p-dropdown required formControlName="codigo" [options]="grupos" [autoWidth]="false" placeholder="Selecione o grupo" name="grupo"></p-dropdown>
              </div>

              <div class="ui-g-1" style="display: inline-grid; margin-top: 5px;">
                <label style="opacity: 1%;">_</label>
                <button type="button" class="minibotao" routerLink="/tabelas/listagrupoexame/novo">
                  <img src="/assets/img/FKEY_WINDOW.png">
                </button>
              </div>
            </div>
          </div>
        </p-tabPanel>

      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/tabelas/listaexameprocmedico/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar()">
          <img src="/assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Voltar();">
          <img src="/assets/img/CANCELAR.png">
          <span>Cancelar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/tabelas/listaexameprocmedico">
          <img src="/assets/img/PRINT_VIEW.png">
          <span>Voltar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>




