<div class="page-content">
  <div class="page-header">
    <h1>
      Abreviatura
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Cadastro
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="ui-g">
    <div class="ui-g-12">
      <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
        <div class="ui-g-12">
          <label class="ui-g-3" style="text-align: right;">Código</label>
          <input [readonly]= "true" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
        </div>

        <div class="ui-g-12">
          <label class="ui-g-3" style="text-align: right;">Abreviatura</label>
          <input type="text"  pInputText name="titulo" formControlName="titulo" class="ui-g-9"/>
        </div>

        <div class="ui-g-12">
          <label class="ui-g-3" style="text-align: right;">Texto</label>
          <input pInputText ng-model="text" name="texto" formControlName="texto" class="ui-g-9"/>
        </div>

        <div class="ui-g-12">
          <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
              <i class="ace-icon fa fa-check bigger-110"></i>
              Salvar
            </button>

            <button class="btn" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Limpar
            </button>
          </div>
          <div class="form-group" style="text-align: right;">
            <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
          </div>
        </div>
      </form>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->


