<div class="conteudos">
  <p-fieldset legend="{{ editando ? 'Editar' : 'Novo'}} Profissional Sol.">
  <div class="classecad">
      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()" class="formu">
        <div class="ui-g">
          <div class="ui-g-3 ui-fluid">
            <label>Código</label>
            <input [readonly]= "true" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
          </div>

          <div class="ui-g-9 ui-fluid">
            <label>Nome</label>
            <input type="text" pInputText ng-model="text" name="nome" formControlName="nome">
          </div>

          <div class="ui-g-8 ui-fluid" formGroupName="conselho">
            <div formGroupName="sigla">
              <label>Sigla</label>
              <p-dropdown required formControlName="codigo" [options]="siglas" [autoWidth]="false" placeholder="Selecione a sigla" name="sigla"></p-dropdown>
            </div>

            <label>Num do Conselho</label>
            <input type="text" pInputText ng-model="text" name="descricao" formControlName="descricao">

            <div formGroupName="estado">
              <label>UF</label>
              <p-dropdown required formControlName="codigo" [options]="estados" [autoWidth]="false" placeholder="Selecione a sigla" name="estado"></p-dropdown>
            </div>
          </div>

          <div class="ui-g-12 ui-fluid">
            <div style="text-align: left;">
              <button class="btn btn-primary" type="submit" style="margin-right: 8px;">Salvar</button>
            <button class="btn btn-outline-secondary" routerLink="/tabelas/listaprofsolicitante">Cancelar</button>
            </div>

            <div style="text-align: right;">
              <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </p-fieldset>
</div>
