<div class="page-content">
  <div class="page-header">
    <h1>
      Abreviatura
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Cadastro
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="ui-g">
    <div class="ui-g-12">
      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()" class="formu">
        <div class="ui-g-12">
          <label class="ui-g-3" style="text-align: right;">Código</label>
          <input [readonly]= "editando" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
        </div>

        <div class="ui-g-12">
          <label class="ui-g-3" style="text-align: right;">Descrição</label>
          <input type="text" pInputText ng-model="text" name="nome" formControlName="nome" class="ui-g-9">
        </div>

        <div class="ui-g-12" formGroupName="grupo">
          <label class="ui-g-3" style="text-align: right;">Grupo</label>
          <div class="ui-g-9">
            <div class="ui-g-10">
              <p-dropdown required formControlName="codigo" [options]="grupos" [autoWidth]="false" placeholder="Selecione o grupo" name="grupo"></p-dropdown>
            </div>

            <div class="ui-g-2"></div>
            <a routerLink="/tabelas/listagrupoexame/novo">Cadastrar Grupo?</a>
          </div>
        </div>

        <div class="ui-g-12">
          <div style="text-align: left;">
            <button class="btn btn-primary" type="submit" style="margin-right: 8px;">Salvar</button>
          <button class="btn btn-outline-secondary" routerLink="/tabelas/listaexameprocmedico">Cancelar</button>
          </div>

          <div style="text-align: right;">
            <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
          </div>
        </div>
      </form>
    </div>
</div>
