<div class="conteudos">
  <p-fieldset legend="{{ editando ? 'Editar' : 'Cadastrar'}} Texto">
  <div class="classecad">
      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()" class="formu">
        <div class="p-grid">
          <div class="ui-g-3 ui-fluid">
            <label>Código</label>
            <input [readonly]= "true" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
          </div>

          <div class="ui-g-9 ui-fluid">
            <label>Abreviatura</label>
            <input type="text" pInputText ng-model="text" name="abreviatura" formControlName="abreviatura">
          </div>

          <div class="ui-g-12 ui-fluid">
            <label>Texto</label>
            <input type="text" pInputText ng-model="text" name="texto" formControlName="texto">
          </div>

          <div class="ui-g-12 ui-fluid">
            <div style="text-align: left;">
              <button class="btn btn-primary" type="submit" style="margin-right: 8px;">Salvar</button>
              <button class="btn btn-outline-secondary" routerLink="/textopessoal">Cancelar</button>
            </div>

            <div style="text-align: right;">
              <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </p-fieldset>
</div>
