<div class="page-content">
  <div class="page-header">
    <h1>
      Convênio
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Cadastro
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()" class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Código</label>
          <div class="controls col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-10">
                <input [readonly]= "true" id="form-field-1" class="col-xs-10 col-sm-5" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
              </div>

              <div class="col-xs-2">
                <span class="badge badge-warning" style="text-align: right;">Ativo?</span>
                <p-checkbox ng-model="ativo" name="ativo" binary="true" formControlName="ativo"></p-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Descrição</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="nome" formControlName="nome" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right" for="form-texto">Nome do contato</label>
          <div class="col-sm-9">
            <input id="form-texto" pInputText ng-model="text" name="nomedocontato" formControlName="nomedocontato" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Observações</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="observacoes" formControlName="observacoes" class="form-control"/>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Telefone</label>
          <div class="controls col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-4">
                <p-inputMask placeholder="telefone" mask="(99) 9 9999-9999" name="telefone" formControlName="telefone"></p-inputMask>
              </div>

              <div class="col-xs-8">
                <label class="col-sm-3 control-label no-padding-right">Fax</label>
                <p-inputMask placeholder="fax" mask="(99) 9999-9999" name="fax" formControlName="fax"></p-inputMask>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">E-mail</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="email" formControlName="email" class="form-control"/>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Logradouro</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="logradouro" formControlName="logradouro" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">CEP</label>
          <div class="controls col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-6">
                <p-inputMask mask="99.999-999" name="cep" formControlName="cep"></p-inputMask>
              </div>

              <div class="col-xs-6">
                <span>Num.</span>
                <input type="text" pInputText ng-model="text" name="numero" formControlName="numero">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Complemento</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="complemento" formControlName="complemento" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Bairro</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="bairro" formControlName="bairro" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Cidade</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="cidade" formControlName="cidade" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Estado</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="estado" formControlName="estado" class="form-control"/>
          </div>
        </div>


        <div class="clearfix form-actions">
          <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
              <i class="ace-icon fa fa-check bigger-110"></i>
              Salvar
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Limpar
            </button>
          </div>
          <div style="text-align: right;">
            <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
          </div>
        </div>
      </form>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->



<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
<script src="assets/js/ace-extra.min.js"></script>
