<div class="page-content">
  <div class="page-header">
    <h1>
      Profissional Executante
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Cadastro
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="ui-g">
    <div class="ui-g-12">
      <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
        <div class="ui-g-12">
          <label class="ui-g-3" style="text-align: right;">Código</label>
          <div class="ui-g-9">
            <input [readonly]= "true" class="col-xs-10 col-sm-5" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
          </div>
        </div>

        <div class="ui-g-12">
          <label class="ui-g-3" style="text-align: right;">Nome</label>
            <input pInputText ng-model="text" name="nome" formControlName="nome" class="ui-g-9"/>
        </div>

        <div class="ui-g-12" formGroupName="contato">
          <label class="ui-g-3" style="text-align: right;">Telefone</label>
          <div class="ui-g-9">
              <div class="ui-g-4">
                <p-inputMask placeholder="telefone" mask="(99) 9 9999-9999" name="telefone" formControlName="telefone"></p-inputMask>
              </div>

              <div class="ui-g-4">
                <span>Telefone 2</span>
                <p-inputMask placeholder="telefone" mask="(99) 9999-9999" name="telefone2" formControlName="telefone2"></p-inputMask>
              </div>

              <div class="ui-g-4">
                <span>Celular</span>
                <p-inputMask placeholder="telefone" mask="(99) 9999-9999" name="celular" formControlName="celular"></p-inputMask>
              </div>
          </div>
        </div>

        <div class="ui-g-12" formGroupName="contato">
          <label class="ui-g-3" style="text-align: right;">E-mail</label>
          <input pInputText ng-model="text" name="email" formControlName="email" class="ui-g-9"/>
        </div>

        <div class="ui-g-12" formGroupName="endereco">
          <label class="ui-g-3" style="text-align: right;">Logradouro</label>
          <input pInputText ng-model="text" name="logradouro" formControlName="logradouro" class="ui-g-9"/>
        </div>

        <div class="ui-g-12" formGroupName="endereco">
          <label class="ui-g-3" style="text-align: right;">CEP</label>
          <div class="ui-g-9">
              <div class="ui-g-6">
                <p-inputMask mask="99.999-999" name="cep" formControlName="cep"></p-inputMask>
              </div>

              <div class="ui-g-6">
                <span>Num.</span>
                <input type="text" pInputText ng-model="text" name="numero" formControlName="numero">
              </div>
          </div>
        </div>

        <div class="ui-g-12" formGroupName="endereco">
          <label class="ui-g-3" style="text-align: right;">Complemento</label>
            <input pInputText ng-model="text" name="complemento" formControlName="complemento" class="ui-g-9"/>
        </div>

        <div class="ui-g-12" formGroupName="endereco">
          <label class="ui-g-3" style="text-align: right;">Bairro</label>
          <input pInputText ng-model="text" name="bairro" formControlName="bairro" class="ui-g-9"/>
        </div>

        <div class="ui-g-12" formGroupName="endereco">
          <label class="ui-g-3" style="text-align: right;">Cidade</label>
          <input pInputText ng-model="text" name="cidade" formControlName="cidade" class="ui-g-9"/>
        </div>

        <div class="ui-g-12" formGroupName="endereco">
          <label class="ui-g-3" style="text-align: right;">Estado</label>
          <input pInputText ng-model="text" name="estado" formControlName="estado" class="ui-g-9"/>
        </div>

        <div class="ui-g-12" formGroupName="conselho">
          <label class="ui-g-3" style="text-align: right;">Sigla</label>
          <div class="ui-g-9">
              <div class="ui-g-4" formGroupName="sigla">
                <p-dropdown required formControlName="codigo" [options]="siglas" [autoWidth]="false" placeholder="Selecione a sigla" name="sigla"></p-dropdown>
              </div>

              <div class="ui-g-4">
                <input type="text" placeholder="num. do conselho" pInputText ng-model="text" name="descricao" formControlName="descricao">
              </div>

              <div class="ui-g-4" formGroupName="estado">
                <span>UF</span>
                <p-dropdown required formControlName="codigo" [options]="estados" [autoWidth]="false" placeholder="Selecione a sigla" name="estado"></p-dropdown>
              </div>
            </div>
        </div>

        <div class="ui-g-12">
          <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
              <i class="ace-icon fa fa-check bigger-110"></i>
              Salvar
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Limpar
            </button>
          </div>
          <div style="text-align: right;">
            <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
          </div>
        </div>
      </form>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->

