<p-dialog header="Convênios" [(visible)]="display" [baseZIndex]="10000" [style]="{width: '59vw'}">
  <div>
    <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div class="ui-g">
            <div class="ui-g-12 linhas">
              <div class="ui-g-2 linhas">
                <label>Código</label>
                <input style="width: 90%;" [readonly]= "true" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
              </div>

              <div class="ui-g-2 linhas">
                <label>Num copias Laudo</label>
                <input type="text" pInputText ng-model="text" name="numcopiasdolaudo" formControlName="numcopiasdolaudo">
              </div>

              <div class="ui-g-6">
              </div>

              <div class="ui-g-2 linhas" style="margin-top: 10px;">
                <label>Convênio Ativo</label>
                <p-checkbox ng-model="ativo" name="ativo" [binary]="true" formControlName="ativo"></p-checkbox>
              </div>
            </div>

            <div class="ui-g-12 linhas">
              <div class="ui-g-12 linhas">
                <label>Nome</label>
                <input style="width: 100%;" pInputTextarea  ng-model="text" name="nome" formControlName="nome"/>
              </div>
            </div>

            <div class="ui-g-12 linhas">
              <div class="ui-g-12 linhas">
                <label>Observações</label>
                <textarea style="width: 100% ;height: 60px;" pInputTextarea ng-model="text" name="observacoes" formControlName="observacoes"></textarea>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Dados para contato">
            <div class="ui-g">
              <div class="ui-g-12 linhas" formGroupName="endereco">
                <div class="ui-g-2 linhas" style="display: inline-grid;">
                  <label>CEP</label>
                    <p-inputMask mask="99.999-999" name="cep" formControlName="cep"></p-inputMask>
                </div>

                <div class="ui-g-2 linhas" style="display: inline-grid;">
                  <label>Estado</label>
                  <input style="width: 95%;" pInputText ng-model="text" name="estado" formControlName="estado"/>
                </div>

                <div class="ui-g-4 linhas" style="display: inline-grid;">
                  <label>Cidade</label>
                  <input style="width: 95%;" pInputText ng-model="text" name="cidade" formControlName="cidade"/>
                </div>

                <div class="ui-g-4 linhas" style="display: inline-grid;">
                  <label>Bairro</label>
                  <input pInputText ng-model="text" name="bairro" formControlName="bairro"/>
                </div>
              </div>

              <div class="ui-g-12 linhas" formGroupName="endereco">
                <div class="ui-g-6 linhas" style="display: inline-grid;">
                  <label>Logradouro</label>
                  <input style="width: 95%;" pInputText ng-model="text" name="logradouro" formControlName="logradouro"/>
                </div>

                <div class="ui-g-6 linhas" style="display: inline-grid;">
                  <label>Complemento</label>
                  <input pInputText ng-model="text" name="complemento" formControlName="complemento"/>
                </div>
              </div>

              <div class="ui-g-12 linhas">
                  <div class="ui-g-2 linhas" style="display: inline-grid;">
                    <label>Telefone</label>
                    <p-inputMask placeholder="telefone" mask="(99) 9 9999-9999" name="telefone" formControlName="telefone"></p-inputMask>
                  </div>

                  <div class="ui-g-2 linhas" style="display: inline-grid;">
                    <label>Fax</label>
                    <p-inputMask placeholder="fax" mask="(99) 9999-9999" name="fax" formControlName="fax"></p-inputMask>
                  </div>

                  <div class="ui-g-8 linhas" style="display: inline-grid;">
                    <label>E-mail</label>
                    <input pInputText ng-model="text" name="email" formControlName="email"/>
                  </div>
              </div>

              <div class="ui-g-12 linhas" style="display: inline-grid;">
                <label>Nome do contato</label>
                <input pInputText ng-model="text" name="nomedocontato" formControlName="nomedocontato"/>
              </div>
            </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/tabelas/listaconvenio/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar()">
          <img src="/assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Voltar();">
          <img src="/assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/tabelas/listaconvenio">
          <img src="/assets/img/PRINT_VIEW.png">
          <span>Voltar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>
