<div class="page-content">
  <div class="page-header">
    <h1>
      Abreviatura
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Cadastro
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Código</label>
          <div class="col-sm-9">
            <input [readonly]= "true" id="form-field-1" class="col-xs-10 col-sm-5" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right" for="form-abreviatura" required>Abreviatura</label>
          <div class="col-sm-9">
            <input type="text"  pInputText name="titulo" formControlName="titulo" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right" for="form-texto">Texto</label>
          <div class="col-sm-9">
            <input id="form-texto" pInputText ng-model="text" name="texto" formControlName="texto" class="form-control"/>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="clearfix form-actions">
          <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
              <i class="ace-icon fa fa-check bigger-110"></i>
              Salvar
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Limpar
            </button>
          </div>
          <div style="text-align: right;">
            <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
          </div>
        </div>
      </form>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->



<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
<script src="assets/js/ace-extra.min.js"></script>
