
<div class="card">
  <div style="border: 1px solid;">
    <form #f="ngForm" autocomplete="off" class="formu ui-g">
      <div class="ui-g-4">
        <label>Atendimento: </label>
        <p-dropdown [options]="atendimentos" [autoWidth]="false" [filter]="true" [(ngModel)]="atendimentoSelecionado" #atendimentocodigo="ngModel" name="atendimentocodigo"
          placeholder="Selecione..." (onChange)="CarregarProcedimentos()"></p-dropdown>
      </div>

      <div class="ui-g-4 ui-fluid" style="display: inline-flex;">
        <label>Procedimento: </label>
        <p-dropdown [options]="procedimentosAtd" [autoWidth]="false" [filter]="true" [(ngModel)]="procedimentoAtdSelecionado" #procedimentoselecionado="ngModel" name="procedimentoselecionado"
          placeholder="Selecione..." (onChange)="ConfigurarVariavel()"></p-dropdown>
      </div>

      <div class="ui-g-4 ui-fluid" style="display: inline-flex;">
        <label>Modelo Laudo: </label>
        <p-dropdown [options]="modelos" [autoWidth]="false" [filter]="true" [(ngModel)]="modeloselecionado" #modeloselecionadoa="ngModel" name="modeloselecionadoa"
          placeholder="Selecione..." (onChange)="ConfiguraModelo(modeloselecionado)"></p-dropdown>
      </div>
    </form>
  </div>

  <div class="card-body">
    <div class="row" style="width: 100%;">
      <div style="text-align: left;">
        <button id="buttonB" title="Bold"><i class="fa fa-fw fa-bold"></i></button>
        <button id="buttonI" title="Italic"><i class="fa fa-fw fa-italic"></i></button>
        <button id="buttonU" title="Underline"><i class="fa fa-fw fa-underline"></i></button>
        <button id="buttonBullet" title="Bullet"><i class="fa fa-fw fa-list-ul"></i></button>
        <button id="buttonNumbering" title="Numbering"><i class="fa fa-fw fa-list-ol"></i></button>
        <button id="buttonQuote" title="Quote"><i class="fa fa-fw fa-quote-right"></i></button>
        <button id="buttonHeader" title="Header"><i class="fa fa-fw fa-header"></i></button>
        <button id="buttonStrike" title="Strike"><i class="fa fa-fw fa-strikethrough "></i></button>
        <button id="buttonSubscript" title="SubScript"><i class="fa fa-fw fa-subscript"></i></button>
        <button id="buttonSuperscript" title="SuperScript"><i class="fa fa-fw fa-superscript"></i></button>
        <button id="buttonTextColor" title="Color"><i class="fa fa-fw fa-paint-brush"></i></button>
        <button id="buttonFontName" title="Font"><i class="fa fa-fw fa-font"></i></button>
        <button (click)="Mudarestado('divtable')"><i class="fa fa-fw fa-table"></i></button>
        <button id="buttonAlignLeft" title="Align Left"><i class="fa fa-fw fa-align-left"></i></button>
        <button id="buttonAlignCenter" title="Align Center"><i class="fa fa-fw fa-align-center"></i></button>
        <button id="buttonAlignRight" title="Align Right"><i class="fa fa-fw fa-align-right"></i></button>
        <button id="buttonToLeft" title="Left"><i class="fa fa-fw fa-caret-square-o-left"></i></button>
        <button id="buttonToRight" title="Right"><i class="fa fa-fw fa-caret-square-o-right"></i></button>
      </div>

      <div style="text-align: right;">
        <button (click)="Mudarestado('divimagem')"><i class="fa fa-fw fa-picture-o"></i></button>
        <button id="buttonExport" title="Exportar Doc" (click)="ExportarDocumento()">Export</button>
        <button id="buttonExport" title="Clear Doc" (click)="LimparDocumento()">Clear</button>
        <button id="buttonPrint" title="Clear Doc" (click)="ImprimirDocumento()"><i class="fa fa-fw fa-print"></i></button>
        <button id="buttonPdf" title="Clear Doc" (click)="GerarPDF()"><i class="fa fa-fw fa-file-pdf-o"></i></button>
        <button id="buttonUndo" title="Back"><i class="cui-action-undo"></i></button>
        <button id="buttonRedo" title="Next"><i class="cui-action-redo"></i></button>
        <button id="buttonToSave" title="Salvar" (click)="SalvandoDocumento()"><i class="fa fa-fw fa-floppy-o"></i></button>
      </div>


      <div class="ui-g ui-fluid" id="contentDiv" style="width: 100%; height: 842px; border: solid 1px black; overflow: auto">
        <div id="cabecalho" class="cabecalho ui-g" style="text-align: center; border: 1px solid;">
          <img class="imagem" [attr.src]="imagelogo" style="margin:  0 auto; text-align: center;
            vertical-align: middle; margin-top: 15px; width: 150px; height: 80px;">
          <div class="dados" id="dados">
            <div class="ui-g-6">
              <span style="font-weight: bold; font-size: 85%;">PACIENTE</span>
              <span style="font-weight: bold; font-size: 85%;">{{atendimento.patient.patientname}}</span>
            </div>
            <div class="ui-g-6" style=" text-align: right;">
              <span style="font-weight: bold; font-size: 85%;">ATENDIMENTO</span>
              <span style="font-weight: bold; font-size: 85%;">{{atendimento.codigo}}</span>
            </div>
            <div class="ui-g-6">
              <span style="font-weight: bold; font-size: 85%;">ATENDIMENTO</span>
              <span style="font-weight: bold; font-size: 85%;">{{atendimento.dataatendimento |  date:'dd/MM/yyyy' }}</span>
            </div>
            <div class="ui-g-6" style=" text-align: right;">
                <span style="font-weight: bold; font-size: 85%;">Data Nasc</span>
                <span style="font-weight: bold; font-size: 85%;">{{atendimento.patient.birthday}}</span>

                <span style="font-weight: bold; font-size: 85%;">Idade</span>
                <span style="font-weight: bold; font-size: 85%;">{{atendimento.patient.patientage}}</span>
            </div>
            <div class="ui-g-6">
              <span style="font-weight: bold; font-size: 85%;">Dr. SOL.:</span>
              <span style="font-weight: bold; font-size: 85%;">{{atendimento.solicitante.nome}}</span>
            </div>
            <div class="ui-g-6" style=" text-align: right;">
              <span style="font-weight: bold; font-size: 85%;">Convênio</span>
              <span style="font-weight: bold; font-size: 85%;">{{atendimento.convenio.nome}}</span>
            </div>
          </div>
        </div>

        <div id="corpo" class="corpo" style="width: 93%; margin: 0 auto;"></div>
        <div id="assinatura" class="assinatura" style="width: 35%; margin: 0 auto; text-align: center; border-top: 1px solid; margin-top: 80px;">
          <div>
            <span>MÉDICO EXECUTANTE</span>
          </div>

          <div>
            <span>{{atendimento.solicitante.conselho.sigla.descricao}}-{{atendimento.solicitante.conselho.estado.uf}}-{{atendimento.solicitante.conselho.descricao}}</span>
          </div>
        </div>

    </div>
  </div>
</div>





<div id="divimagem">
  <div class="titulopop">
    Escolha Imagem
  </div>
  <div class="ui-g corpopop">
    <div class="ui-g-12">
      <div class="ui-g-12">

      </div>

      <div class="ui-g-12">
        <input type="file" (change)="inputFileChange($event)"/>
      </div>
    </div>
    <div class="ui-g-12 footerpop">
      <button label="Yes" id="buttonImagem" title="Next" (click)="Esconder('divimagem')" type="button" pButton icon="pi pi-check"></button>
      <button label="No" type="button" pButton icon="pi pi-times"  title="Next" (click)="Esconder('divimagem')"></button>
    </div>
  </div>
</div>


<div id="divtable">
  <div class="titulopop">
    Configurar Tabela
  </div>
  <div class="ui-g corpopop">
    <div class="ui-g-12">
      <div class="ui-g-12">
        <label>Qtd. de Linhas</label>
        <input type="text" pInputText [(ngModel)]="linhas"/>
      </div>

      <div class="ui-g-12">
        <label>Qtd. de Colunas</label>
        <input type="text" pInputText [(ngModel)]="colunas"/>
      </div>
    </div>
    <div class="ui-g-12 footerpop">
      <button label="Yes" id="buttonTable" title="Next" (click)="Esconder('divtable')" type="button" pButton icon="pi pi-check"></button>
      <button label="No" type="button" pButton icon="pi pi-times"  title="Next" (click)="Esconder('divtable')"></button>
    </div>
  </div>
</div>

