<button id=buttonB title="Bold"><i class="fa fa-fw fa-bold"></i></button>
<button id=buttonI title="Italic"><i class="fa fa-fw fa-italic"></i></button>
<button id=buttonU title="Underline"><i class="fa fa-fw fa-underline"></i></button>
<button id=buttonBullet title="Bullet"><i class="fa fa-fw fa-list-ul"></i></button>
<button id=buttonNumbering title="Numbering"><i class="fa fa-fw fa-list-ol"></i></button>
<button id=buttonQuote title="Quote"><i class="fa fa-fw fa-quote-right"></i></button>
<button id=buttonHeader title="Header"><i class="fa fa-fw fa-header"></i></button>
<button id=buttonStrike title="Strike"><i class="fa fa-fw fa-strikethrough "></i></button>
<button id=buttonSubscript title="SubScript"><i class="fa fa-fw fa-subscript"></i></button>
<button id=buttonSuperscript title="SuperScript"><i class="fa fa-fw fa-superscript"></i></button>
<button id=buttonTextColor title="Color"><i class="fa fa-fw fa-paint-brush"></i></button>
<button id=buttonFontName title="Font"><i class="fa fa-fw fa-font"></i></button>
<button id=buttonAlignLeft title="Align Left"><i class="fa fa-fw fa-align-left"></i></button>
<button id=buttonAlignCenter title="Align Center"><i class="fa fa-fw fa-align-center"></i></button>
<button id=buttonAlignRight title="Align Right"><i class="fa fa-fw fa-align-right"></i></button>
<button id=buttonToLeft title="Left"><i class="fa fa-fw fa-caret-square-o-left"></i></button>
<button id=buttonToRight title="Right"><i class="fa fa-fw fa-caret-square-o-right"></i></button>
<button id=buttonTable title="Table"><i class="fa fa-fw fa-table"></i></button>
<button id=buttonUndo title="Back"><i class="cui-action-undo"></i></button>
<button id=buttonRedo title="Next"><i class="cui-action-redo"></i></button>


<div id="contentDiv" style="width: 100%; height: 800px; border: solid 1px black; overflow: auto"></div>
<script src="https://microsoft.github.io/roosterjs/dist/rooster.js"></script>
