<div class="geral ui-g">
  <div class="ui-g-12">
    <div class="ui-g-2">
      <div class="botao">
        <div>
          <button type="button" class="botaoprincipal" routerLink="/operacoes/atendimento">
            <img src="/assets/img/ATENDIMENTO.png">
            <span style="margin-top: 5px; color: rgb(151, 43, 43);">Iniciar Atendimento</span>
          </button>
        </div>

        <div>
          <button class="botaoprincipal" routerLink="/tabelas/listapaciente">
            <img src="/assets/img/PACIENTE.png">
            <span style="margin-top: 5px;">Histórico</span>
          </button>
        </div>

        <div>
          <button class="botaoprincipal" routerLink="/operacoes/listasubcategoriacid">
            <img src="/assets/img/CID10.png">
            <span style="margin-top: 5px;">CID-10</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

