<div style="width: 100%; background-color: #ffffff;">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Dados do Equipamento">
      <p-editor [(ngModel)]="dadosequipamento"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Dados da gestação">
      <div>
        <div>
          <div>
            <label>Número de fetos</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>DUM</label>
            <input>
          </div>

          <div>
            <span>IGH pela amenorréia</span>

            <label>IGH</label>
            <input>
            <span>Sem.</span>
            <input>
            <span>Dias</span>

            <label>DPP</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <span>IGH pelo ultimo exame</span>

            <label>Data</label>
            <input>
            <input>
            <span>Sem.</span>
            <input>
            <span>Dias</span>

            <label>IGH</label>
            <input>
            <span>Sem.</span>
            <input>
            <span>Dias</span>

            <label>DPP</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <span>IGH pelo CCN</span>

            <label>CCN(mm)</label>
            <input>
            <input>
          </div>
        </div>

        <div>
          <div>
            <span>IGH definida pelo examinador</span>

            <label>Idade</label>
            <input>
            <span>Semanas</span>
            <input>
            <span>Dias</span>

            <label>Data do exame</label>
            <p-calendar></p-calendar>
            <label>DPP</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Desvio padrao da idade gest.</label>
            <input>
          </div>

          <div>
            <label>Semanas</label>
            <input>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Bexiga">
      <p-editor [(ngModel)]="dadosequipamento"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Vagina">
      <p-editor [(ngModel)]="dadosequipamento"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Útero">
      <div>
        <div>
          <div>
            <label>Situação</label>
            <input>
          </div>

          <div>
            <label>Posição</label>
            <input>
          </div>

          <div>
            <label>Contornos</label>
            <input>
          </div>

          <div>
            <label>Limites</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Diam. longitudinal(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. ant. post.(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. transversal(cm)</label>
            <input>
          </div>

          <div>
            <label>volume(cm³)</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Textura do miométrio</label>
            <input>
          </div>

          <div>
            <label>Canal endocervical</label>
            <input>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Saco gestacional">
      <div>
        <div>
          <div>
            <label>Inserção</label>
            <input>
          </div>

          <div>
            <label>Forma</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Diam. longitudinal(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. ant. post.(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. transversal(cm)</label>
            <input>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Embrião/Feto">
      <div>
        <div>
          <div>
            <label>Vesícula vitelinica</label>
            <input>
          </div>

          <div>
            <label>Membrana amniótica</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Presença</label>
            <input>
          </div>

          <div>
            <label>Batimentos cardíacos</label>
            <input>
          </div>

          <div>
            <label>N° (bat/min)</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Movimentos</label>
            <input>
          </div>

          <div>
            <label>Trânslucencia nucal (mm)</label>
            <input>
          </div>
        </div>

        <div>
          <p-editor [(ngModel)]="dadosequipamento"></p-editor>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Ovário direito">
      <div>
        <div>
          <div>
            <label>Posição</label>
            <input>
          </div>

          <div>
            <label>Contornos</label>
            <input>
          </div>

          <div>
            <label>Limites</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Parênquima</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Diam. longitudinal(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. ant. post.(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. transversal(cm)</label>
            <input>
          </div>

          <div>
            <label>Volume (cm³)</label>
            <input>
          </div>
        </div>

        <div>
          <p-editor [(ngModel)]="dadosequipamento"></p-editor>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Ovário esquerdo">
      <div>
        <div>
          <div>
            <label>Posição</label>
            <input>
          </div>

          <div>
            <label>Contornos</label>
            <input>
          </div>

          <div>
            <label>Limites</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Parênquima</label>
            <input>
          </div>
        </div>

        <div>
          <div>
            <label>Diam. longitudinal(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. ant. post.(cm)</label>
            <input>
          </div>

          <div>
            <label>Diam. transversal(cm)</label>
            <input>
          </div>

          <div>
            <label>Volume (cm³)</label>
            <input>
          </div>
        </div>

        <div>
          <p-editor [(ngModel)]="dadosequipamento"></p-editor>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Informações complementares sobre os ovários">
      <p-editor [(ngModel)]="dadosequipamento"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fundo de saco Douglas">
      <p-editor [(ngModel)]="dadosequipamento"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Observações gerais">
      <p-editor [(ngModel)]="dadosequipamento"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-editor [(ngModel)]="dadosequipamento"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div>
        <div>
          <label>Profissional Executante</label>
          <p-dropdown [options]="executantes" [filter]="true" [(ngModel)]="codigoexecutante" #codigoprofexecutante="ngModel" name="codigoprofexecutante"
            placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

