:host /deep/ p-accordion p-accordiontab .ui-accordion-content-wrapper {
  border-bottom: 2px solid #68686852;
}

:host /deep/ p-dropdown{
  margin-left: 0;
  margin-right: 5px;
  width: 100%;
}

:host /deep/ p-dropdown .ui-dropdown{
  border:1px solid #428bca;
  background-color: #fff;
  border-radius: 2px;
  line-height: 18px;
  margin-right: 5px;
}

:host /deep/ p-dropdown .ui-dropdown-items {
  background-color: #fff;
}

:host /deep/ p-dropdown .ui-dropdown-items li:hover {
  background-color: rgb(158, 150, 150);
  border: 1px solid rgb(158, 150, 150);
}

.linhas {
  width: 100%;
  display: table;
}

.blocodalinha {
  display: inline-grid;
  line-height: 0;
}

.blocodalinhaspan {
  display: inline-grid;
  line-height: 0;
}


:host /deep/ p-calendar .ui-calendar {
  padding: 0;
  border-radius: 3px;
}

:host /deep/ p-calendar .ui-calendar input{
  width: 90%;
}


:host /deep/ p-calendar .ui-datepicker{
  background-color: #fff;
}

:host /deep/ p-calendar .ui-datepicker .ui-datepicker-calendar-container .ui-datepicker-calendar .ng-tns-c3-2 td:hover{
  background-color: #a3a2a2;
  color: #CC0000;
}

:host /deep/ p-calendar .ui-calendar input{
  padding: 0;
}

:host /deep/  p-calendar .ui-calendar:hover {
  background-color: rgb(158, 150, 150);
  border: 1px solid rgb(158, 150, 150);
}
