
a:-webkit-any-link {
  text-decoration: none;
  color: #428bca;
}

a:-webkit-any-link:active {
  color: #428bca;
}

.menubuscar {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  margin-top: 5px;
  border: ridge;
  display: inline-flex;
}

.formulario {
  width: 100%;
  height: 100%;
}

.menubuscar .ladoesquerdo {
  width: 60%;
  height: 100%;
  align-items: center;
  display: inline-flex;
}

.menubuscar .ladoesquerdo label {
  margin-left: 5px;
}

.menubuscar input {
  width: 85%;
  height: 80%;
  margin-left: 5px;
}

.menubuscar .ladodireito {
  width: 40%;
  height: 100%;
  align-items: center;
  display: inline-flex;
}

.corpo {
  width: 100%;
  height: 220px;
  margin-top: 5px;
  border: ridge;
}

.botoes {
  width: 100%;
  height: 54px;
  margin-top: 5px;
  border: ridge;
  display: inline-flex;
  align-items: center;
}

.botao {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
}

.botaoprincipal {
  width: 65px;
  display: inline-grid;
  font-size: 78%;
  font-weight: bold;
  color: rgb(73, 71, 71);
  background-color: rgb(233, 233, 233);
  text-align: center;
  text-shadow: 0 -1px -1px rgba(0,0,0,.2)!important;
  border: 1px solid #949393;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  padding: 2px 0 2px;
  line-height: 1.7;
  position: relative;
  margin: 0 0.5px;
}

.botaoprincipal:hover {
  background-color: rgb(255, 249, 249);
  border: 1px solid rgb(80, 78, 78);
}

.botaoprincipal > img {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.botaoprincipal > a {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

:host /deep/ p-dialog .p-dialog .p-dialog-header {
  padding: 0;
  height: 25px;
  color: rgb(10, 10, 10);
  text-align: center;
  background: #B4B8C1;
  background: -webkit-linear-gradient(#E1E2E6, #B8BCC5, #A5A9B2);
  background: -o-linear-gradient(#E1E2E6, #B8BCC5, #A5A9B2);
  background: -moz-linear-gradient(#E1E2E6, #B8BCC5, #A5A9B2);
  background: linear-gradient(#E1E2E6, #B8BCC5, #A5A9B2);
  border: 1px solid rgba(114, 114, 112, 0.658);
}

:host /deep/ p-dialog .p-dialog .p-dialog-header .p-dialog-title {
  width: 95%;
  text-align: center;
  font-size: 95%;
  font-weight: bold;
}

:host /deep/ p-dialog .p-dialog .p-dialog-header .p-dialog-header-icons {
  width: 5%;
}

:host /deep/ p-dialog .p-dialog .p-dialog-content {
  padding-bottom: 0.5em;
  border-left: 2px solid #A5A9B2;
  border-bottom: 2px solid #A5A9B2;
  border-right: 2px solid #A5A9B2;
  background-color: #dfdede;
  position: relative;
}

:host /deep/ p-table {
  display: flex;
  width: 100%;
  height: 100%;
}

:host /deep/ p-table .p-datatable {
  width: 100%;
  height: 100%;
  font-size: 85%;
}

:host /deep/ p-table .p-datatable  .p-datatable-scrollable-wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

:host /deep/ p-table .p-datatable  .p-datatable-scrollable-wrapper .p-datatable-scrollable-view {
  width: 100%;
  height: 100%;
}


:host /deep/ p-table .p-datatable  .p-datatable-scrollable-wrapper .p-datatable-scrollable-view .p-datatable-scrollable-body {
  width: 100%;
  height: 82%;
}

:host /deep/ p-table .p-datatable  .p-datatable-scrollable-wrapper .p-datatable-scrollable-view .p-datatable-scrollable-body .p-datatable-tbody {
  width: 100%;
  height: 100%;
}

:host /deep/ p-table .p-datatable .p-datatable-tbody .p-selectable-row:hover{
  background-color: darkgray;
}

:host /deep/ p-table .p-datatable .p-datatable-thead > tr > th{
  padding: 0;
  background-color: #b3aee0;
}

:host /deep/ p-table .p-datatable .p-datatable-tbody > tr > td{
  padding: 0 0.5em;
}

:host /deep/ p-table  .p-datatable .p-datatable-scrollable-wrapper .p-datatable-scrollable-view .p-datatable-scrollable-header .p-datatable-scrollable-header-box{
  padding-right: 0 !important;
}

:host /deep/ p-table .p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: darkgray;
  color: #fff;
}
