<div style="width: 100%;">
  <p-accordion>
    <p-accordionTab header="Indicação clínica">
      <p-dropdown [style]="{'min-width': '98%'}" [options]="indicacaoclinica" [filter]="true"
        [(ngModel)]="camposdolaudo.campo1" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo2" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pré-medicação / Equipamento">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 25%;">
            <label>Óptica</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="opticas" [filter]="true"
              [(ngModel)]="camposdolaudo.campo3" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfRimEsquerdo()"></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Grau de ótica rígida</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo4">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>% Lidocaína fossas nasais</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo5">
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>% Lidocaína orofaringe</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo6">
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Septo nasal">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 25%;">
            <label>Septo nasal</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="septosnasal" [filter]="true"
              [(ngModel)]="camposdolaudo.campo7" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfViasBiliares()"></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Desvio</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="desvionasal" [filter]="true"
              [(ngModel)]="camposdolaudo.campo8" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfViasBiliares()"></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Direção</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="direcaonasal" [filter]="true"
              [(ngModel)]="camposdolaudo.campo9" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfViasBiliares()"></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Tipo de desvio</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="tipodesvionasal" [filter]="true"
              [(ngModel)]="camposdolaudo.campo10" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfViasBiliares()"></p-dropdown>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - mucosa direita">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="mucosadireita" [filter]="true"
        [(ngModel)]="camposdolaudo.campo11" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVesicula()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo12" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - mucosa esquerda">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="mucosaesquerda" [filter]="true"
        [(ngModel)]="camposdolaudo.campo13" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo14  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - concha inferior direita">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="conchainferiordireita" [filter]="true"
        [(ngModel)]="camposdolaudo.campo15" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo16  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - concha inferior esquerda">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="conchainfeioresquerda" [filter]="true"
        [(ngModel)]="camposdolaudo.campo17" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfPancreas()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo18  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - meato inferior direito">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="meatoinferiordireito" [filter]="true"
        [(ngModel)]="camposdolaudo.campo19" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBexiga()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo20  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - meato inferior esquerdo">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="meatoinferioresquerdo" [filter]="true"
        [(ngModel)]="camposdolaudo.campo21" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfBaco()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo22  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - concha média direita">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="conchamediadireita" [filter]="true"
        [(ngModel)]="camposdolaudo.campo23" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfVasos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo24" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - concha média esquerda">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="conchamediaesquerda" [filter]="true"
        [(ngModel)]="camposdolaudo.campo25" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfRetroperitonio()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo26  " [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - meato médio direito">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="meatomediodireito" [filter]="true"
        [(ngModel)]="camposdolaudo.campo27" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfCostofrenicos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo28" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Fossa nasal - meato médio esquerdo">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="meatomedioesquerdo" [filter]="true"
        [(ngModel)]="camposdolaudo.campo29" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo30" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Rinofaringe - cavum">
      <div style="width: 100%;">
        <div class="linhas">
          <div class="blocodalinha" style="width: 20%;">
            <label>Tipo de desvio</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="rinofaringecavum" [filter]="true"
              [(ngModel)]="camposdolaudo.campo31" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 20%;">
            <label>Tipo de desvio</label>
            <p-dropdown [style]="{'min-width': '98%'}" [options]="rinofaringeadenoide" [filter]="true"
              [(ngModel)]="camposdolaudo.campo32" #codigoprofexecutante="ngModel"
              placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>
          </div>

          <div class="blocodalinha" style="width: 25%;">
            <label>Tipo de desvio</label>
            <input style="width: 98%;" type="text" pInputText [(ngModel)]="camposdolaudo.campo33">
          </div>

          <div class="blocodalinha" style="width: 100%;">
            <p-editor [(ngModel)]="camposdolaudo.campo34" [style]="{'height':'100px'}"></p-editor>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Rinofaringe - óstios das tubas auditivas">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="rinofaringostios" [filter]="true"
        [(ngModel)]="camposdolaudo.campo35" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo36" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Rinofaringe - mobilidade palatal">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="rinofaringepalatal" [filter]="true"
        [(ngModel)]="camposdolaudo.campo37" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo38" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Tonsilas palatinas">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="tonsilaspalatinas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo39" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo40" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Úvula">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="uvulas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo41" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo42" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Base de língua">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="basedelinguas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo43" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo44" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Valéculas">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="valeculas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo45" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo46" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Seios piriformes">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="seiospiriformes" [filter]="true"
        [(ngModel)]="camposdolaudo.campo47" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo48" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Epiglote">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="epiglotes" [filter]="true"
        [(ngModel)]="camposdolaudo.campo49" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo50" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas ariepiglótica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="ariepigloticas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo51" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo52" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Aritenóides">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="aritenoides" [filter]="true"
        [(ngModel)]="camposdolaudo.campo53" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo54" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Bandas ventriculares">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="bandasventriculares" [filter]="true"
        [(ngModel)]="camposdolaudo.campo55" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo56" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - superfície mucosa">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="superficiesmucosas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo57" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo58" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - bordos">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaisbordos" [filter]="true"
        [(ngModel)]="camposdolaudo.campo59" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo60" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - coaptação">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="coaptacaos" [filter]="true"
        [(ngModel)]="camposdolaudo.campo61" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo62" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - mobilidade">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaismobilidades" [filter]="true"
        [(ngModel)]="camposdolaudo.campo63" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo64" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Pregas vocais - fenda">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="vocaisfendas" [filter]="true"
        [(ngModel)]="camposdolaudo.campo65" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="ConfOrgaos()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo66" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Observações gerais">
      <p-editor [(ngModel)]="camposdolaudo.campo67" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Impressão diagnóstica">
      <p-dropdown [style]="{'min-width': '40%'}" [options]="impressoes" [filter]="true"
        [(ngModel)]="camposdolaudo.campo68" #codigoprofexecutante="ngModel"
        placeholder="Selecione..." (onChange)="CarregarTextoEquip()"></p-dropdown>

      <p-editor [(ngModel)]="camposdolaudo.campo69" [style]="{'height':'100px'}"></p-editor>
    </p-accordionTab>

    <p-accordionTab header="Médico executante">
      <div class="linhas">
        <div class="blocodalinha" style="width: 100%;">
          <label>Profissional Executante</label>
          <p-dropdown [style]="{'min-width': '100%'}" [options]="executantes"
            [filter]="true" [(ngModel)]="codigoexecutante" #codigoprofexecutante="ngModel"
            name="codigoprofexecutante" placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

