<div style="text-align:left; margin-top: 0;" class="ui-g geral">
  <div class="topoprocedimento ui-g-12">
    <div class="ui-g-4 ui-fluid" style="display: inline-flex; padding: 0;">
      <label>Atendimento: </label>
      <p-dropdown [options]="atendimentos" [filter]="true" [(ngModel)]="atendimento.codigo" #atendimentocodigo="ngModel" name="atendimentocodigo"
        placeholder="Selecione..." (onChange)="CarregarProcedimentos()"></p-dropdown>
    </div>

    <div class="ui-g-8 ui-fluid" style="display: inline-flex; padding: 0;">
      <p-dropdown [options]="procedimentosAtd" [filter]="true" [(ngModel)]="procedimento.codigo" #procedimentoselecionado="ngModel" name="procedimentoselecionado"
        placeholder="Selecione..." (onChange)="ConfigurarVariavel()"></p-dropdown>

        <button class="botaosair" routerLink="/dashboard">
          <img src="/assets/img/SAIR.png">
          <span>Sair</span>
        </button>
    </div>
  </div>

  <div class="painelprincipal">
    <div id="divisoria">
      <p-toolbar>
        <div style="display: inline-flex; float: left;">
          <button class="botaoprincipal" style="padding-top: 15px; padding-bottom: 15px;"
             routerLink="/operacoes/editarimagem" type="button">

            <img src="/assets/img/IMPRESSORA.png">
            <span>Imprimir</span>
          </button>

          <button class="botaoprincipal" style="padding-top: 15px; padding-bottom: 15px;"
             routerLink="/operacoes/editarimagem" type="button">

            <img src="/assets/img/PDF_FILE.gif">
            <span>Gerar PDF</span>
          </button>
        </div>

        <div class="quantidadedoarray">
          <div id="quantidade">
            <p-dropdown [options]="qtdimagems" [(ngModel)]="qtdimagemselecionada" (onChange)="ConfigurarDimensoes()"></p-dropdown>
          </div>
          <div>
            <p-spinner [(ngModel)]="paginaselecionada"></p-spinner>
          </div>
          <div>
            <button pButton type="button" label="Salvando" (click)="SalvandoHtml()"></button>
          </div>
        </div>
      </p-toolbar>
    </div>

    <div cdkDropListGroup style="width: 100%; height: auto; margin: 0 auto;">
      <div class="papela4" id="papela4">
        <div id="gradeimg">
          <div>
            <div id="lab1" (drop)="Dropar($event, 0)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="0" class="imagem" [src]="listaimagemsbase[0]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab2" (drop)="Dropar($event, 1)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="1" class="imagem" [src]="listaimagemsbase[1]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab3" (drop)="Dropar($event, 2)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="2" class="imagem" [src]="listaimagemsbase[2]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab4" (drop)="Dropar($event, 3)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="3" class="imagem" [src]="listaimagemsbase[3]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab5" (drop)="Dropar($event, 4)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="4" class="imagem" [src]="listaimagemsbase[4]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab6" (drop)="Dropar($event, 5)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="5" class="imagem" [src]="listaimagemsbase[5]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab7" (drop)="Dropar($event, 6)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="6" class="imagem" [src]="listaimagemsbase[6]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab8" (drop)="Dropar($event, 7)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="7" class="imagem" [src]="listaimagemsbase[7]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab9" (drop)="Dropar($event, 8)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="8" class="imagem" [src]="listaimagemsbase[8]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab10" (drop)="Dropar($event, 9)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="9" class="imagem" [src]="listaimagemsbase[9]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab11" (drop)="Dropar($event, 10)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="10" class="imagem" [src]="listaimagemsbase[10]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab12" (drop)="Dropar($event, 11)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="11" class="imagem" [src]="listaimagemsbase[11]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab13" (drop)="Dropar($event, 12)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="12" class="imagem" [src]="listaimagemsbase[12]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab14" (drop)="Dropar($event, 13)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="13" class="imagem" [src]="listaimagemsbase[13]?.imagem">
            </div>
          </div>

          <div>
            <div id="lab15" (drop)="Dropar($event, 14)" (dragstart)="Arrastar($event)" (dragover)="PermiteArrastar($event)">
              <img id="14" class="imagem" [src]="listaimagemsbase[14]?.imagem">
            </div>
          </div>
        </div>
      </div>

      <div class="baseescolha">
        <div style="width: 80%; float: left;">
          <p-scrollPanel>
            <div style="display: inline-flex; margin: 0 auto; text-align: center;" (drop)="DropRetorno($event)" (dragover)="PermiteArrastar($event)">
              <div *ngFor="let image of procedimento.listaimagem" draggable="true" (dragstart)="Arrastar($event)">
                <img [attr.id]="image.nomeimagem" class="imagemarray" [src]="image?.imagem"/>
              </div>
            </div>
          </p-scrollPanel>
        </div>

        <div style="width: 20%; float: right; border-left: 1px solid #cc0000; color: #000;">

        </div>
      </div>
      <div class="aff" style="width: 100%; top: 120px; position: relative;"></div>
    </div>
  </div>
