.geral {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: #D6D9DF;
  display: flex;
}

.painelesquerda {
  width: 68%;
  height: 100%;
}

.paineldireita {
  width: 32%;
  height: 100%;
  border-left: solid 2px;
}

.painelprincipal {
  width: 100%;
  height: 100%;
}

.topoopcoes {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  color: #242323;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.paginaescolhida {
  width: 100%;
  height: 6%;
  display: inline-flex;
}

.arraydepaginas {
  margin-top: 5px;
  margin-bottom: 3px;
  width: 100%;
  height: 19%;
  overflow: auto;
  display: inline-flex;
  border: 0 none;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.baseescolha {
  width: 100%;
  height: 75%;
  margin: 0px auto;
}

.baseimagensescolha {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: inline-grid;
  margin: 0 auto;
  text-align: center;
}

.papela4 {
  width: 210mm;
  height: 300mm;
  margin: 0 auto;
  background-color: rgb(246, 250, 231);
  border: 1px solid #242323;
  margin-top: 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto1grande {
  margin: 0 auto;
  width: 140mm;
  height: 105mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto1media {
  margin: 0 auto;
  width: 100mm;
  height: 73mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}


.foto2grande {
  margin: 0 auto;
  display: flex;
  width: 140mm;
  height: 105mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto2media {
  margin: 0 auto;
  display: flex;
  width: 107mm;
  height: 73mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto3media {
  margin: 0 auto;
  display: flex;
  width: 80mm;
  height: 66mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto4grande {
  margin: 0 auto;
  display: inline-flex;
  width: 90mm;
  height: 68mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto4media {
  margin: 0 auto;
  display: inline-flex;
  width: 80mm;
  height: 66mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto4pequena {
  margin: 0 auto;
  display: inline-flex;
  width: 65mm;
  height: 50mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto6grande {
  margin: 0 auto;
  display: inline-flex;
  width: 90mm;
  height: 68mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto6media {
  margin: 0 auto;
  display: inline-flex;
  width: 80mm;
  height: 66mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto8grande {
  margin: 0 auto;
  display: inline-flex;
  width: 90mm;
  height: 65mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto8pequena {
  margin: 0 auto;
  display: inline-flex;
  width: 65mm;
  height: 50mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto9pequena {
  margin: 0 auto;
  display: inline-flex;
  width: 55mm;
  height: 40mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto12pequena {
  margin: 0 auto;
  display: inline-flex;
  width: 55mm;
  height: 40mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.foto15pequena {
  margin: 0 auto;
  display: inline-flex;
  width: 55mm;
  height: 40mm;
  border: solid 1px rgba(112, 112, 112, 0.493);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.imagem {
  width: 100%;
  height: 100%;
}

.imagemarray {
  width: 300px;
  height: 130px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#lab1, #lab2,#lab3, #lab4, #lab5, #lab6, #lab7, #lab8, #lab9, #lab10, #lab11, #lab12, #lab13, #lab14, #lab15 {
  display: none;
}

