<div class="container" style="position: relative;">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatório Por Profissional Executante</h1>
    </div>

    <div>
      <label>Conselho: </label>
      <p-dropdown id="dropcrm" placeholder="Selecione" [options]="crms" [autoWidth]="false"></p-dropdown>
    </div>

    <div>
      <label>Estado: </label>
      <p-dropdown id="dropestado" placeholder="UF" [options]="estados" [autoWidth]="false"></p-dropdown>
    </div>

    <button class="btn btn-outline-dark" (click)="GerarProfExecutante()">Gerar Relatório</button>
  </div>
</div>
