<p-dialog header="Convênios" [(visible)]="display">
  <div class="corpo">
    <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div class="linhas">
            <div class="blocodalinha">
              <label>Código</label>
              <input style="width: 80%;" [readonly]= "true" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
            </div>

            <div class="blocodalinha">
              <label>Num copias Laudo</label>
              <input style="width: 80%;" type="text" pInputText ng-model="text" name="numcopiasdolaudo" formControlName="numcopiasdolaudo">
            </div>

            <div class="blocodalinha" style="text-align: right; float: right;">
              <label>Convênio Ativo</label>
              <p-checkbox ng-model="ativo" name="ativo" [binary]="true" formControlName="ativo"></p-checkbox>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;">
              <label>Nome</label>
              <input style="width: 100%; text-transform: uppercase;" pInputTextarea  ng-model="text" name="nome" formControlName="nome"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;">
              <label>Observações</label>
              <textarea style="width: 100% ; height: 90px; text-transform: uppercase;" pInputTextarea ng-model="text" name="observacoes" formControlName="observacoes"></textarea>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Dados para contato">
          <div class="linhas" formGroupName="endereco">
            <div class="blocodalinha" style="width: 12%;">
              <label>CEP</label>
              <p-inputMask mask="99.999-999" name="cep" formControlName="cep"></p-inputMask>
            </div>

            <div class="blocodalinha" style="width: 6%;">
              <label style="opacity: 1%;">.</label>
              <button type="button" class="minibotao">
                <img src="assets/img/FKEY_WINDOW.png">
              </button>
            </div>

            <div class="blocodalinha" style="width: 12%;">
              <label>Estado</label>
              <input style="width: 95%; text-transform: uppercase;" pInputText ng-model="text" name="estado" formControlName="estado"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Cidade</label>
              <input style="width: 95%; text-transform: uppercase;" pInputText ng-model="text" name="cidade" formControlName="cidade"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Bairro</label>
              <input style="text-transform: uppercase;" pInputText ng-model="text" name="bairro" formControlName="bairro"/>
            </div>
          </div>

          <div class="linhas" formGroupName="endereco">
            <div class="blocodalinha" style="width: 18%">
              <label>Tipo</label>
              <input pInputText ng-model="text" name="logradouro" style="width: 95%;"/>
            </div>

            <div class="blocodalinha" style="width: 47%;">
              <label>Logradouro</label>
              <input style="width: 96%; text-transform: uppercase;" pInputText ng-model="text" name="logradouro" formControlName="logradouro"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Complemento</label>
              <input style="text-transform: uppercase;" pInputText ng-model="text" name="complemento" formControlName="complemento"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 24%;">
              <label>Telefone</label>
              <p-inputMask placeholder="telefone" mask="(99) 9 9999-9999" name="telefone" formControlName="telefone"></p-inputMask>
            </div>

            <div class="blocodalinha" style="width: 24%;">
              <label>Fax</label>
              <p-inputMask placeholder="fax" mask="(99) 9999-9999" name="fax" formControlName="fax"></p-inputMask>
            </div>

            <div class="blocodalinha" style="width: 52%;">
              <label>E-mail</label>
              <input pInputText ng-model="text" name="email" formControlName="email"/>
            </div>
          </div>

          <div class="blocodalinha" style="width: 100%;">
            <label>Nome do contato</label>
            <input style="text-transform: uppercase;" pInputText ng-model="text" name="nomedocontato" formControlName="nomedocontato"/>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado" style="margin-right: 10px;">
          <img src="assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/listaconvenio/novo">
          <img src="assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar()">
          <img src="/assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/listaconvenio">
          <img src="assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>
