<p-dialog header="Exames e Procedimentos Médicos" [(visible)]="display">
  <div class="menubuscar">
    <form #f="ngForm" autocomplete="off" class="formu">
      <div class="ui-g-8">
        <label>Buscar  </label>
        <input id="buscando" pInputText ng-model="text"  style="width: 85%;" (keypress)="BuscaDinamica()"/>
      </div>

      <div class="ui-g-4">
        <label>no campo  </label>
        <p-dropdown [style]="{'min-width': '65%'}" id="codigodrop" [options]="camposbusca"></p-dropdown>
      </div>
    </form>
  </div>

  <div class="table-responsive corpo">
    <p-table [value]="procedimentos" [scrollable]="true"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      selectionMode="single" [(selection)]="procedimento" dataKey="codigo">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Código</th>
          <th style="width: 35%;">Título</th>
          <th style="width: 15%;">Grupo Pert.</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-procedimento>
        <tr [pSelectableRow]="procedimento">
          <td style="width: 10%;">{{procedimento?.codigo}}</td>
          <td style="width: 35%; text-transform: uppercase;"><a [routerLink]="['/listaexameprocmedico', procedimento.codigo]">{{procedimento?.nome}}</a></td>
          <td style="width: 15%; text-transform: uppercase;">{{procedimento?.grupo?.nomegrupo}}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal" (click)="PrimeiraSelecao()">
          <img src="assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="AnteriorSelecao()">
          <img src="assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="ProximaSelecao()">
          <img src="assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="UltimaSelecao()" style="margin-right: 10px;">
          <img src="assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/listaexameprocmedico/novo">
          <img src="assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="AtivarExcluir()">
          <img src="assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/home">
          <img src="assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="assets/img/VISUALIZAR.png">
          <span>Visualizar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog class="excluir" header="Excluir {{procedimento?.nome}}" [(visible)]="exclusao" [baseZIndex]="10001" [style]="{width: '30vw'}">
  <span>DESEJA EXCLUIR O REGISTRO => {{procedimento?.nome}}?</span>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" *ngIf="procedimento?.codigo != null" (click)="Excluir()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="exclusao=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
