// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


@font-face {
  font-family: "Source Sans Pro Light";
  src: url("assets/fonte/TTF/SourceSansPro-Light.ttf"); }


@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("assets/fonte/TTF/SourceSansPro-SemiBold.ttf");
}
