<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>

<p-dialog header="Profissional Executante" [(visible)]="display">
  <div class="corpo">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="Salvar(f)">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div style="width: 70%; float: left;">
            <div class="linhas" style="width: 100%;">
              <div class="blocodalinha" style="width: 20%;">
                <label>Código</label>
                <input style="width: 95%;" [readonly]= "true" type="text" pInputText name="codigo"
                  [(ngModel)]="profissional.codigo" #codigo="ngModel">
              </div>

              <div class="blocodalinha" style="width: 20%;">
                <label>Sigla</label>
                <p-dropdown [style]="{'min-width': '95%', 'line-height': '11.5px', 'border': '1px solid
                  rgb(110, 110, 110)'}" [options]="siglas" [(ngModel)]="profissional.conselho.sigla.codigo"
                  #sigla="ngModel" placeholder="Sigla" name="sigla" required id="sigla"></p-dropdown>
              </div>

              <div class="blocodalinha" style="width: 25%;">
                <label>UF</label>
                <p-dropdown [style]="{'min-width': '95%', 'line-height': '11.5px', 'border':'1px solid
                  rgb(110, 110, 110)'}" required [(ngModel)]="profissional.conselho.estado.codigo"
                  #uf="ngModel" [options]="estados" placeholder="UF" name="estado" id="estado"></p-dropdown>
              </div>

              <div class="blocodalinha" style="width: 35%;">
                <label>N. Cons.</label>
                <input type="text" placeholder="num. do conselho" pInputText name="descricao" id="conselho"
                  [(ngModel)]="profissional.conselho.descricao" #descricao="ngModel">
              </div>
            </div>

            <div class="linhas" style="width: 100%;">
              <div class="blocodalinha" style="width: 20%;">
                <label style="opacity: 0;">_</label>
                <p-radioButton name="titulo" label="Dr" value="DR" [(ngModel)]="profissional.titulo"></p-radioButton>
              </div>

              <div class="blocodalinha" style="width: 20%;">
                <label style="opacity: 0;">_</label>
                <p-radioButton name="titulo" label="Dra" value="DRA" [(ngModel)]="profissional.titulo"></p-radioButton>
              </div>

              <div class="blocodalinha" style="width: 20%;">
                <label style="opacity: 0;">_</label>
                <p-radioButton name="titulo" label="Nenhum" value="Nenhum" [(ngModel)]="profissional.titulo"></p-radioButton>
              </div>
            </div>


            <div class="linhas">
              <div class="blocodalinha" style="width: 100%;">
                <label>Nome do Profissional</label>
                <input style="width: 100%; text-transform: uppercase;" pInputTextarea name="nome"
                  [(ngModel)]="profissional.nome" #nome="ngModel" id="nome"/>
              </div>
            </div>

            <div class="linhas">
              <div class="blocodalinha" style="width: 100%;">
                <label>Frase Pessoal</label>
                <input style="width: 100%;" pInputTextarea name="frasepessoal"
                  [(ngModel)]="profissional.frasepessoal" #frasepessoal="ngModel"/>
              </div>
            </div>
          </div>

          <div style="border: 1px solid; width: 25%; height: 200px; float: right;">
            <div style="border: 1px solid; height: 60px;">

            </div>

            <div class="ui-g-12" style="text-align: center;">
              <button disabled="true" type="button" class="minibotao">
                <img src="assets/img/ADICIONAR.png">
              </button>

              <button disabled="true" type="button" class="minibotao">
                <img src="assets/img/APAGAR.png">
              </button>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-4">
                <label>Largura</label>
                <input pInputText disabled="true" style="width: 100%;"/>
              </div>

              <div class="ui-g-4">
                <label>Altura</label>
                <input pInputText disabled="true" style="width: 100%;"/>
              </div>

              <div class="ui-g-4">
                <label>Margem</label>
                <input pInputText disabled="true" style="width: 100%;"/>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Dados para contato">
          <div class="linhas">
            <div class="blocodalinha" style="width: 12%;">
              <label>CEP</label>
              <p-inputMask mask="99.999-999" name="cep" [(ngModel)]="profissional.endereco.cep"
                #cep="ngModel"></p-inputMask>
            </div>

            <div class="blocodalinha" style="width: 6%;">
              <label style="opacity: 1%;">.</label>
              <button type="button" class="minibotao">
                <img src="assets/img/FKEY_WINDOW.png">
              </button>
            </div>

            <div class="blocodalinha" style="width: 12%;">
              <label>Estado</label>
              <input pInputText name="estado" [(ngModel)]="profissional.endereco.estado"
              #estado="ngModel" style="width: 90%;"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Cidade</label>
              <input pInputText name="cidade" [(ngModel)]="profissional.endereco.cidade"
              #cidade="ngModel" style="width: 95%;"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Bairro</label>
              <input pInputText name="bairro" [(ngModel)]="profissional.endereco.bairro"
              #bairro="ngModel"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 18%">
              <label>tipo</label>
              <input pInputText ng-model="text" name="tipo" style="width: 95%;"/>
            </div>

            <div class="blocodalinha" style="width: 47%;">
              <label>Logradouro</label>
              <input pInputText name="logradouro" [(ngModel)]="profissional.endereco.logradouro"
              #logradouro="ngModel" style="width: 96%;"/>
            </div>

            <div class="blocodalinha" style="width: 35%;">
              <label>Complemento</label>
              <input pInputText name="complemento" [(ngModel)]="profissional.endereco.complemento"
              #complemento="ngModel"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 18%;">
              <label>Telefone</label>
              <p-inputMask placeholder=" telefone" mask="(99) 9 9999-9999" name="telefone"
                [(ngModel)]="profissional.contato.telefone" #telefone="ngModel"></p-inputMask>
            </div>

            <div class="blocodalinha" style="width: 18%;">
              <label>Telefone 2</label>
              <p-inputMask placeholder=" fax" mask="(99) 9999-9999" name="telefone2"
                [(ngModel)]="profissional.contato.telefone2" #telefone2="ngModel"></p-inputMask>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;">
              <label>E-mail</label>
              <input style="width: 100%;" pInputText name="email" [(ngModel)]="profissional.contato.email"
              #email="ngModel"/>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal desabilitado" style="margin-right: 10px;">
          <img src="assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/listaprofexecutante/novo">
          <img src="assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Salvar()">
          <img src="assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>
      </div>


      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" routerLink="/listaprofexecutante">
          <img src="assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button disabled="true" class="botaoprincipal desabilitado">
          <img src="assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>

