<p-dialog header="Pacientes" [(visible)]="display" [baseZIndex]="10000">
  <div class="menubuscar">
    <form #f="ngForm" autocomplete="off" class="formu">
      <div class="ui-g-6">
        <label>Buscar: </label>
        <input id="buscando" pInputText ng-model="text" (keypress)="BuscaDinamica()"/>
      </div>

      <div class="ui-g-6">
        <label>no campo: </label>
        <p-dropdown id="codigodrop" [options]="camposbusca" [autoWidth]="false"></p-dropdown>
      </div>
    </form>
  </div>

  <div class="table-responsive corpo">
    <p-table [value]="patients" [responsive]="true" [scrollable]="true"
      class="table table-striped table-bordered table-hover" (onRowSelect)="onRowSelect($event)"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      selectionMode="single" [(selection)]="patient" dataKey="idpatient" [virtualScroll]="true">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Código</th>
          <th style="width: 45%;">Nome</th>
          <th style="width: 25%;">Nascimento</th>
          <th style="width: 20%;">Data Cad.</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-patient>
        <tr [pSelectableRow]="patient">
          <td style="width: 10%;">{{patient?.idpatient}}</td>
          <td style="text-transform: uppercase; width: 45%;"><a [routerLink]="['/tabelas/listapaciente', patient.idpatient]">{{patient?.patientname}}</a></td>
          <td style="width: 25%;">{{patient?.birthday | date:'dd/MM/yyyy' }}</td>
          <td style="width: 20%;">{{patient?.datecreate | date:'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhum Paciente encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/tabelas/listapaciente/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="AtivarExcluir()">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Voltar();">
          <img src="/assets/img/CANCELAR.png">
          <span>Cancelar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/VISUALIZAR.png">
          <span>Visualizar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog header="Excluir {{patient?.patientname}" [(visible)]="exclusao" [baseZIndex]="10001" [style]="{width: '20vw'}">
  <span>DESEJA EXCLUIR O REGISTRO => {{patient?.patientname}}?</span>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" *ngIf="patient?.idpatient != null" (click)="Excluir()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="exclusao=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

