<p-dialog header="Grupo de Exames" [(visible)]="display" [baseZIndex]="10000" [style]="{width: '59vw'}">
  <div class="menubuscar">
    <div class="topoprocedimento ui-g-12">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="Salvar(f)" class="formu">
        <div class="ui-g-6">
          <label>Buscar: </label>
          <input id="buscando" pInputText ng-model="text"  style="width: 85%;" (keypress)="ConfigurarVariavel($event)"/>
        </div>

        <div class="ui-g-6">
          <label>no campo: </label>
          <p-dropdown id="chato" [options]="camposbusca" [autoWidth]="false" [(ngModel)]="codigocampo" #atendimentocodigo="ngModel" name="atendimentocodigo"></p-dropdown>
        </div>

      </form>
    </div>
  </div>

  <div class="table-responsive corpo">
    <p-table [value]="grupos" [responsive]="true" *ngIf="visible"
      class="table table-striped table-bordered table-hover" [scrollable]="true" scrollHeight="154px" [virtualScroll]="true"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      selectionMode="single" [(selection)]="grupo" dataKey="codigo"
      (onRowSelect)="onRowSelect($event)">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Código</th>
          <th>Título</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-grupo>
        <tr [pSelectableRow]="convenio">
          <td style="text-align: right; width: 10%;">{{grupo?.codigo}}</td>
          <td><a [routerLink]="['/tabelas/listagrupoexame', grupo.codigo]">{{grupo?.nome}}</a></td>
        </tr>
      </ng-template>

    </p-table>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal" routerLink="/tabelas/listagrupoexame/novo">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="AtivarExcluir()">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/CANCELAR.png">
          <span>Cancelar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/VISUALIZAR.png">
          <span>Visualizar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog header="Excluir {{grupo?.nome}}" [(visible)]="exclusao" [baseZIndex]="10001" [style]="{width: '20vw'}">
  <span>DESEJA EXCLUIR O REGISTRO => {{grupo?.nome}}?</span>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" *ngIf="grupo?.codigo != null" (click)="Excluir()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="exclusao=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
