<p-confirmDialog style="position: relative;"></p-confirmDialog>



<div class="ui-g">
  <div class="ui-g-12">
    <div class="divtudo">
      <div class="barratitulo ui-g-12">
        <label>Convênio</label>
      </div>

      <div class="menubuscar ui-g-12">
        <div class="topoprocedimento ui-g-12">
          <form #f="ngForm" autocomplete="off" (ngSubmit)="Salvar(f)" class="formu">
            <div class="ui-g-6">
              <label>Buscar: </label>
              <input id="buscando" pInputText ng-model="text"  style="width: 85%;" (keypress)="ConfigurarVariavel($event)"/>
            </div>

            <div class="ui-g-6">onkeyup
              <label>no campo: </label>
              <p-dropdown id="chato" [options]="camposbusca" [autoWidth]="false" [(ngModel)]="codigocampo" #atendimentocodigo="ngModel" name="atendimentocodigo"></p-dropdown>
            </div>

          </form>
        </div>
      </div>

      <div class="table-responsive ui-g-12 corpo">
        <p-table [value]="convenios" [responsive]="true" *ngIf="visible"
          class="table table-striped table-bordered table-hover" [scrollable]="true" scrollHeight="154px" [virtualScroll]="true"
          [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
          selectionMode="single" [(selection)]="convenio" dataKey="codigo"
          (onRowSelect)="onRowSelect($event)">

          <ng-template pTemplate="header">
            <tr>
              <th class="center">Código</th>
              <th class="center">Título</th>
              <th class="center">Telefone</th>
              <th class="center">Status</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-convenio>
            <tr [pSelectableRow]="convenio">
              <td class="center" style="text-align: center;">{{convenio.codigo}}</td>
              <td class="center"><a [routerLink]="['/tabelas/listaconvenio', convenio.codigo]">{{convenio.nome}}</a></td>
              <td class="center">{{convenio.telefone}}</td>
              <td class="center">{{convenio.ativo}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">
                Nenhum Convenio encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="botoes ui-g-12">
            <div class="botao">
              <div>
                <button type="button" class="botaoprincipal">
                  <img src="/assets/img/primeiro.png">
                  <span>Primeiro</span>
                </button>
              </div>

              <div>
                <button type="button" class="botaoprincipal">
                  <img src="/assets/img/ANTERIOR.png">
                  <span>Anterior</span>
                </button>
              </div>

              <div>
                <button type="button" class="botaoprincipal">
                  <img src="/assets/img/PROXIMO.png">
                  <span>Próximo</span>
                </button>
              </div>

              <div>
                <button type="button" class="botaoprincipal" style="margin-right: 10px;">
                  <img src="/assets/img/ultimo.png">
                  <span>Último</span>
                </button>
              </div>
              <div>
                <button type="button" class="botaoprincipal" routerLink="/tabelas/listaconvenio/novo">
                  <img src="/assets/img/ADICIONAR.png">
                  <span>Adicionar</span>
                </button>
              </div>

              <div>
                <button class="botaoprincipal" (click)="Alterar()">
                  <img src="/assets/img/ALTERAR.png">
                  <span>Alterar</span>
                </button>
              </div>

              <div>
                <button class="botaoprincipal" (click)="ConfirmarExclusao()">
                  <img src="/assets/img/APAGAR.png">
                  <span>Apagar</span>
                </button>
              </div>

              <div>
                <button class="botaoprincipal">
                  <img src="/assets/img/CANCELAR.png">
                  <span>Cancelar</span>
                </button>
              </div>

              <div>
                <button class="botaoprincipal">
                  <img src="/assets/img/IMPRESSORA.png">
                  <span>Imprimir</span>
                </button>
              </div>

              <div>
                <button class="botaoprincipal">
                  <img src="/assets/img/VISUALIZAR.png">
                  <span>Visualizar</span>
                </button>
              </div>
            </div>
          </div>
    </div>

    <div class="ui-g-12" style="text-align: right;">
      <button pButton type="button" label="Adicionar"></button>
    </div>
</div>
