<div class="card">
  <div class="card-body">
    <div class="row">
      <p-table id="tabela" [value]="convenios" [responsive]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" class="table table-responsive-sm table-hover table-outline mb-0"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 8%;">Código</th>
            <th style="width: 40%;">Título</th>
            <th style="width: 15%;">Telefone</th>
            <th style="width: 10%;">Status</th>
            <th style="width: 10%; text-align: center;">Opções</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-convenio>
          <tr>
            <td style="text-align: center;">{{convenio.codigo}}</td>
            <td>{{convenio.nome}}</td>
            <td>{{convenio.telefone}}</td>
            <td>{{convenio.ativo}}</td>
            <td style="text-align: center;">
              <button class="btn btn-outline-info" title="Editar" [routerLink]="['/tabelas/listaconvenio', convenio.codigo]"><i class="icon-pencil"></i></button>
              <button class="btn btn-outline-danger" title="Excluir" (click)="Excluir(convenio)"><i class="icon-trash"></i></button>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" style="text-align: right;">
      <button type="button" class="btn btn-outline-dark" routerLink="/tabelas/listaconvenio/novo">Adicionar</button>
    </div>
  </div>
</div>
