<div class="card">
  <div class="card-body">
    <div class="row">
      <p-table id="tabela" [value]="profissionaisexec" [responsive]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" class="table table-responsive-sm table-hover table-outline mb-0"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10%;">Código</th>
            <th style="width: 45%;">Nome</th>
            <th style="width: 15%;">Num. do Conselho</th>
            <th style="width: 20%;">E-mail</th>
            <th style="width: 10%; text-align: center;">Opções</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-profissional>
          <tr>
            <td style="text-align: center;">{{profissional.codigo}}</td>
            <td>{{profissional.nome}}</td>
            <td>{{profissional.numnoconselho}}</td>
            <td>{{profissional?.contato?.email}}</td>
            <td style="text-align: center;">
              <button class="btn btn-outline-info" title="Editar" [routerLink]="['/tabelas/listaprofexecutante', profissional.codigo]"><i class="icon-pencil"></i></button>
              <button class="btn btn-outline-danger" title="Excluir" (click)="Excluir(profissional)"><i class="icon-trash"></i></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" style="text-align: right;">
      <button type="button" class="btn btn-outline-dark" routerLink="/tabelas/listaprofexecutante/novo">Adicionar</button>
    </div>
  </div>
</div>
