<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="header smaller lighter blue">Pacientes</h3>
    <p-confirmDialog></p-confirmDialog>
    <div class="clearfix">
      <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header row">
      Tabela de Pacientes
    </div>
    <div>
    <div class="row">
      <p-table id="tabela" [value]="patients" [responsive]="true" [paginator]="true" *ngIf="visible"
        [rows]="filtro.itensPorPagina" class="table table-striped table-bordered table-hover"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="center" style="width: 10%;">Código</th>
            <th class="center" style="width: 10%;">Ident.</th>
            <th class="center" style="width: 40%;">Nome</th>
            <th class="center" style="width: 10%;">Idade</th>
            <th class="center" style="width: 10%;">Sexo</th>
            <th class="center" style="width: 12%; text-align: center;">Opções</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
          <tr>
            <td class="center" style="text-align: center;">{{patient.idpatient}}</td>
            <td class="center">{{patient.patientid}}</td>
            <td><a [routerLink]="['/tabelas/listapaciente', patient.idpatient]">{{patient.patientname}}</a></td>
            <td class="center">{{patient.patientage}}</td>
            <td class="center">{{patient.patientsex}}</td>
            <td class="center">
              <a class="tooltip-success" data-rel="tooltip" title="Editar" [routerLink]="['/tabelas/listapaciente', patient.idpatient]">
                <span class="blue">
                  <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                </span>
              </a>

              <a class="tooltip-error" data-rel="tooltip" title="Excluir" (click)="ConfirmarExclusao(patient)">
                <span class="red">
                  <i class="ace-icon fa fa-trash-o bigger-120"></i>
                </span>
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" style="text-align: right;">
      <button pButton type="button" label="Adicionar" routerLink="/tabelas/listapaciente/novo"></button>
    </div>
  </div>
</div>
