<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">Profissional Solicitante</h3>
    <p-confirmDialog></p-confirmDialog>
    <div class="clearfix">
      <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header row">
      Tabela de Profissional Solicitante
    </div>
    <div>
    <div class="row">
      <p-table id="tabela" [value]="profissionaissol" [responsive]="true" [paginator]="true" *ngIf="visible"
        [rows]="filtro.itensPorPagina" class="table table-striped table-bordered table-hover"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="center" style="width: 10%;">Código</th>
            <th class="center" style="width: 50%;">Nome</th>
            <th class="center" style="width: 20%;">Num. do Conselho</th>
            <th class="center" style="width: 10%; text-align: center;">Opções</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-profissional>
          <tr>
            <td class="center" style="text-align: center;">{{profissional.codigo}}</td>
            <td class="center"><a [routerLink]="['/tabelas/listaprofsolicitante', profissional.codigo]">{{profissional.nome}}</a></td>
            <td class="center">{{profissional.numnoconselho}}</td>
            <td class="center">
              <a class="tooltip-success" data-rel="tooltip" title="Editar" [routerLink]="['/tabelas/listaprofsolicitante', profissional.codigo]">
                <span class="blue">
                  <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                </span>
              </a>

              <a class="tooltip-error" data-rel="tooltip" title="Excluir" (click)="ConfirmarExclusao(profissional)">
                <span class="red">
                  <i class="ace-icon fa fa-trash-o bigger-120"></i>
                </span>
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" style="text-align: right;">
      <button pButton type="button" label="Adicionar" routerLink="/tabelas/listaprofsolicitante/novo"></button>
    </div>
  </div>
</div>

