<p-card class="cartao">
  <a [routerLink]="['/operacoes/atendimento', atendimento.codigo]" class="linkes ui-g-11" style="display: inline-flex;">
    <div style="margin-top: -10px; width: 10%;">
      <div>
        <label>Código</label>
      </div>

      <div>
        <span>{{atendimento.codigo}}</span>
      </div>
    </div>

    <div style="margin-top: -10px; width: 50%;">
      <div>
        <label>Nome</label>
      </div>

      <div>
        <span>{{atendimento.patient.patientname}}</span>
      </div>
    </div>

    <div style="margin-top: -10px; width: 20%;">
      <div>
        <label>Convênio</label>
      </div>

      <div>
        <span>{{atendimento.convenio.nome}}</span>
      </div>

    </div>

    <div style="margin-top: -10px; width: 20%;">
      <div>
        <label>Data Cad.</label>
      </div>

      <div>
        <i class="pi pi-calendar-plus" style="font-size: 22px; color: #E34A4A;"></i>
        <span>{{atendimento.dataatendimento}}</span>
      </div>
    </div>
  </a>

  <div class="ui-g-1" style="display: inline-flex;">
      <button class="btn btn-outline-info" title="Editar" [routerLink]="['/operacoes/atendimento', atendimento.codigo]"><i class="icon-pencil"></i></button>
      <button class="btn btn-outline-danger" title="Excluir" (click)="Excluir(atendimento)" style="margin-left: 5px;"><i class="icon-trash"></i></button>
  </div>
</p-card>

