:host /deep/ p-editor .ui-editor-container .ui-editor-toolbar {
  border: 1px solid #555555;
}

:host /deep/ p-editor .ui-editor-container .ui-editor-content {
  width: 100%;
  border: 1px solid #555555;
}
