<p-dialog header="Subcategoria CID" [(visible)]="display">
  <div class="menubuscar">
    <form #f="ngForm" autocomplete="off" class="formu">
      <div class="ui-g-8">
        <label>Buscar  </label>
        <input id="buscando" pInputText ng-model="text" (keypress)="BuscaDinamica()"/>
      </div>

      <div class="ui-g-4">
        <label>no campo  </label>
        <p-dropdown id="codigodrop" [style]="{'min-width': '65%'}" [options]="camposbusca"></p-dropdown>
      </div>
    </form>
  </div>

  <div class="table-responsive corpo">
    <p-table [value]="subcategorias" [responsive]="true" [scrollable]="true"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
      selectionMode="single" [(selection)]="subcategoria" dataKey="codigo">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%;">Código</th>
          <th>Nome</th>
          <th style="width: 30%;">Categoria</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-subcategoria>
        <tr [pSelectableRow]="subcategoria">
          <td style="text-align: right; width: 10%;">{{subcategoria?.codigotexto}}</td>
          <td style="text-transform: uppercase;"><a [routerLink]="['/subcategoriacid', subcategoria.codigo]">{{subcategoria?.nome}}</a></td>
          <td style="width: 20%;">{{subcategoria?.categoriacid10?.cid10}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhum Subcategoria encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal" (click)="PrimeiraSelecao()">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="AnteriorSelecao()">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="ProximaSelecao()">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button type="button" class="botaoprincipal" (click)="UltimaSelecao()" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>
      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/ADICIONAR.png">
          <span>Adicionar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/ALTERAR.png">
          <span>Alterar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="AtivarExcluir()">
          <img src="/assets/img/APAGAR.png">
          <span>Apagar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Voltar();">
          <img src="/assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal">
          <img src="/assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Alterar()">
          <img src="/assets/img/VISUALIZAR.png">
          <span>Visualizar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog class="excluir" header="Excluir {{subcategoria?.nome}}" [(visible)]="exclusao" [baseZIndex]="10001" [style]="{width: '40vw'}">
  <span>DESEJA EXCLUIR O REGISTRO => {{subcategoria?.nome}}?</span>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" *ngIf="subcategoria?.codigo != null" (click)="Excluir()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="exclusao=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
