<p-dialog header="Subcategoria CID" [(visible)]="display">
  <div class="corpo">
    <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
      <p-tabView>
        <p-tabPanel header="Dados Principais">
          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;">
              <label>Nome da doença/ Subcategoria</label>
              <input style="width: 100%;" pInputTextarea  ng-model="text" type="text"
                name="nome" formControlName="nome"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;" formGroupName="categoriacid10">
              <label>Categoria</label>
              <input style="width: 100%;" type="text" pInputTextarea  ng-model="text" name="nome" formControlName="nome"/>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;" formGroupName="categoriacid10">
              <div formGroupName="grupocid10">
                <label>Grupo</label>
                <input style="width: 100%;" pInputTextarea type="text"  ng-model="text" name="nome" formControlName="nome"/>
              </div>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 100%;" formGroupName="categoriacid10">
              <div formGroupName="grupocid10">
                <div formGroupName="capitulocid">
                  <label>Assunto/ Capítulo</label>
                  <input style="width: 100%;" pInputTextarea  ng-model="text" name="nome" formControlName="nome"/>
                </div>
              </div>
            </div>
          </div>

          <div class="linhas">
            <div class="blocodalinha" style="width: 25%;">
              <label>Referência</label>
              <input style="width: 90%;" pInputTextarea type="text" ng-model="text" name="referencia" formControlName="referencia"/>
            </div>

            <div class="blocodalinha" style="width: 25%;">
              <label>Causa Óbito</label>
              <input style="width: 90%;" pInputTextarea type="text" ng-model="text" name="causaobito" formControlName="causaobito"/>
            </div>

            <div class="blocodalinha" style="width: 25%;">
              <label>Restriç Sexo</label>
              <input style="width: 90%;" pInputTextarea type="text" ng-model="text" name="restrsexo" formControlName="restrsexo"/>
            </div>

            <div class="blocodalinha" style="width: 25%;">
              <label>Cód. CID</label>
              <input style="width: 90%;" pInputTextarea type="text" ng-model="text" name="codigotexto" formControlName="codigotexto"/>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>

  <div class="botoes ui-g-12">
    <div class="botao">
      <div>
        <button type="button" class="botaoprincipal">
          <img src="/assets/img/primeiro.png">
          <span>Primeiro</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/ANTERIOR.png">
          <span>Anterior</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal">
          <img src="/assets/img/PROXIMO.png">
          <span>Próximo</span>
        </button>
      </div>

      <div>
        <button disabled="true" type="button" class="botaoprincipal" style="margin-right: 10px;">
          <img src="/assets/img/ultimo.png">
          <span>Último</span>
        </button>
      </div>

      <div>
        <button class="botaoprincipal" (click)="Voltar();">
          <img src="/assets/img/CANCELAR.png">
          <span>Voltar</span>
        </button>
      </div>
    </div>
  </div>
</p-dialog>
