<p-confirmDialog></p-confirmDialog>
<div class="geral">
  <div class="topoprocedimento">
    <div class="linhas">
      <form #f="ngForm" autocomplete="off" class="formularios">
        <div style="width: 40%;">
          <span style="font-weight: bold;">Atendimento:</span>
          <p-dropdown [options]="atendimentos" [filter]="true" [(ngModel)]="atendimento.codigo"
            #atendimentocodigo="ngModel" name="atendimentocodigo" placeholder="Selecione..."
            (onChange)="CarregarProcedimentos()" [style]="{'line-height': '90%', 'width': '78%'}"></p-dropdown>
        </div>

        <div style="width: 55%;">
          <p-dropdown [options]="procedimentosAtd" [filter]="true" [(ngModel)]="procedimento.codigo"
            #procedimentoselecionado="ngModel" name="procedimentoselecionado" placeholder="Selecione..."
            (onChange)="BuscandoModelosLaudo(procedimento.codigo)" [style]="{'line-height': '90%', 'width': '95%'}"></p-dropdown>
        </div>

        <div class="blocodalinha" style="width: 5%;" *ngIf="!abrirpaginaimg">
          <button class="botaosair" routerLink="/home">
            <img src="assets/img/SAIR.png">
            <span>Sair</span>
          </button>
        </div>

        <div class="blocodalinha" style="width: 5%;" *ngIf="abrirpaginaimg">
          <button class="botaosair" (click)="EscolherLaudo()">
            <img src="assets/img/VOLTAR.png">
            <span>Voltar</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="telaimagem" style="display: none;">
    <div class="image-canvas" id="image-canvas"></div>
  </div>

  <div class="painelgerallaudo" id="painelgerallaudo" *ngIf="conferindo">
    <div class="painelesquerda">
      <div class="menubotoes">
        <button type="button" class="botaoprincipal" (click)="Salvar(f)">
          <img src="assets/img/SALVAR.png">
          <span>Salvar</span>
        </button>

        <button type="button" class="botaoprincipal desabilitado">
          <img src="assets/img/IMPRESSORA.png">
          <span>Imprimir</span>
        </button>

        <button type="button" class="botaoprincipal" (click)="Salvar(f)">
          <img src="assets/img/PDF_FILE.gif">
          <span>Gerar PDF</span>
        </button>

        <button type="button" style="width: 85px;" class="botaoprincipal" (click)="EscolherImagens()">
          <img src="assets/img/ESCOLHER_IMAGENS.png">
          <span>Escolher Img</span>
        </button>

        <button type="button" class="botaoprincipal" (click)="AtivarModelo()">
          <img src="assets/img/MODELO_LAUDO.png">
          <span>Modelo</span>
        </button>

        <button class="botaoprincipal desabilitado">
          <img src="assets/img/OPTIONS.png">
          <span>Receita</span>
        </button>

        <button class="botaoprincipal" (click)="Voltar();">
          <img src="assets/img/CANCELAR.png">
          <span>Cancelar</span>
        </button>
      </div>

      <div class="paineltexto" id="paineltexto">
        <app-textolivre [camposdolaudo]="procedimento.laudo.camposdolaudo"></app-textolivre>
      </div>
    </div>

    <div class="paineldireita">
      <div class="paineldedentro">
        <div class="carrosseldeimagens">
          <p-carousel [value]="procedimento?.listaimagem" [page]="paginafoto">
            <ng-template let-imagem pTemplate="item">
              <img style="width: 100%; height: 95%; margin: 0 auto;" [src]="imagem?.imagem"/>
            </ng-template>
          </p-carousel>
        </div>

        <div class="botoesdeeditar">
          <div class="botaoeditar">
            <button type="button" class="botaoprincipal desabilitado">
              <img src="assets/img/IMG_EDIT.png">
              <span>Editar</span>
            </button>
          </div>

          <div class="botaoeditar">
            <button type="button" class="botaoprincipal desabilitado" style="background-color: #FFFF14;">
              <span>Importar</span>
              <span>ou</span>
              <span>Mover</span>
            </button>
          </div>

          <div class="botaoeditar especial">
            <div class="esquerda">
              <button type="button" class="minibotao"  (click)="FotoAnterior()">
                <img src="assets/img/ANTERIOR.png">
              </button>

              <button type="button" class="minibotao desabilitado">
                <img src="assets/img/FULLSCREEN.png">
              </button>
            </div>

            <div class="direita">
              <button type="button" class="minibotao" (click)="FotoPosterior()">
                <img src="assets/img/PROXIMO.png">
              </button>

              <button type="button" class="minibotao desabilitado">
                <img src="assets/img/APAGAR.png">
              </button>
            </div>
          </div>

          <div class="botaoeditar">
            <div class="contadordalista">
              <span *ngIf="procedimento?.listaimagem?.length == 0">0 de 0</span>
              <span *ngIf="procedimento?.listaimagem?.length != 0">{{paginafoto}} de {{procedimento?.listaimagem?.length}}</span>
            </div>
          </div>
        </div>

        <div class="imagenslistadas">
          <div class="imagems" *ngFor="let img of procedimento?.listaimagem; let i=index" (focus)="Testes(i)">
            <img [src]="img?.imagem">
          </div>
        </div>

        <div class="botoesgravacao">
          <div class="gravar">
            <button type="button" class="minibotao desabilitado" style="height: 85%;">
              <img src="assets/img/RECORD_RED.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/PAUSE.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/SOUND_OFF.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/TV_CAPTURA.png">
            </button>
          </div>

          <div class="temporizar">
            <span style="font-weight: bold;">00:00:00</span>
          </div>

          <div class="telacheia">
            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/FULLSCREEN.png">
            </button>
          </div>
        </div>

        <div class="botoeslaudo">
          <button type="button" class="minibotao desabilitado">
            <img src="assets/img/CAMERA_FOTO.png">
            <span>Capturar Imagem</span>
          </button>

          <button type="button" class="minibotao" (click)="AbrirTelaCaptura()" style="background-color: #FFFF14;">
            <img src="assets/img/CAPTURA.png">
            <span>Mostrar Captura</span>
          </button>
        </div>

        <div class="tabelavideo">
          <div class="esquerda">
            <p-table [value]="videos" [scrollable]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 50%; padding: 0;">Vídeo</th>
                  <th style="width: 25%;">Duração</th>
                  <th style="width: 25%;">Tamanho</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-video>
                <tr>
                  <td style="width: 50%;">{{video?.codigo}}</td>
                  <td style="width: 25%;">{{video?.nome}}</td>
                  <td style="width: 25%;">{{video?.telefone}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="5">
                    Nenhum Vídeo Encontrado
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="direita">
            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/PLAY.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/APAGAR.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/PAUSE.png">
            </button>

            <button type="button" class="minibotao desabilitado">
              <img src="assets/img/DOWNLOAD.png">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="painelgeralimagem">
    <app-paginaimagens *ngIf="abrirpaginaimg" [paginadeimagens]="procedimento.paginadeimagens"
    [listaimagem]="procedimento.listaimagem"></app-paginaimagens>
  </div>
</div>

<p-dialog class="novoproc" header="Escolha o Modelo" [(visible)]="dropmodelo" [baseZIndex]="10001"
  [style]="{width: '20vw'}">
  <p-dropdown [style]="{'line-height': '90%', 'width': '17%', 'position': 'fixed'}"
    [options]="modelodelaudo" [(ngModel)]="prioridade" name="modelocodigo" id="modelocodigo"
    #modelocodigo="ngModel" (onChange)="AbrirLaudo()"></p-dropdown>
</p-dialog>
