<div class="ui-g geral">
  <div class="topoprocedimento">
    <form #f="ngForm" autocomplete="off" class="formu">
      <div class="ui-g-4 ui-fluid" style="display: inline-flex; padding: 0;">
        <label>Atendimento: </label>
        <p-dropdown [options]="atendimentos" [filter]="true" [(ngModel)]="atendimentoSelecionado" #atendimentocodigo="ngModel" name="atendimentocodigo"
          placeholder="Selecione..." (onChange)="CarregarProcedimentos()"></p-dropdown>
      </div>

      <div class="ui-g-8 ui-fluid" style="display: inline-flex; padding: 0;">
        <p-dropdown [options]="procedimentosAtd" [filter]="true" [(ngModel)]="procedimentoAtdSelecionado" #procedimentoselecionado="ngModel" name="procedimentoselecionado"
          placeholder="Selecione..." (onChange)="ConfigurarVariavel()"></p-dropdown>

          <button class="botaosair" routerLink="/dashboard">
            <img src="/assets/img/SAIR.png">
            <span>Sair</span>
          </button>
      </div>
    </form>
  </div>

  <div class="painelgeral">
    <div class="painelesquerda">
      <div class="menubotoes" style="display: inline-flex;">
        <div>
          <button type="button" class="botaoprincipal" (click)="Salvar(f)">
            <img src="/assets/img/SALVAR.png">
            <span>Salvar</span>
          </button>
        </div>

        <div>
          <button type="button" class="botaoprincipal">
            <img src="/assets/img/CANCELAR.png">
            <span>Cancelar</span>
          </button>
        </div>

        <div>
          <button type="button" class="botaoprincipal">
            <img src="/assets/img/IMPRESSORA.png">
            <span>Imprimir</span>
          </button>
        </div>

        <div>
          <button type="button" class="botaoprincipal">
            <img src="/assets/img/PDF_FILE.gif">
            <span>Gerar PDF</span>
          </button>
        </div>

        <div>
          <button type="button" class="botaoprincipal">
            <img src="/assets/img/PRINT_VIEW.png">
            <span>Vlz Laudo</span>
          </button>
        </div>

        <div>
          <button type="button" class="botaoprincipal">
            <img src="/assets/img/ESCOLHER_IMAGENS.png">
            <span>Esc Img</span>
          </button>
        </div>

        <div>
          <button (click)="AtivarExcluir()" type="button" class="botaoprincipal">
            <img src="/assets/img/MODELO_LAUDO.png">
            <span>Modelo</span>
          </button>
        </div>

        <div>
          <button type="button" class="botaoprincipal">
            <img src="/assets/img/OPTIONS.png">
            <span>Receita</span>
          </button>
        </div>
      </div>

      <div class="barradedados">
        <div style="width: 60%;">
          <p-dropdown id="codigodrop" [options]="camposbusca" [style]="{'min-width': '95%'}"></p-dropdown>
        </div>

        <div style="width: 40%; display: inline-flex;">
          <div>
            <button type="button" class="botaoprincipal">
              <img src="/assets/img/primeiro.png">
            </button>
          </div>

          <div>
            <button type="button" class="botaoprincipal">
              <img src="/assets/img/PRIMEIRO_GRANDE.png">
            </button>
          </div>

          <div>
            <button type="button" class="botaoprincipal">
              <img src="/assets/img/ULTIMO_GRANDE.png">
            </button>
          </div>

          <div>
            <button type="button" class="botaoprincipal">
              <img src="/assets/img/ultimo.png">
            </button>
          </div>
        </div>
      </div>

      <div class="paineltexto" style="background-color: #ffffff;">
        <p-panel>
          <app-textolivre *ngIf="textolivre" [laudosalvo]="procedimento.laudo.laudosalvo"></app-textolivre>
          <app-abdomeinferiormasc *ngIf="abdomeinferiormasc" [laudosalvo]="procedimento.laudo.laudosalvo"></app-abdomeinferiormasc>
          <app-abdometotal *ngIf="abdometotal" [laudosalvo]="procedimento.laudo.laudosalvo"></app-abdometotal>
          <app-obstetrico1trimestre *ngIf="obstetrico1trimestre" [laudosalvo]="procedimento.laudo.laudosalvo"></app-obstetrico1trimestre>
          <app-diversos *ngIf="diversos" [laudosalvo]="procedimento.laudo.laudosalvo"></app-diversos>
          <app-dopplerfluxometria *ngIf="dopplerfluxometria" [laudosalvo]="procedimento.laudo.laudosalvo"></app-dopplerfluxometria>
          <app-endoscopiadigalta *ngIf="endoscopiadigalta" [laudosalvo]="procedimento.laudo.laudosalvo"></app-endoscopiadigalta>
          <app-mamas *ngIf="mamas" [laudosalvo]="procedimento.laudo.laudosalvo"></app-mamas>
          <app-ecodopplercardiograma *ngIf="ecodopplercardiograma" [laudosalvo]="procedimento.laudo.laudosalvo"></app-ecodopplercardiograma>


        </p-panel>
      </div>
    </div>

    <div class="paineldireita">

    </div>
  </div>
</div>

<p-dialog header="Escolha o Modelo" [(visible)]="dropmodelo" [baseZIndex]="10001" [style]="{width: '20vw'}">
  <p-dropdown [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999', 'width': '16%'}"
    [options]="modelodelaudo" [(ngModel)]="prioridade" name="modelocodigo"
    #modelocodigo="ngModel" (onChange)="RenderizarModeloLaudo()"></p-dropdown>
</p-dialog>
