<div style="text-align:left; margin-top: 0;" class="ui-g geral">
  <div class="topoprocedimento ui-g-12">
    <form #f="ngForm" autocomplete="off" class="formu">
      <div class="ui-g-4 ui-fluid" style="display: inline-flex; padding: 0;">
        <label>Atendimento: </label>
        <p-dropdown [options]="atendimentos" [autoWidth]="false" [filter]="true" [(ngModel)]="atendimentoSelecionado" #atendimentocodigo="ngModel" name="atendimentocodigo"
          placeholder="Selecione..." (onChange)="CarregarProcedimentos()"></p-dropdown>
      </div>

      <div class="ui-g-8 ui-fluid" style="display: inline-flex; padding: 0;">
        <p-dropdown [options]="procedimentosAtd" [autoWidth]="false" [filter]="true" [(ngModel)]="procedimentosAtdSelecionado" #procedimentoselecionado="ngModel" name="procedimentoselecionado"
          placeholder="Selecione..." (onChange)="ConfigurarVariavel()"></p-dropdown>

          <button class="botaosair" routerLink="/dashboard">
            <img src="/assets/img/SAIR.png">
            <span>Sair</span>
          </button>
      </div>

    </form>
  </div>

  <div class="painelprincipal">
    <div id="divisoria" style="margin-top: 10px; border-bottom: 1px solid #000;">
      <p-toolbar>
        <div style="display: inline-flex; float: left;">
          <button class="botaoprincipal" style="padding-top: 15px; padding-bottom: 15px;"
             routerLink="/operacoes/editarimagem" type="button">

            <img src="/assets/img/IMPRESSORA.png">
            <span>Imprimir</span>
          </button>

          <button class="botaoprincipal" style="padding-top: 15px; padding-bottom: 15px;"
             routerLink="/operacoes/editarimagem" type="button">

            <img src="/assets/img/PDF_FILE.gif">
            <span>Gerar PDF</span>
          </button>
        </div>

        <div class="quantidadedoarray">
          <div id="quantidade">
            <span>sssssss</span>
          </div>

        </div>
      </p-toolbar>
    </div>

    <div class="painelprincipal cdkDropListGroup" style="display: inline-flex;">
      <div style="border: 1px solid #000; width: 75%; height: auto;">
        <div class="pagina" style="width: 60%; margin: 0 auto; background-color: #fff;">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br>
        </div>

      </div>

      <div style="width: 25%; height: auto; display: inline-grid;">

          <div class="conta" *ngFor="let imagem of procedimento.listaimagem">
            <img class="imagem" [src]="imagem.imagem" cdkDrag/>
          </div>

      </div>
    </div>
  </div>
