<div class="page-content">
  <div class="page-header">
    <h1>
      Licença
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Cadastro
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Código</label>
          <div class="col-sm-9">
            <input [readonly]= "true" class="col-xs-10 col-sm-5" type="text" pInputText ng-model="text" name="codigo" formControlName="codigo">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Razao Social</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="razaosocial" formControlName="razaosocial" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Licenciado Para</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="licenciadopara" formControlName="licenciadopara" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">CNPJ</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="cnpj" formControlName="cnpj" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">CNES</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="cnes" formControlName="cnes" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">CPF</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="cpf" formControlName="cpf" class="form-control"/>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Site</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="site" formControlName="site" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Serial</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="serial" formControlName="serial" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Qtd. de Acessos</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="qtdeacessos" formControlName="qtdeacessos" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Licenciado Para</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="licenciadopara" formControlName="licenciadopara" class="form-control"/>
          </div>
        </div>


        <div class="space-4"></div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Logradouro</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="logradouro" formControlName="logradouro" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">CEP</label>
          <div class="controls col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-6">
                <p-inputMask mask="99.999-999" name="cep" formControlName="cep"></p-inputMask>
              </div>

              <div class="col-xs-6">
                <span>Num.</span>
                <input type="text" pInputText ng-model="text" name="numero" formControlName="numero">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Complemento</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="complemento" formControlName="complemento" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Bairro</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="bairro" formControlName="bairro" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Cidade</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="cidade" formControlName="cidade" class="form-control"/>
          </div>
        </div>

        <div class="form-group" formGroupName="endereco">
          <label class="col-sm-3 control-label no-padding-right">Estado</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="estado" formControlName="estado" class="form-control"/>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Telefone 1</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="telefone1" formControlName="telefone1" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Telefone 2</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="telefone2" formControlName="telefone2" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">E-mail</label>
          <div class="col-sm-9">
            <input pInputText ng-model="text" name="email" formControlName="email" class="form-control"/>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="clearfix form-actions">
          <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
              <i class="ace-icon fa fa-check bigger-110"></i>
              Salvar
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Limpar
            </button>
          </div>
          <div style="text-align: right;">
            <a style="color: #007bff; text-decoration: underline;" (click)="Voltar();">Retornar</a>
          </div>
        </div>
      </form>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->

